.azcloud-azintelecom
    .container-fluid
        .row
            .col-xl-8.offset-xl-2
                .row
                    .col-lg-6
                        .logos
                            ="\n"
                            img(src=require("../../images/azcloud-logo.svg") alt="Logo azcloud")
                            ="\n"
                            a(href="#" target="_blank")
                                ="\n"
                                img(src=require("../../images/azintelecom-logo.svg") alt="Logo azintelecom")
                    // Col
                    |
                    |
                    .col-lg-6
                        .text
                            p SEO text. İnfrastrukturunuza uyğunlaşan və biznes artımını idarə etməyə imkan verən resurs elastikliyi. İnfrastrukturunuza uyğunlaşan və biznes artımını idarə etməyə imkan verən resurs elastikliyi
                    // Col
            // Col
// Azcloud / aztelecom (seo)