.have-question.ptb-11
    .bg-video
        video(class="lazy" autoplay muted loop playsinline)
            source(data-src=require("../../videos/network.mp4") type="video/mp4")
    |
    |
    .container-fluid
        .row
            .col-xl-8.offset-xl-2
                .inner.flex
                    p Остались какие-либо вопросы? Мы рады помочь ответить на них!
                    ="\n"
                    a(href="contact.html" class="btn btn-white") Müraciət et
