extends ../layout/layout.pug

block content
    section.page
        .about-intro(data-aos="fade-in" data-aos-duration="800")
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .page-header.text-center
                            h1.page-title Haqqımızda
                            p.subtitle İnfrastrukturunuza uyğunlaşan və #[a(href="#") biznes] artımınıidarə etməyə imkan verən #[a(href="#") resurs] elastikliyi
                        |
                        |
                        .cover
                            ="\n"
                            img(src=require("../../images/about-cover.jpg") alt="Page cover image")
                        .text
                            p "AZCLOUD" Azərbaycan və Cənubi Qafqaz regionunda TIER III, ISO 20000, ISO 22301 və ISO 27001 sertifikatlarına malik ilk data mərkəzi, 2016-cı ilin dekabr ayında “AzInTelecom” MMC tərəfindən istismara verilib. “AzInTelecom” MMC Nəqliyyat, Rabitə və Yüksək Texnologiyalar Nazirliyi (NRYTN) nəzdində fəaliyyət göstərir.Sahəsi 700 m2 –dən çox olan və tələblərinizə tam cavab verəcək sayda server dayaqlarına malik data mərkəzində verilənlərin yüksək sürətlə ötürülməsini həyata keçiririk.
                        .scroll-down
                            ="\n"
                            i.icon-arrow-down
        // About intro
        |
        |
        .our-values.ptb-11(data-aos="fade-in" data-aos-duration="800")
            .wave-texture.bottom-right
            |
            |
            .values-bg.hidden-767
                ="\n"
                img(src=require("../../images/values-bg.jpg") alt="Values background")
            |
            |
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .row
                            .col-md-6.offset-md-6
                                h2.section-title Dəyərlərimiz
                                |
                                |
                                .values-list
                                    .values-list-item
                                        .icon
                                            ="\n"
                                            img(src=require("../../images/icons/icon-user-white.svg") alt="Icon users")
                                        .label
                                            ="\n"
                                            span İnsana dəyər-Peşəkar komanda
                                    |
                                    |
                                    .values-list-item
                                        .icon
                                            ="\n"
                                            img(src=require("../../images/icons/icon-lamp-white.svg") alt="Icon lamp")
                                        .label
                                            ="\n"
                                            span Etibarlılıq
                                    |
                                    |
                                    .values-list-item
                                        .icon
                                            ="\n"
                                            img(src=require("../../images/icons/icon-cube-white.svg") alt="Icon cube")
                                        .label
                                            ="\n"
                                            span İnnovativlik
                                    |
                                    |
                                    .values-list-item
                                        .icon
                                            ="\n"
                                            img(src=require("../../images/icons/icon-shield-white.svg") alt="Icon shield")
                                        .label
                                            ="\n"
                                            span Çeviklik
                                    |
                                    |
                                    .values-list-item
                                        .icon
                                            ="\n"
                                            img(src=require("../../images/icons/icon-flash-white.svg") alt="Icon flash")
                                        .label
                                            ="\n"
                                            span Şəffaflıq
                                    |
                                    |
                                    .values-list-item
                                        .icon
                                            ="\n"
                                            img(src=require("../../images/icons/icon-lock-white.svg") alt="Icon lock")
                                        .label
                                            ="\n"
                                            span Məxfiliyin qorunması
                                // Values list
        // Our values
        |
        |
        .our-mission.ptb-11
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .info-text
                            p Misiyamız – rəqəmsal dünyada keyfiyyətə üstünlük verənlərə təhlükəsiz, etibarlı və uyğunlaşa bilən  data xidmətləri təqdim etmək
                        .statistic-nums.ptb-11
                            .row
                                .col-lg-4.col-sm-6
                                    .statistic-num.flex
                                        .image
                                            ="\n"
                                            img(src=require("../../images/mission/image0.jpg") alt="24/7 Support")
                                        .value.flex
                                            .texture.masked
                                            .text-center
                                                p 24/7
                                                p support
                                // Col
                                .col-lg-4.col-sm-6
                                    .statistic-num.flex
                                        .image
                                            ="\n"
                                            img(src=require("../../images/mission/image1.jpg") alt="Since 2016")
                                        .value.flex
                                            .texture.masked
                                            .text-center
                                                p Since
                                                p 2016
                                // Col
                                .col-lg-4.col-sm-6
                                    .statistic-num.flex
                                        .image
                                            ="\n"
                                            img(src=require("../../images/mission/image2.jpg") alt="Reliability level")
                                        .value.flex
                                            .texture.masked
                                            .text-center
                                                p 99,98%
                                                p reliability level
                                // Col
                        // Statistic numbers
                        .info-text
                            p Baxişimiz – Müştərilərə öz əsas işlərilə məşğul olmağa imkan verən regional rəqəmsal həllər provayderi olmaq Qürur duyulacaq rəqəmsal gələcəyi birlikdə quraq
        // Mission / vision
        |
        |
        .universal-block.flex(data-aos="fade-in" data-aos-duration="800")
            .info.flex
                div
                    h2.section-title Универсальный блок
                    .description
                        p Leveraging this, service providers can easily offer application developers and enterprises a wide set of capabilities to manage and control communications to and from their connected IoT
                    ="\n"
                    a(href="#" class="btn with-icon")
                        ="\n"
                        | Ətraflı bax
                        i.icon-arrow-right
                        ="\n"
            // Left
            |
            |
            .block-gallery
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            ="\n"
                            img(data-src=require("../../images/block-gallery.jpg") alt="Slide image" class="swiper-lazy")
                        .swiper-slide
                            ="\n"
                            img(data-src=require("../../images/block-gallery.jpg") alt="Slide image" class="swiper-lazy")
                        .swiper-slide
                            ="\n"
                            img(data-src=require("../../images/block-gallery.jpg") alt="Slide image" class="swiper-lazy")
                    |
                    |
                    .swiper-pagination
                    |
                    |
                    .swiper-button-prev.masked.hidden-991
                        ="\n"
                        i.icon-arrow-left
                    .swiper-button-next.masked.hidden-991
                        ="\n"
                        i.icon-arrow-right
            // Right
        // Universal block
        |
        |
        .about-data-centers.ptb-11(data-aos="fade-in" data-aos-duration="800")
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .intro.flex
                            h2.section-title Data mərkəzlər
                            .desc
                                p "AZCLOUD" Azərbaycan və Cənubi Qafqaz regionunda TIER III, ISO 20000, ISO 22301 və ISO 27001 sertifikatlarına malik ilk data mərkəzi, 2016-cı ilin dekabr ayında “AzInTelecom” MMC tərəfindən istismara verilib. “AzInTelecom” MMC Nəqliyyat, Rabitə və Yüksək Texnologiyalar Nazirliyi (NRYTN) nəzdində fəaliyyət göstərir.Sahəsi 700 m2 –dən çox olan və tələblərinizə tam cavab verəcək sayda server dayaqlarına malik data mərkəzində verilənlərin yüksək sürətlə ötürülməsini həyata keçiririk.
                        |
                        |
                        .divider
                        |
                        |
                        .data-center
                            .wave-texture.top-right
                            |
                            |
                            h3.name Baki Data Merkezi
                            |
                            |
                            .gallery.flex
                                .gallery-item
                                    .image.cover-center(style="background-image: url("+ require("../../images/data-centers/image2.jpg") +")")
                                .gallery-item
                                    .image.cover-center(style="background-image: url("+ require("../../images/data-centers/image0.jpg") +")")
                                .gallery-item
                                    .image.cover-center(style="background-image: url("+ require("../../images/data-centers/image3.jpg") +")")
                                    .image.cover-center(style="background-image: url("+ require("../../images/data-centers/image4.jpg") +")")
                            .info
                                h3.title "AZCLOUD" Azərbaycan və Cənubi Qafqaz regionunda TIER III, ISO 20000, ISO 22301 və ISO 27001 sertifikatlarına malik ilk data mərkəzi, 2016-cı ilin dekabr ayında “AzInTelecom” MMC tərəfindən istismara verilib.
                                .desc
                                    p “AzInTelecom” MMC Nəqliyyat, Rabitə və Yüksək Texnologiyalar Nazirliyi (NRYTN) nəzdində fəaliyyət göstərir. Data mərkəzimiz Almaniyanın beynəlxalq səviyyəli şirkəti tərəfindən inşa edilmiş və “Uptime Institute”unun test sınaqlarından uğurla keçərək TIER III
                                    p Beynəlxalq sertifikatına, IT xidmətlərinin göstərilməsi və idarə edilməsi üzrə ISO 20000, biznesin davamlılığı idarəetməsi üzrə ISO 22301 və informasiya təhlükəsizliyi üzrə isə ISO 27001 standartlarına layiq görülüb.
                        // Data center
                        |
                        |
                        .divider
                        |
                        |
                        .data-center
                            .wave-texture.top-right
                            |
                            |
                            h3.name Yevlax Data Merkezi
                            |
                            |
                            .gallery.flex
                                .gallery-item
                                    .image.cover-center(style="background-image: url("+ require("../../images/data-centers/image5.jpg") +")")
                                .gallery-item
                                    .image.cover-center(style="background-image: url("+ require("../../images/data-centers/image6.jpg") +")")
                                .gallery-item
                                    .image.cover-center(style="background-image: url("+ require("../../images/data-centers/image7.jpg") +")")
                                    .image.cover-center(style="background-image: url("+ require("../../images/data-centers/image8.jpg") +")")
                            .info
                                h3.title "AZCLOUD" Azərbaycan və Cənubi Qafqaz regionunda TIER III, ISO 20000, ISO 22301 və ISO 27001 sertifikatlarına malik ilk data mərkəzi, 2016-cı ilin dekabr ayında “AzInTelecom” MMC tərəfindən istismara verilib.
                                .desc
                                    p “AzInTelecom” MMC Nəqliyyat, Rabitə və Yüksək Texnologiyalar Nazirliyi (NRYTN) nəzdində fəaliyyət göstərir. Data mərkəzimiz Almaniyanın beynəlxalq səviyyəli şirkəti tərəfindən inşa edilmiş və “Uptime Institute”unun test sınaqlarından uğurla keçərək TIER III
                                    p Beynəlxalq sertifikatına, IT xidmətlərinin göstərilməsi və idarə edilməsi üzrə ISO 20000, biznesin davamlılığı idarəetməsi üzrə ISO 22301 və informasiya təhlükəsizliyi üzrə isə ISO 27001 standartlarına layiq görülüb.
                        // Data center
        // About data centers
        |
        |
        .clients.ptb-14(data-aos="fade-in" data-aos-duration="800")
            .bg-video
                video(class="lazy" autoplay muted loop playsinline)
                    source(data-src=require("../../videos/network.mp4") type="video/mp4")
            |
            |
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .section-header.text-center
                            h2.section-title Parnertlar
                        |
                        |
                        .partners-slider
                            .swiper-container
                                .swiper-wrapper
                                    .swiper-slide
                                        ="\n"
                                        a(href="#" target="_blank" class="company-thumb")
                                            ="\n"
                                            img(src=require("../../images/partners/image0.png") alt="Partner logo")
                                            ="\n"
                                    .swiper-slide
                                        ="\n"
                                        a(href="#" target="_blank" class="company-thumb")
                                            ="\n"
                                            img(src=require("../../images/partners/image0.png") alt="Partner logo")
                                            ="\n"
                                    .swiper-slide
                                        ="\n"
                                        a(href="#" target="_blank" class="company-thumb")
                                            ="\n"
                                            img(src=require("../../images/partners/image0.png") alt="Partner logo")
                                            ="\n"
                                    .swiper-slide
                                        ="\n"
                                        a(href="#" target="_blank" class="company-thumb")
                                            ="\n"
                                            img(src=require("../../images/partners/image0.png") alt="Partner logo")
                                            ="\n"
                                |
                                |
                                .swiper-pagination
                                |
                                |
                                .swiper-button-prev.masked.hidden-991
                                    ="\n"
                                    i.icon-arrow-left
                                .swiper-button-next.masked.hidden-991
                                    ="\n"
                                    i.icon-arrow-right
                        // Partners slider
        // Partners
        |
        |
        .certificates.ptb-14(data-aos="fade-in" data-aos-duration="800")
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .section-header
                            h2.section-title Sertifikat və Mükafatlar
                        |
                        |
                        .row
                            .col-lg-3.col-md-4.col-sm-6
                                .certificate
                                    .image
                                        ="\n"
                                        a(href="#" target="_blank")
                                            ="\n"
                                            img(src=require("../../images/certificates/image0.jpg") alt="Certificate")
                                    .info
                                        h3.name TIER III STANDARTI
                                        .desc
                                            p ABŞ-ın Uptime Institute-u tərəfindən işlənib-hazırlanmış Tier III kateqoriyasının əsas xüsusiyyətlərinə mühəndis altsistemlərinin paralel fəaliyyəti, ehtiyat soyutma sistemi, ehtiyat enerji təminatı sistemi, ehtiyat telekommunikasiya infrastrukturu daxildir.
                            // Col
                            |
                            |
                            .col-lg-3.col-md-4.col-sm-6
                                .certificate
                                    .image
                                        ="\n"
                                        a(href="#" target="_blank")
                                            ="\n"
                                            img(src=require("../../images/certificates/image1.jpg") alt="Certificate")
                                    .info
                                        h3.name ISO/IEC 20000 STANDARTI
                                        .desc
                                            p ISO/IEC 20000 şirkətlərə İT idarəetməsi sahəsində mükəmməlliyi nümayiş etdirməyə və ən effektiv metodları tətbiq etməyə imkan verən standartdır.
                            // Col
                            |
                            |
                            .col-lg-3.col-md-4.col-sm-6
                                .certificate
                                    .image
                                        ="\n"
                                        a(href="#" target="_blank")
                                            ="\n"
                                            img(src=require("../../images/certificates/image2.jpg") alt="Certificate")
                                    .info
                                        h3.name ISO/IEC 27001 STANDARTI
                                        .desc
                                            p ISO/IEC 27001 şirkətin informasiya təhlükəsizliyinin idarəetmə sisteminin işlənib-hazırlanması üçün nəzərdə tutulan standartdır.
                            // Col
                            |
                            |
                            .col-lg-3.col-md-4.col-sm-6
                                .certificate
                                    .image
                                        ="\n"
                                        a(href="#" target="_blank")
                                            ="\n"
                                            img(src=require("../../images/certificates/image1.jpg") alt="Certificate")
                                    .info
                                        h3.name ISO/IEC 20000 STANDARTI
                                        .desc
                                            p ISO/IEC 20000 şirkətlərə İT idarəetməsi sahəsində mükəmməlliyi nümayiş etdirməyə və ən effektiv metodları tətbiq etməyə imkan verən standartdır.
                            // Col
                            |
                            |
                            .col-lg-3.col-md-4.col-sm-6
                                .certificate
                                    .image
                                        ="\n"
                                        a(href="#" target="_blank")
                                            ="\n"
                                            img(src=require("../../images/certificates/image0.jpg") alt="Certificate")
                                    .info
                                        h3.name TIER III STANDARTI
                                        .desc
                                            p ABŞ-ın Uptime Institute-u tərəfindən işlənib-hazırlanmış Tier III kateqoriyasının əsas xüsusiyyətlərinə mühəndis altsistemlərinin paralel fəaliyyəti, ehtiyat soyutma sistemi, ehtiyat enerji təminatı sistemi, ehtiyat telekommunikasiya infrastrukturu daxildir.
                            // Col
                            |
                            |
                            .col-lg-3.col-md-4.col-sm-6
                                .certificate
                                    .image
                                        ="\n"
                                        a(href="#" target="_blank")
                                            ="\n"
                                            img(src=require("../../images/certificates/image1.jpg") alt="Certificate")
                                    .info
                                        h3.name ISO/IEC 20000 STANDARTI
                                        .desc
                                            p ISO/IEC 20000 şirkətlərə İT idarəetməsi sahəsində mükəmməlliyi nümayiş etdirməyə və ən effektiv metodları tətbiq etməyə imkan verən standartdır.
                            // Col
                            |
                            |
                            .col-lg-3.col-md-4.col-sm-6
                                .certificate
                                    .image
                                        ="\n"
                                        a(href="#" target="_blank")
                                            ="\n"
                                            img(src=require("../../images/certificates/image2.jpg") alt="Certificate")
                                    .info
                                        h3.name ISO/IEC 27001 STANDARTI
                                        .desc
                                            p ISO/IEC 27001 şirkətin informasiya təhlükəsizliyinin idarəetmə sisteminin işlənib-hazırlanması üçün nəzərdə tutulan standartdır.
                            // Col
                            |
                            |
                            .col-lg-3.col-md-4.col-sm-6
                                .certificate
                                    .image
                                        ="\n"
                                        a(href="#" target="_blank")
                                            ="\n"
                                            img(src=require("../../images/certificates/image1.jpg") alt="Certificate")
                                    .info
                                        h3.name ISO/IEC 20000 STANDARTI
                                        .desc
                                            p ISO/IEC 20000 şirkətlərə İT idarəetməsi sahəsində mükəmməlliyi nümayiş etdirməyə və ən effektiv metodları tətbiq etməyə imkan verən standartdır.
                            // Col
                        // Row
                    // Col
        // Certificates
        |
        |
        include ../includes/have-question.pug
        |
        |
        include ../includes/azcloud-azintelecom.pug
    // About page