extends ../layout/layout.pug

block content
    section.page.blog-page
        .container-fluid
            .row
                .col-xl-8.offset-xl-2
                    .page-header.text-center
                        h1.page-title Bloq
                    |
                    |
                    .load-container
                        .posts-chunk
                            .row
                                .col-12(data-aos="fade-up" data-aos-duration="800")
                                    .blog-article.flex
                                        .image.masked
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image0.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") İT infrastrukturu yaratmaqda kömək etməklə yanaşı onların idarə edilməsini təmin edir
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html")
                                                    | Ətraflı oxu
                                                    i.icon-arrow-right
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image1.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") Satış dilerlərimizə ictimai, özəl və dövlət sektoru
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image2.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") Satış dilerlərimizə ictimai, özəl və dövlət sektorundan olan müştərilərə etibarlı
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image3.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") SQL Server və poçtun idarə edilməsi üçün Exchange Server proqram
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image4.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") Satış dilerlərimizə ictimai, özəl və dövlət sektorundan olan müştərilərə etibarlı
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image5.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") Satış dilerlərimizə ictimai, özəl və dövlət sektoru
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image6.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") SQL Server və poçtun idarə edilməsi üçün Exchange Server proqram
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image7.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") Satış dilerlərimizə ictimai, özəl və dövlət sektoru
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image8.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") SQL Server və poçtun idarə edilməsi üçün Exchange Server proqram
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image9.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") Satış dilerlərimizə ictimai, özəl və dövlət sektorundan olan müştərilərə etibarlı
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image10.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") Satış dilerlərimizə ictimai, özəl və dövlət sektoru
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image11.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") Satış dilerlərimizə ictimai, özəl və dövlət sektoru
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image12.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") SQL Server və poçtun idarə edilməsi üçün Exchange Server proqram
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                        // Posts chunk
                        |
                        |
                        .posts-chunk
                            .row
                                .col-12(data-aos="fade-up" data-aos-duration="800")
                                    .blog-article.flex
                                        .image.masked
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image0.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") İT infrastrukturu yaratmaqda kömək etməklə yanaşı onların idarə edilməsini təmin edir
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html")
                                                    | Ətraflı oxu
                                                    i.icon-arrow-right
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image1.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") Satış dilerlərimizə ictimai, özəl və dövlət sektoru
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image2.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") Satış dilerlərimizə ictimai, özəl və dövlət sektorundan olan müştərilərə etibarlı
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image3.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") SQL Server və poçtun idarə edilməsi üçün Exchange Server proqram
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image4.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") Satış dilerlərimizə ictimai, özəl və dövlət sektorundan olan müştərilərə etibarlı
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image5.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") Satış dilerlərimizə ictimai, özəl və dövlət sektoru
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image6.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") SQL Server və poçtun idarə edilməsi üçün Exchange Server proqram
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image7.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") Satış dilerlərimizə ictimai, özəl və dövlət sektoru
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image8.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") SQL Server və poçtun idarə edilməsi üçün Exchange Server proqram
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image9.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") Satış dilerlərimizə ictimai, özəl və dövlət sektorundan olan müştərilərə etibarlı
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image10.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") Satış dilerlərimizə ictimai, özəl və dövlət sektoru
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image11.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") Satış dilerlərimizə ictimai, özəl və dövlət sektoru
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="800")
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image12.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") SQL Server və poçtun idarə edilməsi üçün Exchange Server proqram
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                        // Posts chunk
                    // Load container
                    |
                    |
                    |
                    .load-more
                        ="\n"
                        a(href="#" class="btn btn-block") Daha çox yüklə
        // Container fluid
        |
        |
        include ../includes/have-question.pug
        |
        |
        include ../includes/azcloud-azintelecom.pug
    // Blog page