extends ../layout/layout.pug

block content
    section.page
        .container-fluid
            .row
                .col-xl-8.offset-xl-2
                    .blog-content
                        nav.hidden-991
                            ol.breadcrumb
                                li.breadcrumb-item
                                    ="\n"
                                    a(href="index.html") Əsas səhifə
                                li.breadcrumb-item
                                    ="\n"
                                    a(href="blog.html") Bloq
                                li.breadcrumb-item İT infrastrukturu yaratmaqda kömək etməklə yanaşı onların idarə edilməsini təmin edir
                        // Breadcrumb
                        |
                        |
                        .blog-intro
                            h1.blog-title İT infrastrukturu yaratmaqda kömək
                            ="\n"
                            span.blog-date 01.05.2020
                            .blog-cover-image
                                ="\n"
                                img(src=require("../../images/blog/cover.jpg") alt="Blog title")
                                ="\n"
                                span.source Image Credits: Brian Heater
                        // Blog intro
                        |
                        |
                        .editor-body
                            p "AZCLOUD" Azərbaycan və Cənubi Qafqaz regionunda TIER III, ISO 20000, ISO 22301 və ISO 27001 sertifikatlarına malik ilk data mərkəzi, 2016-cı ilin dekabr ayında “AzInTelecom” MMC tərəfindən istismara verilib. “AzInTelecom” MMC Nəqliyyat, #[a(href="#") Rabitə və Yüksək Texnologiyalar Nazirliyi (NRYTN)] nəzdində fəaliyyət göstərir.Sahəsi 700 m2 –dən çox olan və tələblərinizə tam cavab verəcək sayda server dayaqlarına malik data mərkəzində verilənlərin yüksək sürətlə ötürülməsini həyata keçiririk.
                            p "AZCLOUD" Azərbaycan və Cənubi Qafqaz regionunda TIER III, ISO 20000, ISO 22301 və ISO 27001 sertifikatlarına malik ilk data mərkəzi, 2016-cı ilin dekabr ayında “AzInTelecom” MMC tərəfindən istismara verilib. “AzInTelecom” MMC Nəqliyyat, #[a(href="#") Rabitə və Yüksək Texnologiyalar Nazirliyi (NRYTN)] nəzdində fəaliyyət göstərir.Sahəsi 700 m2 –dən çox olan və tələblərinizə tam cavab verəcək sayda server dayaqlarına malik data mərkəzində verilənlərin yüksək sürətlə ötürülməsini həyata keçiririk.
                            p "AZCLOUD" Azərbaycan və Cənubi Qafqaz regionunda TIER III, ISO 20000, ISO 22301 və ISO 27001 sertifikatlarına malik ilk data mərkəzi, 2016-cı ilin dekabr ayında “AzInTelecom” MMC tərəfindən istismara verilib. “AzInTelecom” MMC Nəqliyyat, #[a(href="#") Rabitə və Yüksək Texnologiyalar Nazirliyi (NRYTN)] nəzdində fəaliyyət göstərir.Sahəsi 700 m2 –dən çox olan və tələblərinizə tam cavab verəcək sayda server dayaqlarına malik data mərkəzində verilənlərin yüksək sürətlə ötürülməsini həyata keçiririk.
                            blockquote.blockquote
                                .quote
                                    p «İdarə edilən xidmət provayderi (MSP) bizim xidmətlərimizdən istifadə edərək son istifadəçi üçün şəbəkə və ya İT infrastrukturu yaratmaqda kömək etməklə yanaşı onların idarə edilməsini təmin edir»
                                .quote-author.flex
                                    .thumb
                                        ="\n"
                                        img(src=require("../../images/users/image0.jpg") alt="Quote author")
                                    .info
                                        p.name Əhməd Rəcəbli
                                        p.he-is Piere Cardin company, CEO
                            p "AZCLOUD" Azərbaycan və Cənubi Qafqaz regionunda TIER III, ISO 20000, ISO 22301 və ISO 27001 sertifikatlarına malik ilk data mərkəzi, 2016-cı ilin dekabr ayında “AzInTelecom” MMC tərəfindən istismara verilib. “AzInTelecom” MMC Nəqliyyat, #[a(href="#") Rabitə və Yüksək Texnologiyalar Nazirliyi (NRYTN)] nəzdində fəaliyyət göstərir.Sahəsi 700 m2 –dən çox olan və tələblərinizə tam cavab verəcək sayda server dayaqlarına malik data mərkəzində verilənlərin yüksək sürətlə ötürülməsini həyata keçiririk.
                            p "AZCLOUD" Azərbaycan və Cənubi Qafqaz regionunda TIER III, ISO 20000, ISO 22301 və ISO 27001 sertifikatlarına malik ilk data mərkəzi, 2016-cı ilin dekabr ayında “AzInTelecom” MMC tərəfindən istismara verilib. “AzInTelecom” MMC Nəqliyyat, #[a(href="#") Rabitə və Yüksək Texnologiyalar Nazirliyi (NRYTN)] nəzdində fəaliyyət göstərir.Sahəsi 700 m2 –dən çox olan və tələblərinizə tam cavab verəcək sayda server dayaqlarına malik data mərkəzində verilənlərin yüksək sürətlə ötürülməsini həyata keçiririk.
                        // Editor body
                        |
                        |
                        |
                        a(href="service-inner.html" class="flip-item")
                            ="\n"
                            span.title Bulud infrastrukturu
                            ="\n"
                            span.subtitle resurs elastikliyi
                            ="\n"
                            span.price
                                | 199 AZN-dan
                                i.icon-arrow-right
                            ="\n"
                        // Service item
                        |
                        |
                        .blog-article.flex
                            .image.masked
                                ="\n"
                                a(href="blog-inner.html")
                                    ="\n"
                                    img(src=require("../../images/blog/image0.jpg") alt="Blog title")
                                    ="\n"
                            .info
                                ="\n"
                                span.date 01.05.2020
                                ="\n"
                                a(href="blog-inner.html" class="title") İT infrastrukturu yaratmaqda kömək etməklə yanaşı onların idarə edilməsini təmin edir
                                ="\n"
                                .read-more
                                    ="\n"
                                    a(href="blog-inner.html")
                                        | Ətraflı oxu
                                        i.icon-arrow-right
                        // Blog article
                        |
                        |
                        .blog-gallery
                            .gallery-top
                                .swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            .swiper-lazy(data-background=require("../../images/blog/gallery/image0.jpg"))
                                        .swiper-slide
                                            .swiper-lazy(data-background=require("../../images/blog/gallery/image0.jpg"))
                                        .swiper-slide
                                            .swiper-lazy(data-background=require("../../images/blog/gallery/image0.jpg"))
                                        .swiper-slide
                                            .swiper-lazy(data-background=require("../../images/blog/gallery/image0.jpg"))
                                        .swiper-slide
                                            .swiper-lazy(data-background=require("../../images/blog/gallery/image0.jpg"))
                                        .swiper-slide
                                            .swiper-lazy(data-background=require("../../images/blog/gallery/image0.jpg"))
                                        .swiper-slide
                                            .swiper-lazy(data-background=require("../../images/blog/gallery/image0.jpg"))
                                    |
                                    |
                                    .swiper-button-prev.masked.hidden-991
                                        ="\n"
                                        i.icon-arrow-left
                                    .swiper-button-next.masked.hidden-991
                                        ="\n"
                                        i.icon-arrow-right
                            // Gallery top
                            |
                            |
                            .gallery-thumbs
                                .swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            .swiper-lazy(data-background=require("../../images/blog/gallery/image0.jpg"))
                                        .swiper-slide
                                            .swiper-lazy(data-background=require("../../images/blog/gallery/image0.jpg"))
                                        .swiper-slide
                                            .swiper-lazy(data-background=require("../../images/blog/gallery/image0.jpg"))
                                        .swiper-slide
                                            .swiper-lazy(data-background=require("../../images/blog/gallery/image0.jpg"))
                                        .swiper-slide
                                            .swiper-lazy(data-background=require("../../images/blog/gallery/image0.jpg"))
                                        .swiper-slide
                                            .swiper-lazy(data-background=require("../../images/blog/gallery/image0.jpg"))
                                        .swiper-slide
                                            .swiper-lazy(data-background=require("../../images/blog/gallery/image0.jpg"))
                            // Gallery thumbs
                        // Blog gallery
                        |
                        |
                        .tags
                            ul
                                li Tags
                                li
                                    ="\n"
                                    a(href="#") Servers
                                li
                                    ="\n"
                                    a(href="#") Datacenters
                                li
                                    ="\n"
                                    a(href="#") Video konfrans
                                li
                                    ="\n"
                                    a(href="#") IP telefoniya
                        // Tags
                        |
                        |
                        .blog-actions
                            ul.sticky
                                li
                                    ="\n"
                                    a(href="#" target="_blank")
                                        ="\n"
                                        i.icon-facebook
                                        ="\n"
                                li
                                    ="\n"
                                    a(href="#" target="_blank")
                                        ="\n"
                                        i.icon-twitter
                                        ="\n"
                                li
                                    ="\n"
                                    a(href="#" target="_blank")
                                        ="\n"
                                        i.icon-linkedin
                                        ="\n"
                                li
                                    ="\n"
                                    a(href="#" class="action-copy" data-copied="link copied") copy link
                                    input(type="text" value="link to copy" readonly)
                        |
                        |
                        .scroll-down
                            ="\n"
                            i.icon-arrow-down
                    // Blog content
        // Container fluid
        |
        |
        .related-blog-posts
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .section-header.text-center
                            h2.section-title Maraqlı ola bilər
                        |
                        |
                        .load-container
                            .row
                                .col-lg-4.col-sm-6
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image1.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") Satış dilerlərimizə ictimai, özəl və dövlət sektoru
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image2.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") Satış dilerlərimizə ictimai, özəl və dövlət sektorundan olan müştərilərə etibarlı
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6
                                    .blog-post
                                        .image
                                            ="\n"
                                            a(href="blog-inner.html")
                                                ="\n"
                                                img(src=require("../../images/blog/image3.jpg") alt="Blog title")
                                                ="\n"
                                        .info
                                            ="\n"
                                            span.date 01.05.2020
                                            ="\n"
                                            a(href="blog-inner.html" class="title") SQL Server və poçtun idarə edilməsi üçün Exchange Server proqram
                                            ="\n"
                                            .read-more
                                                ="\n"
                                                a(href="blog-inner.html") Ətraflı oxu
                                // Col
                        // Load container
                        |
                        |
                        |
                        .load-more
                            ="\n"
                            a(href="#" class="btn btn-block") Daha çox yüklə
                    // Col
        // Related blog posts
        |
        |
        include ../includes/have-question.pug
        |
        |
        include ../includes/azcloud-azintelecom.pug
    // Blog inner page