extends ../layout/layout.pug

block content
    section.page
        .container-fluid(data-aos="fade-in" data-aos-duration="800")
            .row
                .col-xl-8.offset-xl-2
                    .page-header
                        h1.page-title Əlaqə
                    |
                    |
                    .contact-details
                        .row
                            .col-md-4.col-sm-6
                                .contact-info
                                    ="\n"
                                    a(href="tel:+994122000020" class="value") +994 12 200 0020
                                    p.label şəhər telefon nömrəsi
                                .contact-info
                                    ="\n"
                                    a(href="mailto:sales@azcloud.az" class="value") sales@azcloud.az
                                    p.label şəhər telefon nömrəsi
                            |
                            |
                            .col-md-4.col-sm-6
                                .contact-info
                                    ="\n"
                                    a(href="tel:+994122000020" class="value") +994 12 200 0020
                                    p.label mobil telefon nömrəsi
                                .contact-info
                                    ="\n"
                                    a(href="mailto:soc24@azintelecom.az" class="value") soc24@azintelecom.az
                                    p.label texniki dəstək
                            |
                            |
                            .col-md-3.offset-md-1
                                ="\n"
                                img(src=require("../../images/company-building.jpg") alt="Company building")
                    // Contact details
        |
        |
        .contact-map(data-aos="fade-in" data-aos-duration="800")
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .contact-info
                            ="\n"
                            p.value Əlibəy Hüseynzadə 74, AZ1009, Bakı, Azərbaycan
                            p.label ünvanımız
            |
            |
            #map
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.2711005773235!2d49.83144801535468!3d40.380683779369335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307da2889a6453%3A0x2d4deb685609c5a5!2zNzQgxo9saWLJmXkgSMO8c2V5bnphZMmZLCBCYWvEsSwg0JDQt9C10YDQsdCw0LnQtNC20LDQvQ!5e0!3m2!1sru!2s!4v1607630178503!5m2!1sru!2s" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
        // Contact map
        |
        |
        .follow-us.ptb-11(data-aos="fade-in" data-aos-duration="800")
            // Code required for "facebook pages" plugin
            div(id="fb-root")
            script(async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v9.0&appId=1057880097702757" nonce="kg8oD3Zm")
            |
            |
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .row
                            .col-lg-4
                                h2.section-title Follow us on social networks
                            // Col
                            |
                            |
                            .col-lg-2.offset-lg-2.col-md-6
                                script(src="https://platform.linkedin.com/in.js" type="text/javascript") lang: en_US
                                script(type="IN/FollowCompany" data-id="43333995" data-counter="bottom")
                            // Col
                            |
                            |
                            .col-lg-4.col-md-6
                                div(class="fb-page" data-href="https://www.facebook.com/azcloud.az" data-tabs="" data-width="500" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true")
                                    blockquote(cite="https://www.facebook.com/azcloud.az" class="fb-xfbml-parse-ignore")
                                        a(href="https://www.facebook.com/azcloud.az") Azcloud
                            // Col
        // Follow us
        |
        |
        div(class="contact-form ptb-14" id="contact-form")
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .row
                            .col-xl-6.col-lg-7(data-aos="fade-right" data-aos-duration="800")
                                h2.section-title Bizə yazın
                                |
                                |
                                form(action="#" method="POST")
                                    .form-group
                                        label(for="fullname") Adınız və Soyadınız
                                        input(type="text" class="form-control" id="fullname" placeholder="Adınız və Soyadınız" required)
                                    .form-group
                                        label(for="phone-number") Telefon
                                        input(type="text" class="form-control" id="phone-number" placeholder="+994 50 550 50 50" required)
                                    .form-group
                                        label(for="email") E-poçt
                                        input(type="email" class="form-control" id="email" placeholder="example@example.com" required)
                                    .form-group
                                        label(for="message") EMüraciətin mətni
                                        textarea(rows="5" class="form-control" id="message" placeholder="Öz müraciətinizi bura daxil edin" required)
                                    button(class="btn btn-primary") Göndər
                                // Form
                            // Col
                            |
                            |
                            .col-lg-5.hidden-991(data-aos="fade-left" data-aos-duration="800")
                                img(src=require("../../images/contact-form-image.jpg") alt="Form image" class="form-image")
                            // Col
        // Contact form
        |
        |
        .subscribe-to-rss.ptb-11
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        h3.section-title.text-center Subscribe to our newsletter
                        |
                        |
                        form(action="#" method="GET")
                            .form-group
                                label E-poçt
                                input(type="text" class="form-control" placeholder="example@example.com" required)
                            button(type="submit" class="btn btn-cyan with-icon")
                                ="\n"
                                | Subscribe
                                i.icon-arrow-right
                        // Form
        // Subscribe to RSS
        |
        |
        include ../includes/have-question.pug
        |
        |
        include ../includes/azcloud-azintelecom.pug
    // Contact page