extends ../layout/layout.pug

block content
    section.intro-slider
        .wave-texture.bottom-right
        |
        |
        .swiper-container(data-aos="fade-in" data-aos-duration="800")
            .swiper-wrapper
                .swiper-slide.no-swipe
                    .service-preview.flex
                        .left
                            h1.title Bulud infrastrukturu
                            h2.subtitle İnfrastrukturanuza uyğunlaşan və biznes artımı idarə eyməyə imkan verən elsatikliyi
                            .actions
                                ="\n"
                                a(href="#" class="btn btn-primary") Əldə et
                                ="\n"
                                a(href="#" class="btn btn-outline") Qiymətlər
                        .right
                            ="\n"
                            img(src=require("../../images/intro-slider/image0.png") alt="Service image")
                // Swiper slide
                |
                |
                .swiper-slide.no-swipe
                    .service-preview.flex
                        .left
                            h1.title Lorem, ipsum dolor.
                            h2.subtitle İnfrastrukturanuza uyğunlaşan və biznes artımı idarə eyməyə imkan verən elsatikliyi
                            .actions
                                ="\n"
                                a(href="#" class="btn btn-primary") Əldə et
                                ="\n"
                                a(href="#" class="btn btn-outline") Qiymətlər
                        .right
                            ="\n"
                            img(src=require("../../images/intro-slider/image0.png") alt="Service image")
                // Swiper slide
                |
                |
                .swiper-slide.no-swipe
                    .service-preview.flex
                        .left
                            h1.title Bulud infrastrukturu
                            h2.subtitle İnfrastrukturanuza uyğunlaşan və biznes artımı idarə eyməyə imkan verən elsatikliyi
                            .actions
                                ="\n"
                                a(href="#" class="btn btn-primary") Əldə et
                                ="\n"
                                a(href="#" class="btn btn-outline") Qiymətlər
                        .right
                            ="\n"
                            img(src=require("../../images/intro-slider/image0.png") alt="Service image")
                // Swiper slide
                |
                |
                .swiper-slide.no-swipe
                    .service-preview.flex
                        .left
                            h1.title Bulud infrastrukturu
                            h2.subtitle İnfrastrukturanuza uyğunlaşan və biznes artımı idarə eyməyə imkan verən elsatikliyi
                            .actions
                                ="\n"
                                a(href="#" class="btn btn-primary") Əldə et
                                ="\n"
                                a(href="#" class="btn btn-outline") Qiymətlər
                        .right
                            ="\n"
                            img(src=require("../../images/intro-slider/image0.png") alt="Service image")
                // Swiper slide
            // Swiper wrapper
            |
            |
            .pagination-wrapper.flex
                .fraction
                    ="\n"
                    span.current 1
                    ="\n"
                    span.divider /
                    ="\n"
                    span.total 4
                .swiper-pagination
        // Swiper container
        |
        |
        button(class="to-services hidden-1200")
            ="\n"
            img(src=require("../../images/icons/icon-angle-down.svg") alt="Icon arrow down")
            | Xidmətlərimiz
    // Intro slider
    |
    |
    section.services-section
        .services-heading
            .bg-video
                video(class="lazy" autoplay muted loop playsinline)
                    source(data-src=require("../../videos/network.mp4") type="video/mp4")
            |
            |
            .scrollable-x
                .left
                    ="\n"
                    img(src=require("../../images/standarts/icon0.svg") alt="ISO standart")
                    ="\n"
                    img(src=require("../../images/standarts/icon1.svg") alt="ISO standart")
                    ="\n"
                    img(src=require("../../images/standarts/icon2.svg") alt="ISO standart")
                    ="\n"
                    img(src=require("../../images/standarts/icon0.svg") alt="ISO standart")
                    ="\n"
                    img(src=require("../../images/standarts/icon1.svg") alt="ISO standart")
                    ="\n"
                    img(src=require("../../images/standarts/icon2.svg") alt="ISO standart")
                    ="\n"
                    img(src=require("../../images/standarts/icon0.svg") alt="ISO standart")
                    ="\n"
                    img(src=require("../../images/standarts/icon1.svg") alt="ISO standart")
                    ="\n"
                    img(src=require("../../images/standarts/icon2.svg") alt="ISO standart")
                .right
                    ="\n"
                    img(src=require("../../images/azintelecom.svg") alt="Azintelecom logo")
        // Services heading
        |
        |
        .services-body.ptb-14
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .section-header
                            h2.section-title Xİdmətlərimiz
                        |
                        |
                        .services-grid.flex
                            .service-card
                                .service-card__bg
                                    ="\n"
                                    img(src=require("../../images/service-card-bg.jpg") alt="Service thumb")
                                .service-card__body
                                    ="\n"
                                    span(class="title") Compute
                                    ="\n"
                                    span(class="subtitle") resurs elastikliyi
                                    ="\n"
                                    ul.service-categories
                                        li(data-toggle="tooltip" title="Public IPs")
                                            ="\n"
                                            a(href="service-compute.html") ACS
                                        li(data-toggle="tooltip" title="Public IPs")
                                            ="\n"
                                            a(href="service-compute.html") AVPG
                                        li(data-toggle="tooltip" title="Public IPs")
                                            ="\n"
                                            a(href="service-compute.html") ASG
                            // Service card
                            |
                            |
                            .service-card
                                .service-card__bg
                                    ="\n"
                                    img(src=require("../../images/service-card-bg.jpg") alt="Service thumb")
                                .service-card__body
                                    ="\n"
                                    span(class="title") Storage
                                    ="\n"
                                    span(class="subtitle") resurs elastikliyi
                                    ="\n"
                                    ul.service-categories
                                        li(data-toggle="tooltip" title="Public IPs")
                                            ="\n"
                                            a(href="service-storage.html") asb
                                        li(data-toggle="tooltip" title="Public IPs")
                                            ="\n"
                                            a(href="service-storage.html") asf
                                        li(data-toggle="tooltip" title="Public IPs")
                                            ="\n"
                                            a(href="service-storage.html") aso
                            // Service card
                            |
                            |
                            .service-card
                                .service-card__bg
                                    ="\n"
                                    img(src=require("../../images/service-card-bg.jpg") alt="Service thumb")
                                .service-card__body
                                    ="\n"
                                    span(class="title") Network
                                    ="\n"
                                    span(class="subtitle") resurs elastikliyi
                                    ="\n"
                                    ul.service-categories
                                        li(data-toggle="tooltip" title="Public IPs")
                                            ="\n"
                                            a(href="service-network.html") AVPS
                                        li(data-toggle="tooltip" title="Public IPs")
                                            ="\n"
                                            a(href="service-network.html") ASG
                                        li(data-toggle="tooltip" title="Public IPs")
                                            ="\n"
                                            a(href="service-network.html") AP-I
                                        li(data-toggle="tooltip" title="Public IPs")
                                            ="\n"
                                            a(href="service-network.html") ALB-A
                                        li(data-toggle="tooltip" title="Public IPs")
                                            ="\n"
                                            a(href="service-network.html") ADD
                            // Service card
                        // Services grid
                        |
                        |
        // Services body
    // Services
    |
    |
    section.clients.ptb-14(data-aos="fade-in" data-aos-duration="800")
        .bg-video
            video(class="lazy" autoplay muted loop playsinline)
                source(data-src=require("../../videos/network.mp4") type="video/mp4")
        |
        |
        .container-fluid
            .row
                .col-xl-8.offset-xl-2
                    .section-header.text-center
                        h2.section-title Müştərilər
                        p.subtitle We're partners with countless major organisations around the globe
                    |
                    |
                    .clients-slider
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    ="\n"
                                    a(href="#" target="_blank" class="company-thumb")
                                        ="\n"
                                        img(src=require("../../images/partners/image0.png") alt="Client logo")
                                        ="\n"
                                .swiper-slide
                                    ="\n"
                                    a(href="#" target="_blank" class="company-thumb")
                                        ="\n"
                                        img(src=require("../../images/partners/image0.png") alt="Client logo")
                                        ="\n"
                                .swiper-slide
                                    ="\n"
                                    a(href="#" target="_blank" class="company-thumb")
                                        ="\n"
                                        img(src=require("../../images/partners/image0.png") alt="Client logo")
                                        ="\n"
                                .swiper-slide
                                    ="\n"
                                    a(href="#" target="_blank" class="company-thumb")
                                        ="\n"
                                        img(src=require("../../images/partners/image0.png") alt="Client logo")
                                        ="\n"
                            |
                            |
                            .swiper-pagination
                            |
                            |
                            .swiper-button-prev.masked.hidden-991
                                ="\n"
                                i.icon-arrow-left
                            .swiper-button-next.masked.hidden-991
                                ="\n"
                                i.icon-arrow-right
                    // Clients slider
    // Clients
    |
    |
    section.advantages.ptb-14(data-aos="fade-in" data-aos-duration="800")
        .wave-texture.top-right
        .wave-texture.bottom-left
        |
        |
        .container-fluid
            .row
                .col-xl-8.offset-xl-2
                    .row
                        .col-md-6
                            .info
                                h2.section-title Üstünlüklərimiz
                                .desc
                                    p Bizim fərqləndirici cəhətimiz bazar tendensiyaları və ən müasir texnologiyalara uyğunluğumuzdur. Data mərkəzimizin əsas üstünlükləri arasında informasiya təhlükəsizliyinin təmin edilməsi, kibertəhdidlərin qarşısının alınması və data itkisi ilə bağlı risklərin minimuma endirilməsini qeyd etməliyik. Bundan başqa, təklif etdiyimiz xidmətlərə 24/7 rejimində texniki dəstək təmin edirik.
                        // Col
                        |
                        |
                        .col-md-6
                            .image
                                ="\n"
                                img(src=require("../../images/advantages.jpg") alt="Presentational image")
                        // Col
                // Col
        |
        |
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .advantage-block
                        .icon
                            ="\n"
                            img(src=require("../../images/icons/icon-shield.svg") alt="Icon shield")
                        h3.title.text-uppercase TƏHLÜKƏSİZ
                        p.subtitle Fiziki və virtual müdafiə Yanğına qarşı mühafizə sistemi
                        ="\n"
                        a(href="about.html" class="read-more") Daha ətraflı
                // Slide
                |
                |
                .swiper-slide
                    .advantage-block
                        .icon
                            ="\n"
                            img(src=require("../../images/icons/icon-manat.svg") alt="Icon manat")
                        h3.title.text-uppercase SƏMƏRƏLİ
                        p.subtitle Uyğunlaşma qabiliyyəti Yenilənməyə ehtiyac olmayan Kapital xərclərinin 0%-ə endirilməsi İstismar xərclərinin 30-40% azaldılması
                        ="\n"
                        a(href="about.html" class="read-more") Daha ətraflı
                // Slide
                |
                |
                .swiper-slide
                    .advantage-block
                        .icon
                            ="\n"
                            img(src=require("../../images/icons/icon-like.svg") alt="Icon like")
                        h3.title.text-uppercase ETİBARLI
                        p.subtitle Enerji təhcizatı xüsusi soyutma sistemi qoşulma imkanı
                        ="\n"
                        a(href="about.html" class="read-more") Daha ətraflı
                // Slide
                |
                |
                .swiper-slide
                    .advantage-block
                        .icon
                            ="\n"
                            img(src=require("../../images/icons/icon-star.svg") alt="Icon star")
                        h3.title.text-uppercase DİGƏR
                        p.subtitle Daşına bilən ətraf mühitə zərərsiz
                        ="\n"
                        a(href="about.html" class="read-more") Daha ətraflı
                // Slide
                |
                |
                .swiper-slide
                    .advantage-block
                        .icon
                            ="\n"
                            img(src=require("../../images/icons/icon-star.svg") alt="Icon star")
                        h3.title.text-uppercase DİGƏR
                        p.subtitle Daşına bilən ətraf mühitə zərərsiz
                        ="\n"
                        a(href="about.html" class="read-more") Daha ətraflı
                // Slide
                |
                |
                .swiper-slide
                    .advantage-block
                        .icon
                            ="\n"
                            img(src=require("../../images/icons/icon-star.svg") alt="Icon star")
                        h3.title.text-uppercase DİGƏR
                        p.subtitle Daşına bilən ətraf mühitə zərərsiz
                        ="\n"
                        a(href="about.html" class="read-more") Daha ətraflı
                // Slide
        // Advantages slider
    // Advantages
    |
    |
    .service-calculator.ptb-11
        style(type="text/css").
            .calculator select {
                display: block;
                width: 100%;
                color: #fff;
                background: transparent;
                border: none;
                outline: none;
            }

            .calculator option {
                color: #000;
            }
        |
        |
        .bg-video
            video(class="lazy" autoplay muted loop playsinline)
                source(data-src=require("../../videos/network.mp4") type="video/mp4")
        |
        |
        .container-fluid
            .row
                .col-xl-8.offset-xl-2
                    .calculator.flex
                        h3.section-title Qiymətlər
                        |
                        |
                        .left
                            form(action="#" method="POST")
                                h3.form-group-title Virtual Machines
                                |
                                |
                                .fields-group-wrapper
                                    p.group-label Operation system
                                    .fields-group
                                        div
                                            .field-item
                                                input(type="radio" name="os" value="linux" id="os-linux" checked)
                                                label(for="os-linux") Linux
                                        div
                                            .field-item
                                                input(type="radio" name="os" value="windows" id="os-windows")
                                                label(for="os-windows") Windows
                                |
                                |
                                .fields-group-wrapper
                                    p.group-label Family
                                    .fields-group
                                        div
                                            .field-item
                                                input(type="radio" name="os-family" value="a" id="os-family-a" checked)
                                                label(for="os-family-a") A
                                        div
                                            .field-item
                                                input(type="radio" name="os-family" value="b" id="os-family-b")
                                                label(for="os-family-b") B
                                        div
                                            .field-item
                                                input(type="radio" name="os-family" value="c" id="os-family-c")
                                                label(for="os-family-c") C
                                |
                                |
                                .form-info
                                    p
                                        strong Savings Options
                                    p Save up to 72% on pay-as-you-go prices with 1-year or 3-year Reserved Virtual Machine Instances. Reserved Instances are great for applications with steady-state usage and applications that require reserved capacity. #[a(href="#") Learn more about Reserved VM Instances pricing.]
                                |
                                |
                                .fields-group-wrapper
                                    p.group-label Virtual machine
                                    .fields-group
                                        div
                                            .field-item
                                                select(name="vm" class="custom-select")
                                                    option(value="0.037680556" data-os="linux" data-family="linux-a") C1.2: 1 vCPU, 2 GB RAM, 20 GB Root Volume, 0.037680556 AZN/hour	
                                                    option(value="0.67388889" data-os="linux" data-family="linux-a") C2.4: 2 vCPU, 4 GB RAM, 20 GB Root Volume, 0.67388889 AZN/hour
                                                    option(value="0.126791667" data-os="linux" data-family="linux-a") C4.8: 4 vCPU, 8 GB RAM, 20 GB Root Volume, 0.126791667 AZN/hour
                                                    option(value="0.245611111" data-os="linux" data-family="linux-b") C8.16: 8 vCPU, 16 GB RAM, 20 GB Root Volume, 0.245611111 AZN/hour
                                                    option(value="0.48325" data-os="linux" data-family="linux-b") C16.32: 16 vCPU, 32 GB RAM, 20GB Root Volume, 0.48325 AZN/hour
                                                    option(value="0.958527778" data-os="linux" data-family="linux-b") C32.64: 32 vCPU, 64 GB RAM, 20 GB Root Volume, 0.958527778 AZN/hour
                                                    option(value="0.055736111" data-os="linux" data-family="linux-c") C1.4: 1 vCPU, 4 GB RAM, 20 GB Root Volume, 0.055736111 AZN/hour
                                                    option(value="0.1035" data-os="linux" data-family="linuc-a") C2.8: 2 vCPU, 8 GB RAM, 20 GB Root Volume, 0.1035 AZN/hour				
                                                    option(value="0.199027778" data-os="linux" data-family="linux-c") C4.16: 4 vCPU, 16 GB RAM, 20 GB Root Volume, 0.199027778 AZN/hour
                                                    option(value="0.390083333" data-os="linux" data-family="linux-c") C8.32: 8 vCPU, 32 GB RAM, 20 GB Root Volume, 0.390083333 AZN/hour
                                                    option(value="0.772194444" data-os="linux" data-family="linux-c") C16.64: 16 vCPU, 64 GB RAM, 20 GB Root Volume, 0.772194444 AZN/hour
                                                    option(value="1.536416667" data-os="windows" data-family="windows-a") C32.128: 32 vCPU, 128 GB RAM, 20 GB Root Volume, 1.536416667 AZN/hour
                                                    option(value="0.091861111" data-os="windows" data-family="windows-a") C1.8: 1 vCPU, 8 GB RAM, 20 GB Root Volume, 0.091861111 AZN/hour
                                                    option(value="0.175736111" data-os="windows" data-family="windows-a") C2.16: 2 vCPU, 16 GB RAM, 20 GB Root Volume, 0.175736111 AZN/hour
                                                    option(value="0.3435" data-os="windows" data-family="windows-b") C4.32: 4 vCPU, 32 GB RAM, 20 GB Root Volume, 0.3435 AZN/hour				
                                                    option(value="0.679027778" data-os="windows" data-family="windows-b") C8.64: 8 vCPU, 64 GB RAM, 20 GB Root Volume, 0.679027778 AZN/hour
                                                    option(value="1.350083333" data-os="windows" data-family="windows-b") C16.128: 16 vCPU, 128 GB RAM, 20 GB Root Volume, 1.350083333 AZN/hour
                                                    option(value="2.692194444" data-os="windows" data-family="windows-c") C32.256: 32 vCPU, 256 GB RAM, 20 GB Root Volume, 2.692194444 AZN/hour
                                                    option(value="0.042930556" data-os="windows" data-family="windows-c") B1.2: 1 vCPU, 2 GB RAM, 20 GB Root Volume, 0.042930556 AZN/hour
                                                    option(value="0.077888889" data-os="windows" data-family="windows-c") B2.4: 2 vCPU, 4 GB RAM, 20 GB Root Volume, 0.077888889 AZN/hour
                                                    option(value="0.147791667" data-os="windows" data-family="windows-a") B4.8: 4 vCPU, 8 GB RAM, 20 GB Root Volume, 0.147791667 AZN/hour
                                                    option(value="0.287611111" data-os="windows" data-family="windows-a") B8.16: 8 vCPU, 16 GB RAM, 20 GB Root Volume, 0.287611111 AZN/hour
                                                    option(value="0.56725" data-os="windows" data-family="windows-b") B16.32: 16 vCPU, 32 GB RAM, 20 GB Root Volume, 0.56725 AZN/hour
                                                    option(value="1.126527778" data-os="windows" data-family="windows-b") B32.64: 32 vCPU, 64 GB RAM, 20 GB Root Volume, 1.126527778 AZN/hour
                                                    option(value="0.060986111" data-os="windows" data-family="windows-b") B1.4: 1 vCPU, 4 GB RAM, 20 GB Root Volume, 0.060986111 AZN/hour
                                |
                                |
                                .fields-group-wrapper
                                    .fields-group.divided
                                        div
                                            p.group-label Quantity
                                            .field-item
                                                input(type="number" name="vm-qty" value="1" class="number-input")
                                                .field-controls
                                                    button(type="button" class="decrement") −
                                                    button(type="button" class="increment") +
                                        div
                                            p.group-label Duration
                                            .field-item
                                                input(type="number" name="vm-duration" value="720" class="number-input")
                                                select(name="vm-duration-type" class="custom-select")
                                                    option(value="hours") hours
                                                    option(value="weeks") weeks
                                                    option(value="months") months
                                |
                                |
                                h3.form-group-title Manage disc
                                |
                                |
                                .fields-group-wrapper
                                    p.group-label Family
                                    .fields-group
                                        div
                                            .field-item
                                                input(type="radio" name="disc-family" value="ultimate" id="ultimate" checked)
                                                label(for="ultimate") Ultimate
                                        div
                                            .field-item
                                                input(type="radio" name="disc-family" value="turbo" id="turbo")
                                                label(for="turbo") Turbo
                                        div
                                            .field-item
                                                input(type="radio" name="disc-family" value="standart" id="standart")
                                                label(for="standart") Standart
                                |
                                |
                                .fields-group-wrapper
                                    p.group-label Disk size
                                    .fields-group
                                        div
                                            .field-item
                                                select(name="disc-size" class="custom-select")
                                                    option(value="0.053" data-disc-family="ultimate") U1: 10 GB, 0.053
                                                    option(value="0.073" data-disc-family="ultimate") U2: 15 GB, 0.073
                                                    option(value="0.088" data-disc-family="ultimate") U3: 20 GB, 0.088
                                                    option(value="0.09567" data-disc-family="ultimate") U4: 25 GB, 0.9567
                                                    option(value="0.123" data-disc-family="turbo") T1: 10 GB, 0.123
                                                    option(value="0.234" data-disc-family="turbo") T2: 15 GB, 0.234
                                                    option(value="0.345" data-disc-family="turbo") T3: 20 GB, 0.345
                                                    option(value="0.456" data-disc-family="turbo") T4: 25 GB, 0.456
                                                    option(value="0.021" data-disc-family="standart") S1: 10 GB, 0.021
                                                    option(value="0.034" data-disc-family="standart") S2: 15 GB, 0.034
                                                    option(value="0.056" data-disc-family="standart") S3: 20 GB, 0.056
                                                    option(value="0.0789" data-disc-family="standart") S4: 25 GB, 0.0789
                                |
                                |
                                .fields-group-wrapper
                                    .fields-group.divided
                                        div
                                            p.group-label Disk quantity
                                            .field-item
                                                input(type="number" name="disc-qty" value="1" class="number-input")
                                                .field-controls
                                                    button(type="button" class="decrement") −
                                                    button(type="button" class="increment") +
                                        div
                                            p.group-label Duration
                                            .field-item
                                                input(type="number" name="disc-duration" value="720" class="number-input")
                                                select(name="disc-duration-type" class="custom-select")
                                                    option(value="hours") hours
                                                    option(value="weeks") weeks
                                                    option(value="months") months
                                |
                                |
                            // Form
                        // Left
                        |
                        |
                        .right
                            .price-block.sticky
                                p.total-price Total price
                                p.price
                                    | $
                                    span 152.7
                                ="\n"
                                a(href="#" class="btn btn-white") Əldə et
                        // Right
                    // Calculator
    // Service calculator
    |
    |
    .full-width-section.ptb-16(data-aos="fade-in" data-aos-duration="800")
        .bg-video
            video(class="lazy" autoplay muted loop playsinline)
                source(src=require("../../videos/switch.mp4") type="video/mp4")
        |
        |
        .container-fluid
            .row
                .col-xl-8.offset-xl-2
                    h3.section-title Exposure Server
                    p.subtitle Cloud Core Exposure Server…
                    ="\n"
                    a(href="contact.html#contact-form" class="btn btn-white") Contact us
    // Full width bg
    |
    |
    section.feedback-section.pt-14
        .container-fluid
            .row
                .col-xl-8.offset-xl-2
                    .section-header
                        h2.section-title Bizim haqqımızda nə fikirləşirlər
                    |
                    |
                    .feedback-top
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .feedback
                                        .quote
                                            p «İdarə edilən xidmət provayderi (MSP) bizim xidmətlərimizdən istifadə edərək son istifadəçi üçün şəbəkə və ya İT infrastrukturu yaratmaqda kömək etməklə yanaşı onların idarə edilməsini təmin edir»
                                        .quote-author.flex
                                            .thumb
                                                ="\n"
                                                img(src=require("../../images/users/image0.jpg") alt="Quote author")
                                            .info
                                                p.name Əhməd Rəcəbli
                                                p.he-is Piere Cardin company, CEO
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .feedback
                                        .quote
                                            p «İdarə edilən xidmət provayderi (MSP) bizim xidmətlərimizdən istifadə edərək son istifadəçi üçün şəbəkə və ya İT infrastrukturu yaratmaqda kömək etməklə yanaşı onların idarə edilməsini təmin edir»
                                        .quote-author.flex
                                            .thumb
                                                ="\n"
                                                img(src=require("../../images/users/image1.jpg") alt="Quote author")
                                            .info
                                                p.name Əhməd Rəcəbli
                                                p.he-is Piere Cardin company, CEO
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .feedback
                                        .quote
                                            p «İdarə edilən xidmət provayderi (MSP) bizim xidmətlərimizdən istifadə edərək son istifadəçi üçün şəbəkə və ya İT infrastrukturu yaratmaqda kömək etməklə yanaşı onların idarə edilməsini təmin edir»
                                        .quote-author.flex
                                            .thumb
                                                ="\n"
                                                img(src=require("../../images/users/image2.jpg") alt="Quote author")
                                            .info
                                                p.name Əhməd Rəcəbli
                                                p.he-is Piere Cardin company, CEO
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .feedback
                                        .quote
                                            p «İdarə edilən xidmət provayderi (MSP) bizim xidmətlərimizdən istifadə edərək son istifadəçi üçün şəbəkə və ya İT infrastrukturu yaratmaqda kömək etməklə yanaşı onların idarə edilməsini təmin edir»
                                        .quote-author.flex
                                            .thumb
                                                ="\n"
                                                img(src=require("../../images/users/image3.jpg") alt="Quote author")
                                            .info
                                                p.name Əhməd Rəcəbli
                                                p.he-is Piere Cardin company, CEO
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .feedback
                                        .quote
                                            p «İdarə edilən xidmət provayderi (MSP) bizim xidmətlərimizdən istifadə edərək son istifadəçi üçün şəbəkə və ya İT infrastrukturu yaratmaqda kömək etməklə yanaşı onların idarə edilməsini təmin edir»
                                        .quote-author.flex
                                            .thumb
                                                ="\n"
                                                img(src=require("../../images/users/image4.jpg") alt="Quote author")
                                            .info
                                                p.name Əhməd Rəcəbli
                                                p.he-is Piere Cardin company, CEO
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .feedback
                                        .quote
                                            p «İdarə edilən xidmət provayderi (MSP) bizim xidmətlərimizdən istifadə edərək son istifadəçi üçün şəbəkə və ya İT infrastrukturu yaratmaqda kömək etməklə yanaşı onların idarə edilməsini təmin edir»
                                        .quote-author.flex
                                            .thumb
                                                ="\n"
                                                img(src=require("../../images/users/image5.jpg") alt="Quote author")
                                            .info
                                                p.name Əhməd Rəcəbli
                                                p.he-is Piere Cardin company, CEO
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .feedback
                                        .quote
                                            p «İdarə edilən xidmət provayderi (MSP) bizim xidmətlərimizdən istifadə edərək son istifadəçi üçün şəbəkə və ya İT infrastrukturu yaratmaqda kömək etməklə yanaşı onların idarə edilməsini təmin edir»
                                        .quote-author.flex
                                            .thumb
                                                ="\n"
                                                img(src=require("../../images/users/image6.jpg") alt="Quote author")
                                            .info
                                                p.name Əhməd Rəcəbli
                                                p.he-is Piere Cardin company, CEO
                                // Slide
                                |
                                |
                            .swiper-pagination
                    // Feedback top
        |
        |
        .feedback-thumbs
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .thumb
                                        ="\n"
                                        img(src=require("../../images/users/image0.jpg") alt="Quote author")
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .thumb
                                        ="\n"
                                        img(src=require("../../images/users/image1.jpg") alt="Quote author")
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .thumb
                                        ="\n"
                                        img(src=require("../../images/users/image2.jpg") alt="Quote author")
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .thumb
                                        ="\n"
                                        img(src=require("../../images/users/image3.jpg") alt="Quote author")
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .thumb
                                        ="\n"
                                        img(src=require("../../images/users/image4.jpg") alt="Quote author")
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .thumb
                                        ="\n"
                                        img(src=require("../../images/users/image5.jpg") alt="Quote author")
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .thumb
                                        ="\n"
                                        img(src=require("../../images/users/image6.jpg") alt="Quote author")
                                // Slide
        // Feedback thumbs
    // Feedback
    |
    |
    section.data-centers.ptb-14(data-aos="fade-in" data-aos-duration="800")
        .container-fluid
            .row
                .col-xl-8.offset-xl-2
                    .section-header
                        h2.section-title Data Mərkəzlər
                    |
                    |
                    .row
                        .col-md-6
                            .data-center-item
                                .image
                                    ="\n"
                                    a(href="about.html")
                                        ="\n"
                                        img(src=require("../../images/data-centers/image0.jpg") alt="Data center")
                                        ="\n"
                                .info
                                    ="\n"
                                    a(href="about.html" class="name") Baki Data Merkezi haqqında məlumat
                                    p.desc İnfrastrukturunuza uyğunlaşan və biznes artımını idarə etməyə imkan verən resurs elastikliyi
                        // Col
                        |
                        |
                        .col-md-6
                            .data-center-item
                                .image
                                    ="\n"
                                    a(href="about.html")
                                        ="\n"
                                        img(src=require("../../images/data-centers/image1.jpg") alt="Data center")
                                        ="\n"
                                .info
                                    ="\n"
                                    a(href="about.html" class="name") Yevlax Data Mərkəzi haqqında məlumat
                                    p.desc İnfrastrukturunuza uyğunlaşan və biznes artımını idarə etməyə imkan verən resurs elastikliyi
                        // Col
    // Data centres
    |
    |
    section.clients.ptb-14(data-aos="fade-in" data-aos-duration="800")
        .bg-video
            video(class="lazy" autoplay muted loop playsinline)
                source(data-src=require("../../videos/network.mp4") type="video/mp4")
        |
        |
        .container-fluid
            .row
                .col-xl-8.offset-xl-2
                    .section-header.text-center
                        h2.section-title Parnertlar
                    |
                    |
                    .partners-slider
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    ="\n"
                                    a(href="#" target="_blank" class="company-thumb")
                                        ="\n"
                                        img(src=require("../../images/partners/image0.png") alt="Client logo")
                                        ="\n"
                                .swiper-slide
                                    ="\n"
                                    a(href="#" target="_blank" class="company-thumb")
                                        ="\n"
                                        img(src=require("../../images/partners/image0.png") alt="Client logo")
                                        ="\n"
                                .swiper-slide
                                    ="\n"
                                    a(href="#" target="_blank" class="company-thumb")
                                        ="\n"
                                        img(src=require("../../images/partners/image0.png") alt="Client logo")
                                        ="\n"
                                .swiper-slide
                                    ="\n"
                                    a(href="#" target="_blank" class="company-thumb")
                                        ="\n"
                                        img(src=require("../../images/partners/image0.png") alt="Client logo")
                                        ="\n"
                            |
                            |
                            .swiper-pagination
                            |
                            |
                            .swiper-button-prev.masked.hidden-991
                                ="\n"
                                i.icon-arrow-left
                            .swiper-button-next.masked.hidden-991
                                ="\n"
                                i.icon-arrow-right
                    // Partners slider
    // Partners
    |
    |
    section.latest-blog.ptb-14
        .container-fluid
            .row
                .col-xl-8.offset-xl-2
                    .section-header.text-center
                        h2.section-title Axırıncı bloq yazısı
                    |
                    |
                    .blog-article.flex
                        .image.masked
                            ="\n"
                            a(href="blog-inner.html")
                                ="\n"
                                img(src=require("../../images/blog/image0.jpg") alt="Blog title")
                                ="\n"
                        .info
                            ="\n"
                            span.date 01.05.2020
                            ="\n"
                            a(href="blog-inner.html" class="title") İT infrastrukturu yaratmaqda kömək etməklə yanaşı onların idarə edilməsini təmin edir
                            ="\n"
                            .read-more
                                ="\n"
                                a(href="blog-inner.html")
                                    | Ətraflı oxu
                                    i.icon-arrow-right
                    |
                    |
                    |
                    a(href="blog.html" class="btn btn-block") Bütün yazılar
    // Latest blog
    |
    |
    include ../includes/have-question.pug
    |
    |
    include ../includes/azcloud-azintelecom.pug