extends ../layout/layout.pug

block content
    section.page
        .partnership-intro(data-aos="fade-in" data-aos-duration="800")
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .page-header
                            h1.page-title Əməkdaşlıq
                            p.subtitle Birlikdə təklif etdiyimiz kompleks həllər müştərilərimizə bazarda yaranan yeni tendensiya və çağırışlara cəld reaksiya verməyə köməklik edəcək.
                            .actions
                                ="\n"
                                a(href="#prices" class="btn btn-primary btn-block") Planlar və qiymətlər
                                ="\n"
                                a(href="#advantages" class="btn btn-outline btn-block") Üstünlüklər
        // Partnership intro
        |
        |
        .partnership-advantages.ptb-11(data-aos="fade-in" data-aos-duration="800")
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .section-header.flex
                            h2.section-title Üstünlüklər
                            |
                            |
                            .controls.flex
                                .swiper-button-prev.masked.hidden-991
                                    ="\n"
                                    i.icon-arrow-left
                                .swiper-button-next.masked.hidden-991
                                    ="\n"
                                    i.icon-arrow-right 
            |
            |
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .advantage-item
                            p.title İmkanlar:
                            ul
                                li Məhsulların satışı;
                                li Qlobal alış və satış;
                                li Son istifadəçinin təsdiqi olmadan xüsusi qiymət əldə etmək imkanı.
                                li Məhsulların satışı;
                    |
                    |
                    .swiper-slide
                        .advantage-item
                            p.title Məhsul portfelinin xarakteristikası:
                            ul
                                li Hesablama, Yaddaş, Şəbəkə və Yerləşdirmə (co-location) xidmətləri;
                                li İT infrastruktur üçün vahid mənbə;
                                li Son istifadəçinin təsdiqi olmadan xüsusi qiymət əldə etmək imkanı.
                                li Məhsulların dövrü idarəçiliyi.
                    |
                    |
                    .swiper-slide
                        .advantage-item
                            p.title Hədəflərimiz:
                            ul
                                li Kiçik, orta və böyük bizneslər;
                                li Uzunmüddətli biznes əlaqələri.
                    |
                    |
                    .swiper-slide
                        .advantage-item
                            p.title Məhsul portfelinin xarakteristikası:
                            ul
                                li Hesablama, Yaddaş, Şəbəkə və Yerləşdirmə (co-location) xidmətləri;
                                li İT infrastruktur üçün vahid mənbə;
                                li Son istifadəçinin təsdiqi olmadan xüsusi qiymət əldə etmək imkanı.
                                li Məhsulların dövrü idarəçiliyi.
            // Advantages slider
        // Partnership advantages
        |
        |
        .partnership-types(id="prices")
            .container-fluid.ptb-11(data-aos="fade-up" data-aos-duration="800")
                .row
                    .col-xl-8.offset-xl-2
                        .section-header
                            h2.section-title Sistem inteqratoru
                        |
                        |
                        .partnership-type.flex
                            .info
                                p Sistem inteqratoru (Sİ) müxtəlif vendorlardan əldə olunan avadanlıq, proqram təminatı, şəbəkə və saxlama məhsullarını birləşdirərək müştərilər üçün bütov hesablama sistemlərinin qurulmasında ixtisaslaşan fərd və ya biznesdir. Birlikdə təklif etdiyimiz kompleks həllər müştərilərimizə bazarda yaranan yeni tendensiya və çağırışlara cəld reaksiya verməyə köməklik edəcək.
                                ="\n"
                                a(href="contact.html#contact-form" class="btn") Müraciət et
                            |
                            |
                            .pricing-cards.flex
                                .price-card.silver
                                    h3.name Silver partner
                                    .fee.masked
                                        ="\n"
                                        span 10%
                                    p.price 399 AZN-ə qədər
                                |
                                |
                                .price-card.gold
                                    h3.name Gold partner
                                    .fee.masked
                                        ="\n"
                                        span 10%
                                    p.price 400-699 AZN
                                |
                                |
                                .price-card.platinum
                                    h3.name Platinum partner
                                    .fee.masked
                                        ="\n"
                                        span 10%
                                    p.price 399 AZN-ə qədər
                        // Partnership type
            // Container-fluid
            |
            |
            .container-fluid.ptb-11(data-aos="fade-up" data-aos-duration="800")
                .row
                    .col-xl-8.offset-xl-2
                        .section-header
                            h2.section-title İdarə edilən Xidmət Provayderi
                        |
                        |
                        .partnership-type.flex
                            .info
                                p İdarə edilən xidmət provayderi (MSP) bizim xidmətlərimizdən istifadə edərək son istifadəçi üçün şəbəkə və ya İT infrastrukturu yaratmaqda kömək etməklə yanaşı onların idarə edilməsini təmin edir.
                                ="\n"
                                a(href="contact.html#contact-form" class="btn") Müraciət et
                            |
                            |
                            .pricing-cards.flex
                                .price-card.silver
                                    h3.name Silver partner
                                    .fee.masked
                                        ="\n"
                                        span 10%
                                    p.price 399 AZN-ə qədər
                                |
                                |
                                .price-card.gold
                                    h3.name Gold partner
                                    .fee.masked
                                        ="\n"
                                        span 10%
                                    p.price 400-699 AZN
                                |
                                |
                                .price-card.platinum
                                    h3.name Platinum partner
                                    .fee.masked
                                        ="\n"
                                        span 10%
                                    p.price 399 AZN-ə qədər
                        // Partnership type
            // Container-fluid
            |
            |
            .container-fluid.ptb-11(data-aos="fade-up" data-aos-duration="800")
                .row
                    .col-xl-8.offset-xl-2
                        .section-header
                            h2.section-title Satış dileri
                        |
                        |
                        .partnership-type.flex
                            .info
                                p Əməkdaşlıq Proqramı Satış dilerlərimizə ictimai, özəl və dövlət sektorundan olan müştərilərə etibarlı, yüksək keyfiyyətli xidmət, data təhlükəsizliyi, müasir İT göstəricilərinə malik şəbəkə və İT infrastrukturu əsasında AzInTelecom-un data mərkəzi xidmətlərini və infrastruktur həllərini əldə etməklərinə kömək etmək üçün şərait yaradır. 
                                ="\n"
                                a(href="contact.html#contact-form" class="btn") Müraciət et
                            |
                            |
                            .pricing-cards.flex
                                .price-card.silver
                                    h3.name Silver partner
                                    .fee.masked
                                        ="\n"
                                        span 10%
                                    p.price 399 AZN-ə qədər
                                |
                                |
                                .price-card.gold
                                    h3.name Gold partner
                                    .fee.masked
                                        ="\n"
                                        span 10%
                                    p.price 400-699 AZN
                                |
                                |
                                .price-card.platinum
                                    h3.name Platinum partner
                                    .fee.masked
                                        ="\n"
                                        span 10%
                                    p.price 399 AZN-ə qədər
                        // Partnership type
            // Container-fluid
        // Partnership types
        |
        |
        .clients.ptb-14(data-aos="fade-in" data-aos-duration="800")
            .bg-video
                video(class="lazy" autoplay muted loop playsinline)
                    source(data-src=require("../../videos/network.mp4") type="video/mp4")
            |
            |
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .section-header.text-center
                            h2.section-title Parnertlar
                        |
                        |
                        .partners-slider
                            .swiper-container
                                .swiper-wrapper
                                    .swiper-slide
                                        ="\n"
                                        a(href="#" target="_blank" class="company-thumb")
                                            ="\n"
                                            img(src=require("../../images/partners/image0.png") alt="Partner logo")
                                            ="\n"
                                    .swiper-slide
                                        ="\n"
                                        a(href="#" target="_blank" class="company-thumb")
                                            ="\n"
                                            img(src=require("../../images/partners/image0.png") alt="Partner logo")
                                            ="\n"
                                    .swiper-slide
                                        ="\n"
                                        a(href="#" target="_blank" class="company-thumb")
                                            ="\n"
                                            img(src=require("../../images/partners/image0.png") alt="Partner logo")
                                            ="\n"
                                    .swiper-slide
                                        ="\n"
                                        a(href="#" target="_blank" class="company-thumb")
                                            ="\n"
                                            img(src=require("../../images/partners/image0.png") alt="Partner logo")
                                            ="\n"
                                |
                                |
                                .swiper-pagination
                                |
                                |
                                .swiper-button-prev.masked.hidden-991
                                    ="\n"
                                    i.icon-arrow-left
                                .swiper-button-next.masked.hidden-991
                                    ="\n"
                                    i.icon-arrow-right
                        // Partners slider
        // Partners
        |
        |
        .what-you-get.ptb-16
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        p.text-center Партнерство с нами позволяет освободить время и разделить риски.
                        .image.masked
                            ="\n"
                            img(src=require("../../images/blog/image3.jpg") alt="Presentational image")
        // What you get
        |
        |
        include ../includes/have-question.pug
        |
        |
        include ../includes/azcloud-azintelecom.pug
    // Partnership page