extends ../layout/layout2.pug

block content
    section.page
        .container-fluid
            .row
                .col-xl-8.offset-xl-2
                    .page-header
                        h1.page-title Search results
                    |
                    |
                    .search-form.v2
                        form(action="#" method="GET")
                            .form-group
                                label(for="search-field") Search
                                input(type="text" id="search-field" class="form-control" value="Service" autocomplete="off")
                            button(type="submit" class="submit-search")
                                ="\n"
                                img(src=require("../../images/icons/icon-search.svg") alt="Icon search")
                            .search-count
                                p 12 items found
                    // Search form
                    |
                    |
                    .search-results
                        .load-container
                            .search-result
                                p.label Service
                                ="\n"
                                a(href="service-inner.html" target="_blank" class="value") Bulud infrastrukturu
                            |
                            |
                            .search-result
                                p.label Blog
                                ="\n"
                                a(href="blog-inner.html" target="_blank" class="value") İT infrastrukturu yaratmaqda kömək
                            |
                            |
                            .search-result
                                p.label Page
                                ="\n"
                                a(href="partnership.html" target="_blank" class="value") Əməkdaşlıq
                            |
                            |
                            .search-result
                                p.label Page
                                ="\n"
                                a(href="contact.html" target="_blank" class="value") Əlaqə
                            |
                            |
                            .search-result
                                p.label Service
                                ="\n"
                                a(href="service-inner.html" target="_blank" class="value") Bulud infrastrukturu
                            |
                            |
                            .search-result
                                p.label Blog
                                ="\n"
                                a(href="blog-inner.html" target="_blank" class="value") İT infrastrukturu yaratmaqda kömək
                            |
                            |
                            .search-result
                                p.label Page
                                ="\n"
                                a(href="partnership.html" target="_blank" class="value") Əməkdaşlıq
                            |
                            |
                            .search-result
                                p.label Page
                                ="\n"
                                a(href="contact.html" target="_blank" class="value") Əlaqə
                            |
                            |
                            .search-result
                                p.label Service
                                ="\n"
                                a(href="service-inner.html" target="_blank" class="value") Bulud infrastrukturu
                            |
                            |
                            .search-result
                                p.label Blog
                                ="\n"
                                a(href="blog-inner.html" target="_blank" class="value") İT infrastrukturu yaratmaqda kömək
                        // Load container
                        |
                        |
                        .load-more
                            ="\n"
                            a(href="#" class="btn btn-primary") Load more results
                    // Search results
        // Container fluid
        |
        |
        include ../includes/have-question.pug
        |
        |
        include ../includes/azcloud-azintelecom.pug
    // Search page