extends ../layout/layout.pug

block content
    section.page
        .container-fluid
            .row
                .col-xl-8.offset-xl-2
                    .page-header
                        h1.page-title Xidmətlərimiz
                        p.subtitle İnfrastrukturunuza uyğunlaşan və #[a(href="#") biznes] artımınıidarə etməyə imkan verən #[a(href="#") resurs] elastikliyi
                    |
                    |
                    .services-grid.flex
                        .service-card
                            .service-card__bg
                                ="\n"
                                img(src=require("../../images/service-card-bg.jpg") alt="Service thumb")
                            .service-card__body
                                ="\n"
                                span(class="title") Compute
                                ="\n"
                                span(class="subtitle") resurs elastikliyi
                                ="\n"
                                ul.service-categories
                                    li(data-toggle="tooltip" title="Public IPs")
                                        ="\n"
                                        a(href="service-compute.html") ACS
                                    li(data-toggle="tooltip" title="Public IPs")
                                        ="\n"
                                        a(href="service-compute.html") AVPG
                                    li(data-toggle="tooltip" title="Public IPs")
                                        ="\n"
                                        a(href="service-compute.html") ASG
                        // Service card
                        |
                        |
                        .service-card
                            .service-card__bg
                                ="\n"
                                img(src=require("../../images/service-card-bg.jpg") alt="Service thumb")
                            .service-card__body
                                ="\n"
                                span(class="title") Storage
                                ="\n"
                                span(class="subtitle") resurs elastikliyi
                                ="\n"
                                ul.service-categories
                                    li(data-toggle="tooltip" title="Public IPs")
                                        ="\n"
                                        a(href="service-storage.html") asb
                                    li(data-toggle="tooltip" title="Public IPs")
                                        ="\n"
                                        a(href="service-storage.html") asf
                                    li(data-toggle="tooltip" title="Public IPs")
                                        ="\n"
                                        a(href="service-storage.html") aso
                        // Service card
                        |
                        |
                        .service-card
                            .service-card__bg
                                ="\n"
                                img(src=require("../../images/service-card-bg.jpg") alt="Service thumb")
                            .service-card__body
                                ="\n"
                                span(class="title") Network
                                ="\n"
                                span(class="subtitle") resurs elastikliyi
                                ="\n"
                                ul.service-categories
                                    li(data-toggle="tooltip" title="Public IPs")
                                        ="\n"
                                        a(href="service-network.html") AVPS
                                    li(data-toggle="tooltip" title="Public IPs")
                                        ="\n"
                                        a(href="service-network.html") ASG
                                    li(data-toggle="tooltip" title="Public IPs")
                                        ="\n"
                                        a(href="service-network.html") AP-I
                                    li(data-toggle="tooltip" title="Public IPs")
                                        ="\n"
                                        a(href="service-network.html") ALB-A
                                    li(data-toggle="tooltip" title="Public IPs")
                                        ="\n"
                                        a(href="service-network.html") ADD
                        // Service card
                    // Services grid
                    |
                    |
                    .need-help.ptb-11
                        p Lazım olan xidmətini tapmamısız? Bizə yazın və biz Sizə kömək edərik!
                        ="\n"
                        a(href="contact.html" class="btn btn-white") Müraciət et
                    // Need help
        // Container fluid
        |
        |
        include ../includes/have-question.pug
        |
        |
        include ../includes/azcloud-azintelecom.pug
    // Services page