extends ../layout/layout.pug

block content
    section.page
        div(class="service-intro" data-aos="fade-in" data-aos-duration="800")
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .service-preview.flex
                            .left
                                h1.title Storage
                                h2.subtitle Information about storage
                                ul.service-categories
                                    li
                                        ="\n"
                                        a(href="service-compute.html") Asb
                                    li
                                        ="\n"
                                        a(href="service-compute.html") Asf
                                    li
                                        ="\n"
                                        a(href="service-compute.html") Aso
                            .right
                                ="\n"
                                img(src=require("../../images/intro-slider/image0.png") alt="Service image")
        // Service intro
        |
        |
        div(class="service-description")
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .first-chunk
                            p “AZCLOUD” bulud hesablamaları xidmətləri sizin ehtiyaclarınıza uyğunlaşdırılır. Fərdiləşdirilmiş həllər minimum giriş xərcləri ödəməklə daxili İT infrastrukturu yaratmağa imkan verir. #[button.expand Daha ətraflı göstər]
                        |
                        |
                        .rest-chunk
                            .editor-body
                                p "AZCLOUD" Azərbaycan və Cənubi Qafqaz regionunda TIER III, ISO 20000, ISO 22301 və ISO 27001 sertifikatlarına malik ilk data mərkəzi, 2016-cı ilin dekabr ayında “AzInTelecom” MMC tərəfindən istismara verilib. “AzInTelecom” MMC Nəqliyyat, #[a(href="#") Rabitə və Yüksək Texnologiyalar Nazirliyi (NRYTN)] nəzdində fəaliyyət göstərir.Sahəsi 700 m2 –dən çox olan və tələblərinizə tam cavab verəcək sayda server dayaqlarına malik data mərkəzində verilənlərin yüksək sürətlə ötürülməsini həyata keçiririk.
                                p "AZCLOUD" Azərbaycan və Cənubi Qafqaz regionunda TIER III, ISO 20000, ISO 22301 və ISO 27001 sertifikatlarına malik ilk data mərkəzi, 2016-cı ilin dekabr ayında “AzInTelecom” MMC tərəfindən istismara verilib. “AzInTelecom” MMC Nəqliyyat, #[a(href="#") Rabitə və Yüksək Texnologiyalar Nazirliyi (NRYTN)] nəzdində fəaliyyət göstərir.Sahəsi 700 m2 –dən çox olan və tələblərinizə tam cavab verəcək sayda server dayaqlarına malik data mərkəzində verilənlərin yüksək sürətlə ötürülməsini həyata keçiririk.
                            button.roll-up Daha az göstər
        // Service description
        |
        |
        div(class="service-nav sticky-nav hidden-1200" id="service-nav")
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        ul.nav
                            li.nav-item
                                ="\n"
                                a(href="#benefits" class="nav-link") Benefits
                            li.nav-item
                                ="\n"
                                a(href="#use-cases" class="nav-link") Use Cases
                            li.nav-item
                                ="\n"
                                a(href="#main-features" class="nav-link") Features
                            li.nav-item
                                ="\n"
                                a(href="#prices" class="nav-link") Prices
        // Service nav
        |
        |
        div(class="service-benefits flat ptb-14" id="benefits" data-aos="fade-in" data-aos-duration="800")
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .section-header
                            h2.section-title Benefits
                        |
                        |
                        .benefits-list.flex
                            .benefits-list__item
                                .benefits-list__icon
                                    ="\n"
                                    img(src=require("../../images/icons/cursor-blue.svg") alt="Icon")
                                .benefits-list__info
                                    p.benefits-list__label Performance
                                    p.benefits-list__desc ASB provides high durability (99.99%) for types of storages
                            |
                            |
                            .benefits-list__item
                                .benefits-list__icon
                                    ="\n"
                                    img(src=require("../../images/icons/odometer-blue.svg") alt="Icon")
                                .benefits-list__info
                                    p.benefits-list__label Elasticity
                                    p.benefits-list__desc ASB provides high durability (99.99%) for types of storages
                            |
                            |
                            .benefits-list__item
                                .benefits-list__icon
                                    ="\n"
                                    img(src=require("../../images/icons/draw-blue.svg") alt="Icon")
                                .benefits-list__info
                                    p.benefits-list__label Durability
                                    p.benefits-list__desc ASB provides high durability (99.99%) for types of storages
                            |
                            |
                            .benefits-list__item
                                .benefits-list__icon
                                    ="\n"
                                    img(src=require("../../images/icons/label-blue.svg") alt="Icon")
                                .benefits-list__info
                                    p.benefits-list__label Scaling
                                    p.benefits-list__desc Ability to add up to 10 additional volumes to AZCLOUD virtual machine
                            |
                            |
                            .benefits-list__item
                                .benefits-list__icon
                                    ="\n"
                                    img(src=require("../../images/icons/cube-blue.svg") alt="Icon")
                                .benefits-list__info
                                    p.benefits-list__label Easy-to-use
                                    p.benefits-list__desc ASB persists independently of the life of instance
                            |
                            |
                            .benefits-list__item
                                .benefits-list__icon
                                    ="\n"
                                    img(src=require("../../images/icons/label-blue.svg") alt="Icon")
                                .benefits-list__info
                                    p.benefits-list__label Cost-efficiency
                                    p.benefits-list__desc Subject to business application and its criticality change between type of ASB
                            |
                            |
                            .benefits-list__item
                                .benefits-list__icon
                                    ="\n"
                                    img(src=require("../../images/icons/connection-blue.svg") alt="Icon")
                                .benefits-list__info
                                    p.benefits-list__label Security
                                    p.benefits-list__desc Automatically scale up storage capacity
                            |
                            |
                            .benefits-list__item
                                .benefits-list__icon
                                    ="\n"
                                    img(src=require("../../images/icons/connection-blue.svg") alt="Icon")
                                .benefits-list__info
                                    p.benefits-list__label Cost effectiveness
                                    p.benefits-list__desc ASB provides high durability (99.99%) for types of storages
                        // Benefits list
        // Benefits
        |
        |
        div(class="use-cases" id="use-cases" data-aos="fade-in" data-aos-duration="800")
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .row 
                            .col-md-5
                                .use-cases__img.masked
                                    ="\n"
                                    img(src=require("../../images/values-bg.jpg") alt="Use case")
                            // Inner col
                            |
                            |
                            .col-md-7
                                .use-cases__content
                                    .section-header
                                        h3.section-title Use Cases
                                        p.subtitle Customers have a choice to select one of VM categories and size of virtual machines for case such as:
                                    |
                                    |
                                    ul.use-cases__examples
                                        li(class="use-case__example" data-src="../../images/data-centers/image0.jpg") Databases – relational and non-relational
                                        li(class="use-case__example" data-src="../../images/data-centers/image1.jpg") Business critical applications
                                        li(class="use-case__example" data-src="../../images/data-centers/image2.jpg") Data warehouse
                                        li(class="use-case__example" data-src="../../images/values-bg.jpg") Log processing
                                        li(class="use-case__example" data-src="../../images/data-centers/image1.jpg") Virtual desktops
                                        li(class="use-case__example" data-src="../../images/data-centers/image1.jpg") Business critical applications
                            // Inner col
                    // Outer col
        // Use cases
        |
        |
        div(class="main-features pb-16" id="main-features")
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .features-slider.ptb-16
                            .section-header
                                h2.section-title Main Features
                            |
                            |
                            .swiper-container
                                .swiper-wrapper
                                    .feature-slide.swiper-slide
                                        .feature-slide__bg 
                                            ="\n"
                                            img(data-src=require("../../images/feature-slider-bg.jpg") alt="Slide background" class="swiper-lazy")
                                        h3.feature-slide__label OS
                                        p.feature-slide__info Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate similique quisquam minima illo odit architecto, tempore reprehenderit ducimus nobis corrupti.
                                    |
                                    |
                                    .feature-slide.swiper-slide
                                        .feature-slide__bg 
                                            ="\n"
                                            img(data-src=require("../../images/feature-slider-bg.jpg") alt="Slide background" class="swiper-lazy")
                                        h3.feature-slide__label Storage
                                        p.feature-slide__info Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, fugit culpa odit eius porro non vel neque sapiente provident, reiciendis nesciunt dolorum inventore voluptate dicta. 
                                |
                                |
                                .swiper-pagination 
                                |
                                |
                                .swiper-button-prev.masked.hidden-991
                                    ="\n"
                                    i.icon-arrow-left
                                .swiper-button-next.masked.hidden-991
                                    ="\n"
                                    i.icon-arrow-right
                        // Features slider
                        |
                        |
                        .additional-features
                            .section-header
                                h2.section-title Additional Features
                            |
                            |
                            ul
                                li Auto Scaling
                                li Termination protection – protection of virtual machines from being accidentally terminated
                                li Switch ON/OFF (Stop / Terminate) – virtual machine behavior when an OS-level shutdown is performed	
                        // Additional features
        // Main features
        |
        |
        div(class="service-prices ptb-11" id="prices" data-aos="fade-in" data-aos-duration="800")
            .bg-video
                video(class="lazy" autoplay muted loop playsinline)
                    source(data-src=require("../../videos/network.mp4") type="video/mp4")
            |
            |
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .section-header
                            h2.section-title Qiymətlər
                        |
                        |
                        .filters-group
                            .row
                                .col-lg-8
                                    .fields-group-wrapper
                                        p.group-label Family
                                        .fields-group
                                            div
                                                .field-item
                                                    input(type="radio" name="service-os-family" value="a" id="os-family-a" checked)
                                                    label(for="os-family-a") A - Entry
                                            div
                                                .field-item
                                                    input(type="radio" name="service-os-family" value="b" id="os-family-b")
                                                    label(for="os-family-b") B - Accelerated
                                            div
                                                .field-item
                                                    input(type="radio" name="service-os-family" value="c" id="os-family-c")
                                                    label(for="os-family-c") C - Ultimate
                                // Col
                                |
                                |
                                .col-lg-4
                                    .fields-group-wrapper
                                        p.group-label Operation system
                                        .fields-group
                                            div
                                                .field-item
                                                    input(type="radio" name="service-os" value="linux" id="os-linux" checked)
                                                    label(for="os-linux") Linux
                                            div
                                                .field-item
                                                    input(type="radio" name="service-os" value="windows" id="os-windows")
                                                    label(for="os-windows") Windows
                                // Col
                        // Filters group
                        |
                        |
                        .prices-table
                            table
                                thead
                                    tr
                                        th Name
                                        th vCPU
                                        th RAM
                                        th Root Volume
                                        th Price
                                        th
                                tbody
                                    tr(data-os="linux" data-family="linux-a")
                                        td C 1.2
                                        td 1
                                        td 2 GB
                                        td 20 GB
                                        td 0.37 AZN/hour
                                        td
                                            ="\n"
                                            a(href="#" class="purchase") Əldə et
                                    tr(data-os="linux" data-family="linux-a")
                                        td C 1.2
                                        td 1
                                        td 2 GB
                                        td 20 GB
                                        td 0.37 AZN/hour
                                        td
                                            ="\n"
                                            a(href="#" class="purchase") Əldə et
                                    tr(data-os="linux" data-family="linux-a")
                                        td C 1.2
                                        td 1
                                        td 2 GB
                                        td 20 GB
                                        td 0.37 AZN/hour
                                        td
                                            ="\n"
                                            a(href="#" class="purchase") Əldə et
                                    tr(data-os="windows" data-family="windows-a")
                                        td C 1.2
                                        td 1
                                        td 2 GB
                                        td 20 GB
                                        td 0.37 AZN/hour
                                        td
                                            ="\n"
                                            a(href="#" class="purchase") Əldə et
                                    tr(data-os="windows" data-family="windows-a")
                                        td C 1.2
                                        td 1
                                        td 2 GB
                                        td 20 GB
                                        td 0.37 AZN/hour
                                        td
                                            ="\n"
                                            a(href="#" class="purchase") Əldə et
                                    tr(data-os="windows" data-family="windows-a")
                                        td C 1.2
                                        td 1
                                        td 2 GB
                                        td 20 GB
                                        td 0.37 AZN/hour
                                        td
                                            ="\n"
                                            a(href="#" class="purchase") Əldə et
                                    tr(data-os="linux" data-family="linux-b")
                                        td C 1.2
                                        td 1
                                        td 2 GB
                                        td 20 GB
                                        td 0.37 AZN/hour
                                        td
                                            ="\n"
                                            a(href="#" class="purchase") Əldə et
                                    tr(data-os="windows" data-family="windows-b")
                                        td C 1.2
                                        td 1
                                        td 2 GB
                                        td 20 GB
                                        td 0.37 AZN/hour
                                        td
                                            ="\n"
                                            a(href="#" class="purchase") Əldə et
                        // Prices table
        // Service prices
        |
        |
        include ../includes/azcloud-azintelecom.pug
    // Service inner page