extends ../layout/layout.pug

block content
    section.page
        div(class="service-intro" data-aos="fade-in" data-aos-duration="800")
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .service-preview.flex
                            .left
                                h1.title Network
                                h2.subtitle Information about network
                                ul.service-categories
                                    li
                                        ="\n"
                                        a(href="service-compute.html") ALB
                                    li
                                        ="\n"
                                        a(href="service-compute.html") AVPS
                                    li
                                        ="\n"
                                        a(href="service-compute.html") ASG
                                    li
                                        ="\n"
                                        a(href="service-compute.html") ADD
                                    li
                                        ="\n"
                                        a(href="service-compute.html") AP-I
                            .right
                                ="\n"
                                img(src=require("../../images/intro-slider/image0.png") alt="Service image")
        // Service intro
        |
        |
        div(class="service-description")
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .first-chunk
                            p “AZCLOUD” bulud hesablamaları xidmətləri sizin ehtiyaclarınıza uyğunlaşdırılır. Fərdiləşdirilmiş həllər minimum giriş xərcləri ödəməklə daxili İT infrastrukturu yaratmağa imkan verir. #[button.expand Daha ətraflı göstər]
                        |
                        |
                        .rest-chunk
                            .editor-body
                                p "AZCLOUD" Azərbaycan və Cənubi Qafqaz regionunda TIER III, ISO 20000, ISO 22301 və ISO 27001 sertifikatlarına malik ilk data mərkəzi, 2016-cı ilin dekabr ayında “AzInTelecom” MMC tərəfindən istismara verilib. “AzInTelecom” MMC Nəqliyyat, #[a(href="#") Rabitə və Yüksək Texnologiyalar Nazirliyi (NRYTN)] nəzdində fəaliyyət göstərir.Sahəsi 700 m2 –dən çox olan və tələblərinizə tam cavab verəcək sayda server dayaqlarına malik data mərkəzində verilənlərin yüksək sürətlə ötürülməsini həyata keçiririk.
                                p "AZCLOUD" Azərbaycan və Cənubi Qafqaz regionunda TIER III, ISO 20000, ISO 22301 və ISO 27001 sertifikatlarına malik ilk data mərkəzi, 2016-cı ilin dekabr ayında “AzInTelecom” MMC tərəfindən istismara verilib. “AzInTelecom” MMC Nəqliyyat, #[a(href="#") Rabitə və Yüksək Texnologiyalar Nazirliyi (NRYTN)] nəzdində fəaliyyət göstərir.Sahəsi 700 m2 –dən çox olan və tələblərinizə tam cavab verəcək sayda server dayaqlarına malik data mərkəzində verilənlərin yüksək sürətlə ötürülməsini həyata keçiririk.
                            button.roll-up Daha az göstər
        // Service description
        |
        |
        div(class="service-subtype-info ptb-11")
            .container-fluid 
                .row 
                    .col-xl-8.offset-xl-2 
                        ul.service-categories
                            li
                                ="\n"
                                a(href="service-compute.html") Alb-a
                            li
                                ="\n"
                                a(href="service-compute.html") Alb-n
                        .editor-body
                            p ALB-A  (AZCLOUD Application Load Balancer)– operates on Layer 7, allowing customers to automatically route traffic on application level. ALB-A automatically distributes incoming application traffic across multiple targets, such as ACS instances, containers, and IP addresses layer 7 load balamncer that rotes connections based on the content of the request.  
        // Service subtype
        |
        |
        div(class="service-nav sticky-nav hidden-1200" id="service-nav")
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        ul.nav
                            li.nav-item
                                ="\n"
                                a(href="#benefits" class="nav-link") Benefits
                            li.nav-item
                                ="\n"
                                a(href="#use-cases" class="nav-link") Use Cases
                            li.nav-item
                                ="\n"
                                a(href="#main-features" class="nav-link") Features
                            li.nav-item
                                ="\n"
                                a(href="#bundles" class="nav-link") Prices
        // Service nav
        |
        |
        div(class="service-benefits flat ptb-14" id="benefits" data-aos="fade-in" data-aos-duration="800")
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .section-header
                            h2.section-title Benefits
                        |
                        |
                        .benefits-list.flex
                            .benefits-list__item
                                .benefits-list__icon
                                    ="\n"
                                    img(src=require("../../images/icons/cursor-blue.svg") alt="Icon")
                                .benefits-list__info
                                    p.benefits-list__label Layer-7 Load Balancing
                                    p.benefits-list__desc ALB can load balance HTTP/HTTPS traffic to targets – Azcloud VMs based on request attributes (such as X-Forwarded-Protoб X-Forwarded-Port, or X-Forwarded-For headers).
                            |
                            |
                            .benefits-list__item
                                .benefits-list__icon
                                    ="\n"
                                    img(src=require("../../images/icons/odometer-blue.svg") alt="Icon")
                                .benefits-list__info
                                    p.benefits-list__label Elasticity
                                    p.benefits-list__desc Automatically scale up storage capacity
                            |
                            |
                            .benefits-list__item
                                .benefits-list__icon
                                    ="\n"
                                    img(src=require("../../images/icons/draw-blue.svg") alt="Icon")
                                .benefits-list__info
                                    p.benefits-list__label Security
                                    p.benefits-list__desc – ALB enables to create and manage security groups associated with load balancing to provide additional networking and security options. Elasticity – automatically scale up storage capacity
                            |
                            |
                            .benefits-list__item
                                .benefits-list__icon
                                    ="\n"
                                    img(src=require("../../images/icons/label-blue.svg") alt="Icon")
                                .benefits-list__info
                                    p.benefits-list__label Flexibility 
                                    p.benefits-list__desc You will be able to change your backend infrastructure without affecting the availability of your services, enabling seamless horizontal scaling, rolling deployments, large architecture redesigns, and more

                            |
                            |
                            .benefits-list__item
                                .benefits-list__icon
                                    ="\n"
                                    img(src=require("../../images/icons/cube-blue.svg") alt="Icon")
                                .benefits-list__info
                                    p.benefits-list__label Load Sharing
                                    p.benefits-list__desc Sharing the processing workload among a group of servers rather than relying on a single server prevents Azcloud VMs from being overwhelmed by requests.
                            |
                            |
                            .benefits-list__item
                                .benefits-list__icon
                                    ="\n"
                                    img(src=require("../../images/icons/label-blue.svg") alt="Icon")
                                .benefits-list__info
                                    p.benefits-list__label TLS Offloading
                                    p.benefits-list__desc – with ALB-A customers can create an HTTPS listener, which uses encrypted connections (also known as SSL offload). This feature enables traffic encryption between your load balancer and the clients that initiate SSL or TLS sessions. This enables you to offload TLS termination tasks to the load balancer while preserving the source IP address for your back-end applications
                        // Benefits list
        // Benefits
        |
        |
        div(class="use-cases" id="use-cases" data-aos="fade-in" data-aos-duration="800")
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .row 
                            .col-md-5
                                .use-cases__img.masked
                                    ="\n"
                                    img(src=require("../../images/values-bg.jpg") alt="Use case")
                            // Inner col
                            |
                            |
                            .col-md-7
                                .use-cases__content
                                    .section-header
                                        h3.section-title Use Cases
                                        p.subtitle Customers have a choice to select one of VM categories and size of virtual machines for case such as:
                                    |
                                    |
                                    ul.use-cases__examples
                                        li(class="use-case__example" data-src="../../images/data-centers/image0.jpg") Business critical applications
                                        li(class="use-case__example" data-src="../../images/data-centers/image1.jpg") Database clasters.
                                        li(class="use-case__example" data-src="../../images/data-centers/image2.jpg") A cluster of FTPS or SFTP servers with common storage media
                                        li(class="use-case__example" data-src="../../images/values-bg.jpg") Legacy applications that implement custom protocol.
                                        li(class="use-case__example" data-src="../../images/data-centers/image1.jpg") For horizontal scaling infrastructure
                                        li(class="use-case__example" data-src="../../images/data-centers/image1.jpg") High performance queue servers (ActiveMQ, RabbitMQ, ZeroMQ etc.).
                            // Inner col
                    // Outer col
        // Use cases
        |
        |
        div(class="main-features pb-16" id="main-features")
            .container-fluid
                .row
                    .col-xl-8.offset-xl-2
                        .features-slider.ptb-16
                            .section-header
                                h2.section-title Main Features
                            |
                            |
                            .swiper-container
                                .swiper-wrapper
                                    .feature-slide.swiper-slide
                                        .feature-slide__bg 
                                            ="\n"
                                            img(data-src=require("../../images/feature-slider-bg.jpg") alt="Slide background" class="swiper-lazy")
                                        h3.feature-slide__label OS
                                        p.feature-slide__info Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate similique quisquam minima illo odit architecto, tempore reprehenderit ducimus nobis corrupti.
                                    |
                                    |
                                    .feature-slide.swiper-slide
                                        .feature-slide__bg 
                                            ="\n"
                                            img(data-src=require("../../images/feature-slider-bg.jpg") alt="Slide background" class="swiper-lazy")
                                        h3.feature-slide__label Storage
                                        p.feature-slide__info Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, fugit culpa odit eius porro non vel neque sapiente provident, reiciendis nesciunt dolorum inventore voluptate dicta. 
                                |
                                |
                                .swiper-pagination 
                                |
                                |
                                .swiper-button-prev.masked.hidden-991
                                    ="\n"
                                    i.icon-arrow-left
                                .swiper-button-next.masked.hidden-991
                                    ="\n"
                                    i.icon-arrow-right
                        // Features slider
                        |
                        |
                        .additional-features
                            .section-header
                                h2.section-title Additional Features
                            |
                            |
                            ul
                                li User Authentication – ABL will securely authenticate users as they access cloud applications. 
                                li Desync Mitigation Mode – Desync mitigation mode protects your application from issues due to HTTP Desync.
                                li Content-based Routing – ABLcan route a request to a service based on the content of the request such as Host field, Path URL, HTTP header, HTTP method, Query string or Source IP address.
                                li Health Checks - HTTPS, gRPC
                        // Additional features
        // Main features
        |
        |
        div(class="service-bundles ptb-11" id="bundles" data-aos="fade-in" data-aos-duration="800")
            .container-fluid 
                .row 
                    .col-xl-8.offset-xl-2
                        ="\n"
                        .service-bundles-list
                            .row 
                                .col-lg-4.col-sm-6
                                    .service-bundle.flex
                                        .textures
                                            .texture.masked
                                            .texture.masked
                                        p.name ASB 
                                        p.level Standart 
                                        .bundle-description 
                                            p ALB-A #[strong Standard] is the best choice for Static websites and blogs with low to moderate traffic.
                                        .bundle-usage 
                                            p LCU measures the dimensions on which the Application Load Balancer processes your traffic (averaged over an hour). #[strong FREE] for ALB Standard
                                        .bundle-params
                                            .params-accordion
                                                .accordion-item
                                                    ="\n"
                                                    a(href="#accordion-0-0" data-toggle="collapse") Perfomance
                                                    div(class="collapse" id="accordion-0-0")
                                                        div(class="collapse-content")
                                                            p LCU measures the dimensions on which the Application Load Balancer processes your traffic (averaged over an hour). FREE for ALB Standard
                                                .accordion-item
                                                    ="\n"
                                                    a(href="#accordion-0-1" data-toggle="collapse") Billing
                                                    div(class="collapse" id="accordion-0-1")
                                                        div(class="collapse-content")
                                                            p LCU measures the dimensions on which the Application Load Balancer processes your traffic (averaged over an hour). FREE for ALB Standard
                                            button(class="collapse-all") Collapse all
                                        .bundle-price
                                            p.price 29
                                            .currency-period
                                                p.currency AZN
                                                p.period /per month
                                    // Service bundle
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6
                                    .service-bundle.flex
                                        .textures
                                            .texture.masked
                                            .texture.masked
                                        p.name ASB 
                                        p.level Ultra 
                                        .bundle-description 
                                            p ALB-A #[strong Ultra] is the best choice for Static websites and blogs with low to moderate traffic.
                                        .bundle-usage 
                                            p LCU measures the dimensions on which the Application Load Balancer processes your traffic (averaged over an hour). #[strong FREE] for ALB Standard
                                        .bundle-params
                                            .params-accordion
                                                .accordion-item
                                                    ="\n"
                                                    a(href="#accordion-1-0" data-toggle="collapse") Perfomance
                                                    div(class="collapse" id="accordion-1-0")
                                                        div(class="collapse-content")
                                                            p LCU measures the dimensions on which the Application Load Balancer processes your traffic (averaged over an hour). FREE for ALB Standard
                                                .accordion-item
                                                    ="\n"
                                                    a(href="#accordion-1-1" data-toggle="collapse") Billing
                                                    div(class="collapse" id="accordion-1-1")
                                                        div(class="collapse-content")
                                                            p LCU measures the dimensions on which the Application Load Balancer processes your traffic (averaged over an hour). FREE for ALB Standard
                                            button(class="collapse-all") Collapse all
                                        .bundle-price
                                            p.price 49
                                            .currency-period
                                                p.currency AZN
                                                p.period /per month
                                    // Service bundle
                                // Col
                                |
                                |
                                .col-lg-4.col-sm-6
                                    .service-bundle.flex
                                        .textures
                                            .texture.masked
                                            .texture.masked
                                        p.name ASB 
                                        p.level Turbo 
                                        .bundle-description 
                                            p ALB-A #[strong Turbo] is the best choice for Static websites and blogs with low to moderate traffic.
                                        .bundle-usage 
                                            p LCU measures the dimensions on which the Application Load Balancer processes your traffic (averaged over an hour). #[strong FREE] for ALB Standard
                                        .bundle-params
                                            .params-accordion
                                                .accordion-item
                                                    ="\n"
                                                    a(href="#accordion-2-0" data-toggle="collapse") Perfomance
                                                    div(class="collapse" id="accordion-2-0")
                                                        div(class="collapse-content")
                                                            p LCU measures the dimensions on which the Application Load Balancer processes your traffic (averaged over an hour). FREE for ALB Standard
                                                .accordion-item
                                                    ="\n"
                                                    a(href="#accordion-2-1" data-toggle="collapse") Billing
                                                    div(class="collapse" id="accordion-2-1")
                                                        div(class="collapse-content")
                                                            p LCU measures the dimensions on which the Application Load Balancer processes your traffic (averaged over an hour). FREE for ALB Standard
                                            button(class="collapse-all") Collapse all
                                        .bundle-price
                                            p.price 95
                                            .currency-period
                                                p.currency AZN
                                                p.period /per month
                                    // Service bundle
                                // Col
                            // Row
                        // Service bundles list
                        |
                        |
        // Service bundles section
        |
        |
        include ../includes/azcloud-azintelecom.pug
    // Service inner page