.to-top {
    position: fixed;
    left: -12rem;
    bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.6rem;
    height: 9.6rem;
    color: $cyan;
    background: $blue;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    transition: .3s ease;

    &:hover {
        background: $darkBlue;
    }

    &.active {
        left: 4rem;
    }

    i {
        transform: translateY(1px);
    }
}

/* ***** -- footer top ***** */
.footer-top {
    position: relative;
    padding: 10.5rem 0 6.5rem 0;
    background: #F5F6FB;

    .label {
        position: relative;
        font-size: 2.4rem;
        color: $blue;
        padding: 0 0 6rem 0;

        &:after {
            content: "";
            position: absolute;
            bottom: 3rem;
            left: 0;
            width: 3rem;
            height: 1px;
            background: $black;
        }
    }

    table {
        width: 100%;
        max-width: 38rem;

        tr {
            vertical-align: top;
        }

        td {
            &:first-child {
                padding: 0 2.4rem 0 0;
            }

            &:last-child {
                padding: 0 0 4.4rem 0;
            }
        }
    }
}

.socials {
    li {
        margin: 0 3.2rem 0 0;

        &:last-child {
            margin: 0;
        }
    }

    a {
        font-size: 1.8rem;
    }
}

.footer-links {
    position: relative;
    z-index: 5;

    ul {
        flex-direction: column;
    }

    li {
        margin: 0 0 2.4rem 0;
    }

    a {
        color: $black;

        &:hover {
            text-decoration: underline;
        }
    }
}

/* ***** -- footer bottom ***** */
.footer-bottom {
    padding: 2.3rem 0;
    background: linear-gradient(270deg, #000BAB 0%, #0078FA 100%);

    p {
        display: inline;
        line-height: 170%;
        color: $white;
    }

    img {
        width: 1.5rem;
        margin: -.4rem 2rem 0 2rem;
    }
}

@media (max-width: 1600px) {
    .to-top {
        bottom: 2.5rem;
        width: 8rem;
        height: 8rem;
    
        &.active {
            left: 3rem;
        }
    }
}

@media (max-width: 991px) {
    /* ***** -- footer top ***** */
    .footer-links {
        margin: 4rem 0 0 0;
    }
}

@media (max-width: 767px) {
    /* ***** -- footer top ***** */
    footer {
        font-size: 1.6rem;
    }

    .footer-top {
        padding: 5.6rem 0 3.2rem 0;

        &:after {
            display: none;
        }

        .label {
            font-size: 2rem;
            padding: 0 0 4rem 0;

            &:after {
                bottom: 2rem;
            }
        }

        table {
            td {
                &:last-child {
                    padding: 0 0 2rem 0;
                }
            }
        }
    }

    .footer-links {
        li {
            margin: 0 0 1.5rem 0;
        }
    }

    /* ***** -- footer bottom ***** */
    .footer-bottom {
        line-height: 160%;
        text-align: center;
    }   
}