html {
    &.search-visible {
        header {
            transform: translateY(23.9rem);
        }

        .search-toggler {
            .show-search {
                display: none;
            }
    
            .close-search {
                display: inline-block;
            }
        }   
    }

    &.menu-visible {
        header {
            background: transparent;
            box-shadow: none;
            transform: translateY(0) !important;

            &::before {
                transform: translateX(0);
            }
        }

        .logo {
            .path {
                fill: $white;
            }
        }

        .langs,
        .langs-dropdown,
        .external-links,
        .search-toggler {
            display: none !important;
        }

        .menu-toggler {
            margin: 0 0 0 auto;
            background: transparent;
            border-color: rgba($white, .2);
        }

        .bars {
            span {
                top: 50% !important;
                width: 100% !important;
                background: $white;
    
                &:nth-child(2) {
                    opacity: 0;
                }
    
                &:first-child {
                    transform: rotate(135deg);
                }
    
                &:last-child {
                    transform: rotate(-135deg);
                }
            }
        }
    }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    transition: .3s ease;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, $darkBlue, rgba($darkBlue, 0));
        transform: translateX(100%);
        transition: .3s ease;
    }

    .col {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0 4rem;
    }

    .left,
    .right {
        display: flex;
        align-items: center;
    }
}

.logo {
    max-width: 18.3rem;
    margin: 0 4.8rem 0 0;

    a {
        display: flex;
    }

    .path {
        transition: .3s ease;
    }
}

.langs {
    li {
        margin: 0 3.2rem 0 0;

        &:last-child {
            margin: 0;
        }
    }

    a {
        font-size: 2rem;
        color: $darkBlue;

        &:hover,
        &.active {
            opacity: .4;
        }
    }
}

.langs-dropdown {
    padding-right: 1.6rem;

    &:before {
        content: "\f107";
        font-family: "fontello";
        color: $darkBlue;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    button {
        font-size: 1.6rem;
        color: $darkBlue;
    }

    .dropdown-menu {
        font-size: 1.6rem;
        min-width: auto;
    }

    .dropdown-item {
        line-height: 130%;
        padding: .4rem 1.2rem; 
    }
}

.external-links {
    li {
        margin: 0 0 0 4rem;
    }

    a {
        font-size: 2rem;
        color: $darkBlue;

        &:hover {
            opacity: .4;
        }
    }
}

.search-toggler {
    margin: 0 4rem;

    .close-search {
        display: none;
    }
}

.menu-toggler {
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 12rem;
    background: #F5F6FB;
    border: 1px solid rgba($blue, .2);
    border-top: 0;
    border-right: 0;
    cursor: pointer;
    transition: .3s ease;
}

.bars {
    position: relative;
    width: 4rem;
    height: 2rem;

    span {
        position: absolute;
        top: 50%;
        right: 0;
        width: 100%;
        height: 2px;
        background: $darkBlue;
        transform: translateY(-1px);
        transition: .3s ease;

        &:first-child {
            top: 0;
        }

        &:nth-child(2) {
            width: 3.2rem;
        }

        &:last-child {
            top: 100%;
        }
    }
}

@media (max-width: 1600px) {
    html.search-visible {
        header {
            transform: translateY(18.2rem);
        }
    }

    header {
        .col {
            padding: 0 0 0 3rem;
        }
    }

    .logo {
        max-width: 14.6rem;
    }

    .langs {
        li {
            margin: 0 2.4rem 0 0;
        }
    }

    .langs,
    .external-links {
        a {
            font-size: 1.8rem;
        }
    }

    .menu-toggler {
        width: 10rem;
        height: 10rem;
    }

    .bars {
        width: 3.2rem;
        height: 1.6rem;
    
        span {
            &:nth-child(2) {
                width: 2.8rem;
            }
        }
    }

}

@media (max-width: 1200px) {
    header {
        .col {
            padding: 0 0 0 1.5rem;
        }
    }

    .menu-toggler {
        width: 6.4rem;
        height: 6.4rem;
    }
}

@media (max-width: 992px) {
    html {
        &.search-visible {
            header {
                transform: translateY(9.8rem);
            }
        }
    }

    header {
        position: fixed;
        
        &.scrolling {
            background: #fff;
            box-shadow: 0 0 6px 6px rgba(#000, .05);
        }
    }

    .search-toggler {
        margin: 0 1.6rem 0 2rem;
    }
    
    .menu-toggler {
        border: none;
    }
}
