html {
    &.menu-visible {
        .side-menu {
            transform: translateX(-100%);
        }
    }
}

/* ***** -- bg video ***** */
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &::-webkit-media-controls {
            display: none !important;
        }
    }
}

.side-menu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background: $darkBlue;
    z-index: 10;
    transition: transform .3s ease;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.side-menu-body {
    max-height: 100%;
    width: 100%;
    padding: 16rem 0 6.4rem 0;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;  /* Firefox */

    /* Chrome, Safari, Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

.menu-links {
    flex-direction: column;

    li {
        margin: 0 0 4.8rem 0;
    }

    a {
        font-size: 2.4rem;
        color: $white;
        transition: .3s ease;

        &:hover {
            opacity: .6;
        }
    }
}

/* ***** -- menu right container ***** */
.menu-right-container {
    position: relative;

    &.default {
        .services-grid {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            visibility: hidden;
            opacity: 0;
            animation: fadeDown .3s ease forwards;
        }

        .services-flips {
            animation: fadeUp .3s ease forwards;
        }
    }

    &.hovered {
        .services-flips {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            visibility: hidden;
            opacity: 0;
            animation: fadeDown .3s ease forwards;
        }

        .services-grid {
            animation: fadeUp .3s ease forwards;
        }
    }
}

@keyframes fadeUp {
    from {
        visibility: hidden;
        opacity: 0;
        transform: translateY(80px);
    } 
    to {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeDown {
    from {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
    to {
        visibility: hidden;
        opacity: 0;
        transform: translateY(80px);
    }
}

/* ***** -- service cards ***** */
.side-menu {
    .service-card {
        &__bg {
            background: transparent;
        }
    }
}

/* ***** -- service flips ***** */
.services-flips {
    .service-flip {
        width: 33.333333%;
    }
}

.service-flip {
    display: flex;
    flex-grow: 1;
    position: relative;
    perspective: 1000px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);

    .rotator {
        width: 100%;
        transform-style: preserve-3d;
        transition: transform 0.6s;
    }

    .rotator,
    .flip-front,
    .flip-item {
        height: 100%;
    }

    .flip-front {
        transition: opacity .6s ease;
    }

    .flip-back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotateY(180deg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        overflow: hidden;
    }

    .flip-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: transform .8s ease;
        transition-delay: .4s;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right,#000BAB 0%, rgba(#001FB4, 0.9) 28%, rgba(#00BEFA, 0) 100%);
        }
    }

    &:hover {
        z-index: 2;

        .rotator {
            transform: rotateY(180deg);
        }

        .flip-front {
            opacity: 0;
        }

        .flip-bg {
            transform: scale(1.06);
        }
    }
}

.flip-item {
    position: relative;
    display: flex;
    flex-flow: column;
    padding: 3.2rem 4rem;

    span {
        display: inline-flex;
        color: #fff;
        transition: .3s ease;
    }

    .title {
        font-size: 3.2rem;
        line-height: 130%;
        max-width: 24rem;
        margin: 0 0 2.4rem 0;
    }

    .subtitle {
        line-height: 130%;
        margin: 0 0 10.2rem 0;
    }

    .price {
        justify-content: space-between;
        align-items: center;
        line-height: 130%;
        margin-top: auto;

        i {
            opacity: .2;
        }
    }
}

@media (max-width: 1600px) {
    .side-menu-body {
        padding: 12rem 0 6.4rem 0;
    }

    .menu-links {
        li {
            margin: 0 0 4rem 0;
        }
    
        a {
            font-size: 2rem;
        }
    }

    /* ***** -- service flip ***** */
    .flip-item {
        font-size: 1.4rem;
        padding: 2.4rem 3rem;
    
        .title {
            font-size: 2.4rem;
        }
    
        .subtitle {
            margin: 0 0 9rem 0;
        }
    }

}

@media (max-width: 992px) {
    /* ***** -- serviece grid ***** */
    .side-menu {
        .services-grid {
            .service-card {
                width: 100%;
            }
        }
    }

    /* ***** -- service flips ***** */
    .services-flips {
        .service-flip {
            width: 50%;
        }
    }
}

@media (max-width: 767px) {
    .side-menu-body {
        padding: 10rem 0 6.4rem 0;
    }

    .menu-links {
        li {
            margin: 0 0 3.2rem 0;
            text-align: center;
        }
    }
}

@media (max-width: 575px) {
    /* ***** -- service flips ***** */
    .services-flips {
        .service-flip {
            width: 100%;
        }
    }
}
