html {
    &.search-visible {
        .search-block {
            transform: translateY(0);
        }

        main.content {
            transform: translateY(23.9rem);
        }
    }
}

.search-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5.3rem 0;
    z-index: 1;
    transition: .3s ease;
    transform: translateY(-24rem);
}

.search-form {
    position: relative;

    label {
        position: absolute;
        opacity: 0;
        z-index: -10;
    }

    .form-group {
        margin: 0 0 2rem 0;
    }

    .form-control {
        font-size: 2.4rem;
        line-height: 130%;
        color: $white;
        padding: 2.3rem 4.8rem;
        background: rgba($white, .1);
        border: none;
        border-radius: 8rem;
    }

    .submit-search {
        position: absolute;
        top: 2rem;
        right: 3.6rem;

        img {
            max-width: 2.7rem;
        }
    }

    ::-webkit-input-placeholder {
        color: rgba($white, .6);
    }
    ::-moz-placeholder {
        color: rgba($white, .6);
    }
    :-ms-input-placeholder {
        color: rgba($white, .6);
    }
    :-moz-placeholder {
        color: rgba($white, .6);
    }
}

.search-examples {
    color: $white;

    span {
        opacity: .6;
    }

    a {
        color: inherit;
        text-decoration: underline;
        margin: 0 0 0 2.4rem;
    }
}

@media (max-width: 1600px) {    
    html {
        &.search-visible {
            main.content {
                transform: translateY(18.2rem);
            }
        }
    }

    .search-block {
        padding: 4rem 0;
        transform: translateY(-18.3rem);
    }

    .search-form {
        .form-group {
            margin: 0 0 1.3rem 0;
        }
    
        .form-control {
            font-size: 2rem;
            padding: 1.6rem 3rem;
        }
    
        .submit-search {
            top: 1.1rem;
            right: 2.8rem;

            img {
                max-width: 2.2rem;
            }
        }
    }
    
    .search-examples {
        a {
            margin: 0 0 0 2rem;
        }
    }

}

@media (max-width: 992px) {
    html {
        &.search-visible {
            main.content {
                transform: translateY(9.8rem);
            }
        }
    }

    .search-block {
        padding: 2rem 0;
        transform: translateY(-10rem);
    }

    .search-form {
        .form-group {
            margin: 0;
        }
    }
}
