.nice-select {
    position: relative;
    display: block;
    font-family: inherit;
    width: 100%;
    outline: none;
    padding-right: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.nice-select .current {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%; 
}

.nice-select:after {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    content: "";
    display: block;
    height: 9px;
    width: 9px;
    margin-top: -6px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(45deg);
}

.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
}

.nice-select .list {
    display: block;
    background-color: #fff;
    opacity: 0;
    overflow-y: auto;
    max-height: 300px;
    pointer-events: none;
    position: absolute;
    top: calc(100% + 16px);
    left: -24px;
    width: calc(100% + 48px);
    z-index: 9;
    padding: 8px 0;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.1);
}

.nice-select .option {
    line-height: 1.4;
    color: #000;
    padding: 8px 24px;
    border-bottom: 1px solid #e2e1e1;
    cursor: pointer;
}

.nice-select .option:last-child {
    border: none;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
    background-color: #e2e1e1;
}

.nice-select .option.selected {
    font-weight: bold;
}

.no-csspointerevents .nice-select .list {
    display: none;
}

.no-csspointerevents .nice-select.open .list {
    display: block;
}

@media (max-width: 1600px) {
    .nice-select .list {
        top: calc(100% + 12px);
        left: -16px;
        width: calc(100% + 32px);
    }

    .nice-select .option {
        padding: 8px 16px;
    }
}
