button.to-top.hidden-991(aria-label="Scroll top")
    ="\n"
    i.icon-arrow-up
|
|
footer
    .footer-top
        .wave-texture.bottom-right
        |
        |
        .container-fluid
            .row
                .col-xl-8.offset-xl-2
                    .row
                        .col-lg-6
                            .footer-contacts
                                p.label Əlaqə
                                table
                                    tr
                                        td
                                            strong Ünvan:
                                        td
                                            p Əlibəy Hüseynzadə 74 AZ1009, Bakı, Azərbaycan
                                    tr
                                        td
                                            strong Telefon: 
                                        td
                                            p (+99412) 200 0020
                                    tr
                                        td
                                            strong E-mail:
                                        td
                                            p sales@azсloud.az
                                ul.socials
                                    li
                                        ="\n"
                                        a(href="https://linkedin.com" rel="noreferrer" target="_blank")
                                            ="\n"
                                            i.icon-linkedin
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="https://youtube.com" rel="noreferrer" target="_blank")
                                            ="\n"
                                            i.icon-youtube-play
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="https://facebook.com" rel="noreferrer" target="_blank")
                                            ="\n"
                                            i.icon-facebook
                                            ="\n"
                        // Col
                        |
                        |
                        .col-lg-6
                            .row
                                .col-sm-6
                                    .footer-links
                                        p.label Sitemap
                                        ul
                                            li
                                                ="\n"
                                                a(href="index.html") Əsas səhifə
                                            li
                                                ="\n"
                                                a(href="about.html") Haqqımızda
                                            li
                                                ="\n"
                                                a(href="services.html") Xidmətlər
                                            li
                                                ="\n"
                                                a(href="blog.html") Blog
                                            li
                                                ="\n"
                                                a(href="partnership.html") Əməkdaşlıq
                                            li
                                                ="\n"
                                                a(href="contact.html") Əlaqə
                                // Col
                                |
                                |
                                .col-sm-6
                                    .footer-links
                                        p.label Xidmətlər
                                        ul
                                            li
                                                ="\n"
                                                a(href="service.html") Bulud infrastrukturu
                                            li
                                                ="\n"
                                                a(href="service.html") Virtual İP telefoniya
                                            li
                                                ="\n"
                                                a(href="service.html") Təhlükəsizlik həlləri
                                            li
                                                ="\n"
                                                a(href="service.html") Rezervlənmə xidməti
                                            li
                                                ="\n"
                                                a(href="service.html") Microsoft məhsulları
                                            li
                                                ="\n"
                                                a(href="service.html") Yerləşdirmə
                                // Col
                            // Row
                        // Col
                // Col
    // Footer top
    |
    |
    .footer-bottom
        .container-fluid
            .row
                .col-xl-8.offset-xl-2
                    p
                        | All right reserved 2020
                        img(src=require("../../images/icons/icon-hexagon-footer.svg") alt="Hexagon")
                        | Made with love
    // footer bottom