header
    .container-fluid
        .row
            .col
                .left
                    .logo
                        ="\n"
                        a(href="index.html")
                            svg(width="184" height="41" viewBox="0 0 184 41" fill="none" xmlns="http://www.w3.org/2000/svg")
                                g(clip-path="url(#clip0)")
                                    path(fill-rule="evenodd" clip-rule="evenodd" class="path" d="M37.077 0.947388L41.8771 5.50744V36.0336L37.0814 40.9471L28.8057 39.2475V2.6165L37.077 0.947388Z" fill="#000BAB")
                                    path(fill-rule="evenodd" clip-rule="evenodd" class="path" d="M19.3123 4.53629L23.4295 8.24542V33.2995L19.3123 37.2967L13.1748 36.0356V5.77775L19.3123 4.53629Z" fill="#000BAB")
                                    path(fill-rule="evenodd" clip-rule="evenodd" class="path" d="M4.21423 7.58588L7.80118 10.5619V30.9818L4.21423 34.1913L-0.356736 33.2509L-0.363281 8.51098L4.21423 7.58588Z" fill="#000BAB")
                                    path(d="M74.5221 31.5142L66.0282 10.1125H64.3831L55.959 31.5142H60.1263L61.599 27.229H68.8362L70.3831 31.5142H74.5221ZM67.7431 24.3621H62.6682L65.2056 16.5685L67.7431 24.3621ZM89.7317 31.5098V28.1781H80.5636L89.4132 11.5961V10.383H75.6327V13.7125H84.3033L75.4843 30.2967V31.5098H89.7317ZM107.28 11.5132C105.823 10.5183 103.89 10.0295 101.461 10.0295C98.6337 10.0295 96.3078 11.079 94.4903 13.1888C92.6881 15.2769 91.7761 17.8885 91.7761 21.0108C91.7761 24.3708 92.5987 27.0065 94.2351 28.9527C95.8671 30.8989 98.158 31.8654 101.119 31.8654C104.08 31.8654 106.316 31.0581 107.843 29.4261L106.1 26.3999C104.972 27.8225 103.414 28.5338 101.424 28.5338C99.6744 28.5338 98.2911 27.8683 97.2373 26.5439C96.1987 25.2195 95.6816 23.4304 95.6816 21.17C95.6816 18.9096 96.2424 17.0507 97.366 15.5823C98.494 14.0943 99.9384 13.3612 101.697 13.3612C103.558 13.3612 104.904 13.7801 105.742 14.618L107.285 11.5154L107.28 11.5132ZM123.915 31.5098V28.1781H114.363V10.3786H110.61V31.5098H123.917H123.915ZM125.68 20.7751C125.68 24.2137 126.433 26.9192 127.947 28.8938C129.463 30.8705 131.641 31.8654 134.484 31.8654C137.573 31.8654 139.951 30.8705 141.627 28.8654C143.316 26.8646 144.153 24.1701 144.153 20.7751C144.153 17.3758 143.342 14.7445 141.74 12.8572C140.139 10.9656 137.82 10.0295 134.774 10.0295C132.014 10.0295 129.808 11.0703 128.147 13.1583C126.502 15.2332 125.68 17.7642 125.68 20.7751ZM129.581 20.7751C129.581 18.5147 130.024 16.7147 130.921 15.3751C131.813 14.0398 133.098 13.3612 134.774 13.3612C138.424 13.3612 140.252 15.8376 140.252 20.7751C140.252 25.8261 138.232 28.5338 134.484 28.5338C132.882 28.5338 131.671 27.8552 130.833 26.5046C129.995 25.1497 129.581 23.2341 129.581 20.7751ZM147.21 24.8988C147.21 27.1352 147.876 28.8654 149.2 30.061C150.546 31.2589 152.436 31.8654 154.901 31.8654C157.345 31.8654 159.285 31.2436 160.744 30.0174C162.197 28.7912 162.937 27.0916 162.937 24.9141V10.3808H159.184V24.6283C159.184 27.0479 157.591 28.5359 154.873 28.5359C153.658 28.5359 152.7 28.1716 152.006 27.4668C151.312 26.7621 150.967 25.8348 150.967 24.6981V10.3808H147.215V24.8988H147.21ZM171.675 31.5098C179.006 31.5098 182.676 27.7156 182.676 20.114C182.676 17.1271 181.764 14.7489 179.962 12.9467C178.153 11.1445 175.712 10.2368 172.627 10.2368C171.863 10.2368 169.967 10.2914 166.982 10.3939V31.5098H171.677H171.675ZM170.735 13.671C171.47 13.5969 172.05 13.5663 172.454 13.5663C176.667 13.5663 178.775 15.8332 178.775 20.3453C178.775 22.813 178.243 24.7461 177.158 26.1141C176.083 27.4843 174.597 28.1781 172.699 28.1781C171.989 28.1781 171.339 28.1497 170.733 28.0887V13.6689L170.735 13.671Z" fill="#000000" class="path")
                                defs
                                    clipPath(id="clip0")
                                        rect(width="184" height="40" fill="white" transform="translate(0 0.581177)")
                            ="\n"
                    |
                    |
                    ul.langs.hidden-991
                        li
                            ="\n"
                            a(href="#" class="active") Az
                        li
                            ="\n"
                            a(href="#") En
                        li
                            ="\n"
                            a(href="#") Ru
                // Left
                |
                |
                .right
                    div(class="dropdown langs-dropdown visible-991")
                        button(data-toggle="dropdown") Az
                        .dropdown-menu
                            ="\n"
                            a(href="#" class="dropdown-item") En
                            ="\n"
                            a(href="#" class="dropdown-item") Ru
                    |
                    |
                    ul.external-links.hidden-1200
                        li
                            ="\n"
                            a(href="#" target="_blank") Azcloud Enterprise
                        li
                            ="\n"
                            a(href="#" target="_blank") G-Cloud solutions
                        li
                            ="\n"
                            a(href="#" target="_blank") Qiriş / 
                            ="\n"
                            a(href="#" target="_blank") Qeydiyyat
                    |
                    |
                    .search-toggler
                        button.show-search
                            ="\n"
                            img(src=require("../../images/icons/icon-search.svg") alt="Icon search")
                        ="\n"
                        button.close-search
                            ="\n"
                            img(src=require("../../images/icons/icon-close.svg") alt="Icon times")
                    |
                    |
                    .menu-toggler.flex
                        button.bars(aria-label="Hamburger")
                            ="\n"
                            span
                            ="\n"
                            span
                            ="\n"
                            span
                // Right
// Header
