doctype html
html(lang="en")
    head
        title AZCLOUD rəsmi veb-səhifəsi
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0")
        meta(name="description" content="2020 AZCLOUD. Müəllif hüquqları qorunur")
        link(rel="preload" as="font" href="fonts/Montserrat-Regular.woff" type="font/woff" crossorigin="anonymous")
        link(rel="preload" as="font" href="fonts/Montserrat-Regular.woff2" type="font/woff2" crossorigin="anonymous")
        link(rel="preload" as="font" href="fonts/Montserrat-Medium.woff" type="font/woff" crossorigin="anonymous")
        link(rel="preload" as="font" href="fonts/Montserrat-Medium.woff2" type="font/woff2" crossorigin="anonymous")
        link(rel="preload" as="font" href="fonts/Montserrat-SemiBold.woff" type="font/woff" crossorigin="anonymous")
        link(rel="preload" as="font" href="fonts/Montserrat-SemiBold.woff2" type="font/woff2" crossorigin="anonymous")
        link(rel="preload" as="font" href="fonts/Montserrat-Bold.woff" type="font/woff" crossorigin="anonymous")
        link(rel="preload" as="font" href="fonts/Montserrat-Bold.woff2" type="font/woff2" crossorigin="anonymous")
    body
        include header.pug
        |
        |
        include menu.pug
        |
        |
        include search.pug
        |
        |
        main.content
            block content
        |
        |
        include footer.pug
        |
        |
        script(type="text/javascript" src="js/jquery.js")
        script(type="text/javascript" src="js/swiper.min.js")
        script(type="text/javascript" src="js/sticky.js")
        script(type="text/javascript" src="js/yall.js")
        script(type="text/javascript" src="js/nice-select.js")