.side-menu.flex
    .bg-video
        video(class="lazy" autoplay muted loop playsinline)
            source(data-src=require("../../videos/network.mp4") type="video/mp4")
    |
    |
    .side-menu-body
        .container-fluid
            .row
                .col-xl-8.offset-xl-2
                    .row
                        .col-md-3
                            nav
                                ul.menu-links
                                    li.visible-1200
                                        ="\n"
                                        a(href="login.html") Qiriş / 
                                        ="\n"
                                        a(href="register.html") Qeydiyyat
                                    li.visible-1200
                                        ="\n"
                                        a(href="index.html" class="menu-link") Azcloud Enterprise
                                    li.visible-1200
                                        ="\n"
                                        a(href="index.html" class="menu-link") G-Cloud solutions
                                    li
                                        ="\n"
                                        a(href="index.html" class="menu-link") Əsas səhifə
                                    li
                                        ="\n"
                                        a(href="about.html" class="menu-link") Haqqımızda
                                    li
                                        ="\n"
                                        a(href="services.html" class="services-link") Xidmətlər
                                    li
                                        ="\n"
                                        a(href="blog.html" class="menu-link") Bloq
                                    li
                                        ="\n"
                                        a(href="partnership.html" class="menu-link") Əməkdaşlıq
                                    li
                                        ="\n"
                                        a(href="contact.html" class="menu-link") Əlaqə
                        // Col
                        |
                        |
                        .col-md-9
                            .menu-right-container.default
                                .services-flips.flex
                                    .service-flip
                                        .rotator
                                            .flip-front
                                                ="\n"
                                                a(href="service-inner.html" class="flip-item")
                                                    ="\n"
                                                    span.title Bulud infrastrukturu
                                                    ="\n"
                                                    span.subtitle resurs elastikliyi
                                                    ="\n"
                                                    span.price
                                                        | 199 AZN-dan
                                                        i.icon-arrow-right
                                                    ="\n"
                                            .flip-back
                                                .flip-bg.cover-center(style="background-image: url("+ require("../../images/service-card-bg.jpg") +")")
                                                ="\n"
                                                a(href="service-inner.html" class="flip-item")
                                                    ="\n"
                                                    span.title Bulud infrastrukturu
                                                    ="\n"
                                                    span.subtitle resurs elastikliyi
                                                    ="\n"
                                                    span.price
                                                        | 199 AZN-dan
                                                        i.icon-arrow-right
                                                    ="\n"
                                    // Service flip
                                    |
                                    |
                                    .service-flip
                                        .rotator
                                            .flip-front
                                                ="\n"
                                                a(href="service-inner.html" class="flip-item")
                                                    ="\n"
                                                    span.title Virtual İP telefoniya
                                                    ="\n"
                                                    span.subtitle resurs elastikliyi
                                                    ="\n"
                                                    span.price
                                                        | 20 AZN-dan
                                                        i.icon-arrow-right
                                                    ="\n"
                                            .flip-back
                                                .flip-bg.cover-center(style="background-image: url("+ require("../../images/service-card-bg.jpg") +")")
                                                ="\n"
                                                a(href="service-inner.html" class="flip-item")
                                                    ="\n"
                                                    span.title Virtual İP telefoniya
                                                    ="\n"
                                                    span.subtitle resurs elastikliyi
                                                    ="\n"
                                                    span.price
                                                        | 20 AZN-dan
                                                        i.icon-arrow-right
                                                    ="\n"
                                    // Service flip
                                    |
                                    |
                                    .service-flip
                                        .rotator
                                            .flip-front
                                                ="\n"
                                                a(href="service-inner.html" class="flip-item")
                                                    ="\n"
                                                    span.title Təhlükəsizlik həlləri
                                                    ="\n"
                                                    span.subtitle resurs elastikliyi
                                                    ="\n"
                                                    span.price
                                                        | 980 AZN-dan
                                                        i.icon-arrow-right
                                                    ="\n"
                                            .flip-back
                                                .flip-bg.cover-center(style="background-image: url("+ require("../../images/service-card-bg.jpg") +")")
                                                ="\n"
                                                a(href="service-inner.html" class="flip-item")
                                                    ="\n"
                                                    span.title Təhlükəsizlik həlləri
                                                    ="\n"
                                                    span.subtitle resurs elastikliyi
                                                    ="\n"
                                                    span.price
                                                        | 980 AZN-dan
                                                        i.icon-arrow-right
                                                    ="\n"
                                    // Service flip
                                    |
                                    |
                                    .service-flip
                                        .rotator
                                            .flip-front
                                                ="\n"
                                                a(href="service-inner.html" class="flip-item")
                                                    ="\n"
                                                    span.title Rezervlənmə xidməti
                                                    ="\n"
                                                    span.subtitle resurs elastikliyi
                                                    ="\n"
                                                    span.price
                                                        | Ətraflı bax
                                                        i.icon-arrow-right
                                                    ="\n"
                                            .flip-back
                                                .flip-bg.cover-center(style="background-image: url("+ require("../../images/service-card-bg.jpg") +")")
                                                ="\n"
                                                a(href="service-inner.html" class="flip-item")
                                                    ="\n"
                                                    span.title Rezervlənmə xidməti
                                                    ="\n"
                                                    span.subtitle resurs elastikliyi
                                                    ="\n"
                                                    span.price
                                                        | Ətraflı bax
                                                        i.icon-arrow-right
                                                    ="\n"
                                    // Service flip
                                    |
                                    |
                                    .service-flip
                                        .rotator
                                            .flip-front
                                                ="\n"
                                                a(href="service-inner.html" class="flip-item")
                                                    ="\n"
                                                    span.title Microsoft məhsulları
                                                    ="\n"
                                                    span.subtitle resurs elastikliyi
                                                    ="\n"
                                                    span.price
                                                        | Ətraflı bax
                                                        i.icon-arrow-right
                                                    ="\n"
                                            .flip-back
                                                .flip-bg.cover-center(style="background-image: url("+ require("../../images/service-card-bg.jpg") +")")
                                                ="\n"
                                                a(href="service-inner.html" class="flip-item")
                                                    ="\n"
                                                    span.title Microsoft məhsulları
                                                    ="\n"
                                                    span.subtitle resurs elastikliyi
                                                    ="\n"
                                                    span.price
                                                        | Ətraflı bax
                                                        i.icon-arrow-right
                                                    ="\n"
                                    // Service flip
                                    |
                                    |
                                    .service-flip
                                        .rotator
                                            .flip-front
                                                ="\n"
                                                a(href="service-inner.html" class="flip-item")
                                                    ="\n"
                                                    span.title Yerləşdirmə
                                                    ="\n"
                                                    span.subtitle resurs elastikliyi
                                                    ="\n"
                                                    span.price
                                                        | 249 AZN-dan
                                                        i.icon-arrow-right
                                                    ="\n"
                                            .flip-back
                                                .flip-bg.cover-center(style="background-image: url("+ require("../../images/service-card-bg.jpg") +")")
                                                ="\n"
                                                a(href="service-inner.html" class="flip-item")
                                                    ="\n"
                                                    span.title Yerləşdirmə
                                                    ="\n"
                                                    span.subtitle resurs elastikliyi
                                                    ="\n"
                                                    span.price
                                                        | 249 AZN-dan
                                                        i.icon-arrow-right
                                                    ="\n"
                                    // Service flip
                                // Services flips
                                |
                                |
                                .services-grid.flex
                                    .service-card
                                        .service-card__bg
                                            ="\n"
                                            img(src=require("../../images/service-card-bg.jpg") alt="Service thumb")
                                        .service-card__body
                                            ="\n"
                                            span(class="title") Compute
                                            ="\n"
                                            span(class="subtitle") resurs elastikliyi
                                            ="\n"
                                            ul.service-categories
                                                li(data-toggle="tooltip" title="Public IPs")
                                                    ="\n"
                                                    a(href="service-compute.html") ACS
                                                li(data-toggle="tooltip" title="Public IPs")
                                                    ="\n"
                                                    a(href="service-compute.html") AVPG
                                                li(data-toggle="tooltip" title="Public IPs")
                                                    ="\n"
                                                    a(href="service-compute.html") ASG
                                    // Service card
                                    |
                                    |
                                    .service-card
                                        .service-card__bg
                                            ="\n"
                                            img(src=require("../../images/service-card-bg.jpg") alt="Service thumb")
                                        .service-card__body
                                            ="\n"
                                            span(class="title") Storage
                                            ="\n"
                                            span(class="subtitle") resurs elastikliyi
                                            ="\n"
                                            ul.service-categories
                                                li(data-toggle="tooltip" title="Public IPs")
                                                    ="\n"
                                                    a(href="service-storage.html") asb
                                                li(data-toggle="tooltip" title="Public IPs")
                                                    ="\n"
                                                    a(href="service-storage.html") asf
                                                li(data-toggle="tooltip" title="Public IPs")
                                                    ="\n"
                                                    a(href="service-storage.html") aso
                                    // Service card
                                    |
                                    |
                                    .service-card
                                        .service-card__bg
                                            ="\n"
                                            img(src=require("../../images/service-card-bg.jpg") alt="Service thumb")
                                        .service-card__body
                                            ="\n"
                                            span(class="title") Network
                                            ="\n"
                                            span(class="subtitle") resurs elastikliyi
                                            ="\n"
                                            ul.service-categories
                                                li(data-toggle="tooltip" title="Public IPs")
                                                    ="\n"
                                                    a(href="service-network.html") AVPS
                                                li(data-toggle="tooltip" title="Public IPs")
                                                    ="\n"
                                                    a(href="service-network.html") ASG
                                                li(data-toggle="tooltip" title="Public IPs")
                                                    ="\n"
                                                    a(href="service-network.html") AP-I
                                                li(data-toggle="tooltip" title="Public IPs")
                                                    ="\n"
                                                    a(href="service-network.html") ALB-A
                                                li(data-toggle="tooltip" title="Public IPs")
                                                    ="\n"
                                                    a(href="service-network.html") ADD
                                    // Service card
                                // Services grid
                        // Col
                // Col
    // Side menu body
// Side menu