.search-block
    .bg-video
        video(class="lazy" autoplay muted loop playsinline)
            source(data-src=require("../../videos/network.mp4") type="video/mp4")
    |
    |
    .container-fluid
        .row
            .col-xl-8.offset-xl-2
                .search-form
                    form(action="#" method="GET")
                        .form-group
                            label(for="search-field") Search
                            input(type="text" id="search-field" class="form-control" placeholder="Search" autocomplete="off")
                        button(type="submit" class="submit-search")
                            ="\n"
                            img(src=require("../../images/icons/icon-search-white.svg") alt="Icon search")
                        .search-examples.hidden-991
                            ="\n"
                            span Ex.
                            ="\n"
                            a(href="https://localhost:8080?q=servers") Servers
                            ="\n"
                            a(href="https://localhost:8080?q=datacenters") Datacenters
                            ="\n"
                            a(href="https://localhost:8080?q=video-konfrans") Video konfrans
                            ="\n"
                            a(href="https://localhost:8080?q=ip-telefoniya") IP telefoniya
                // Search form
// Site search