.about-intro {
    .cover {
        margin: 0 0 8.4rem 0;
    }

    .text {
        text-align: center;
        max-width: 85.8rem;
        margin: 0 auto;
    }
}

/* ***** -- out values ***** */
.our-values {
    position: relative;
    background: $darkBlue;

    .wave-texture {
        bottom: 9rem;
    }

    .values-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 44%;
        height: 100%;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .section-title {
        color: $white;
    }
}

.values-list-item {
    display: flex;
    align-items: center;
    margin: 0 0 5.6rem 0;

    &:last-child {
        margin: 0;
    }

    .icon {
        width: 3.2rem;
        min-width: 3.2rem;
        text-align: center;
        transform: translateY(-1px);

        img {
            max-height: 2.6rem;
        }
    }

    .label {
        position: relative;
        width: 100%;
        font-family: "Montserrat Medium", sans-serif;
        font-size: 2.4rem;
        line-height: 200%;
        color: $white;
        padding: 0 0 0 8.8rem;

        &:before {
            content: "";
            position: absolute;
            left: 5.4%;
            top: 50%;
            width: 2.6rem;
            height: 1px;
            background: rgba(#F5F6FB, .2);
        }
    }
}

/* ***** -- our mission ***** */
.our-mission {
    .info-text {
        p {
            font-family: "Montserrat SemiBold", sans-serif;
            font-size: 2.4rem;
            line-height: 200%;
            max-width: 100rem;
            background: linear-gradient(90deg, #000BAB 0%, #0078FA 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.statistic-nums {
    .row {
        justify-content: center;
    }

    // [class*="col"] {
    //     &:first-child {
    //         .value {
    //             background: transparent;
    //         }

    //         .texture {
    //             background: linear-gradient(90deg, #000BAB 0%, #0078FA 100%);
    //         }
    //     }

    //     &:nth-child(2) {
    //         .texture {
    //             transform: translate(-14%, 14%);
    //         }
    //     }

    //     &:last-child {
    //         margin: 0;

    //         .texture {
    //             transform: translate(15%, -26%);
    //         }
    //     }
    // }
}

.statistic-num {
    justify-content: space-between;

    > div {
        width: calc(50% - 15px);
    }
    
    .value {
        position: relative;
        justify-content: center;
        align-items: center;
        font-size: 2.4rem;
        line-height: 130%;
        color: $white;
        padding: 3.2rem 1.6rem;
        overflow: hidden;
    }

    .texture {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #000BAB 0%, #0078FA 100%);
    }

    .text-center {
        position: relative;
    }
}

/* ***** -- universal block ***** */
.universal-block {
    background: $darkBlue;

    .info {
        align-items: center;
        width: 56%;
        padding: 4.8rem 3rem 4.8rem 0;
        padding-left: calc(11% + 15px);
    }

    .block-gallery {
        width: 44%;
    }

    .section-title {
        color: $white;
        margin: 0;
    }

    .description {
        color: $white;
        line-height: 160%;
        max-width: 53rem;
        margin: 2.4rem 0 3.2rem 0;
    }

    .btn {
        color: $white;
        background: $blue;

        &:hover {
            background: lighten($blue, 10%);
        }
    }
}

.block-gallery {
    background: rgba($white, .2);

    .swiper-container {
        height: 100%;
    }

    .swiper-lazy {
        height: 100%;
        object-fit: cover;
    }
    
    .swiper-button-prev {
        left: 3.2rem;
    }

    .swiper-button-next {
        right: 3.2rem;
    }

    .swiper-pagination {
        opacity: 0;

        .swiper-pagination-bullet {
            background: url(../images/icons/icon-hexagon-pagination-white.svg) no-repeat center center;
            background-size: contain;
        }
    }
}

/* ***** -- about data centers ***** */
.about-data-centers {
    .intro {
        justify-content: space-between;
    
        .desc {
            width: 68.5%;
            padding-left: 3rem;
        }
    }

    .section-title {
        width: 30%;
        color: $blue;
        margin: 0;
    }

    .divider {
        height: 1px;
        margin: 10rem 0;
        background: #D0D0D0;
    }
}

/* ***** -- data center ***** */
.data-center {
    position: relative;

    .name,
    .title {
        font-size: 3.2rem;
        line-height: 180%;
    }

    .name {
        color: $blue;
        margin: 0 0 10rem 0;
    }

    .title {
        margin: 6rem 0 5rem 0;
    }

    .desc {
        > * {
            margin: 0 0 1.5rem 0;

            &:last-child {
                margin: 0;
            }
        }
    }

    .gallery {
        margin: 0 -15px;
    }
    
    .gallery-item {
        position: relative;
        width: 33.333333%;
        padding-bottom: 31%;

        .image {
            position: absolute;
            top: 0;
            left: 15px;
            right: 15px;
            height: 100%;
        }

        &:last-child {
            .image {
                height: calc(50% - 15px);

                &:last-child {
                    top: auto;
                    bottom: 0;
                }
            }
        }
    }

}

/* ***** -- certificates ***** */
.certificate {
    margin: 0 0 5.6rem 0;

    .image {
        position: relative;
        margin: 0 0 4rem 0;

        &:after {
            content: "";
            position: absolute;
            width: calc(100% - 2rem);
            height: 100%;
            top: 2rem;
            left: 2rem;
            background: #F5F6FB url("../images/vertical-wave-texture.png") no-repeat center;
            background-size: cover;
            z-index: -1;
        }

        img {
            width: calc(100% - 2rem);
            border: 3px solid $darkBlue;
            box-shadow: 0px 8px 24px rgba(8, 10, 112, 0.16);
        }
    }

    .name {
        font-family: "Montserrat SemiBold", sans-serif;
        font-size: 2.4rem;
        line-height: 140%;
        margin: 0 0 1.6rem 0;
    }

    .desc {
        padding: 0 2rem 0 0;
        font-size: 1.4rem;
        line-height: 160%;
    }
}

@media (max-width: 1600px) {
    .about-intro {
        .cover {
            margin: 0 0 6rem 0;
        }
    
        .text {
            max-width: 77rem;
            line-height: 180%;
        }
    }

    /* ***** -- about data centers ***** */
    .about-data-centers {    
        .intro {
            .desc {
                line-height: 180%;
            }
        }

        .divider {
            margin: 8rem 0;
        }
    }

    /* ***** -- data center ***** */
    .data-center {
        .name {
            margin: 0 0 6rem 0;
        }

        .title {
            font-size: 2.4rem;
            margin: 4rem 0 3rem 0;
        }
    }

    /* ***** -- our values ***** */
    .values-list-item {
        margin: 0 0 4rem 0;

        .icon {
            width: 2.8rem;
            min-width: 2.8rem;

            img {
                max-height: 2.4rem;
                width: auto;
            }
        }

        .label {
            font-size: 1.8rem;
            line-height: 180%;
            padding: 0 0 0 6.4rem;

            &:before {
                left: 2rem;
                width: 2rem;
            }
        }
    }

    /* ***** -- our mission ***** */
    .our-mission {
        .info-text {
            p {
                font-size: 2rem;
                line-height: 180%;
            }
        }
    }

    .statistic-num {
        .value {
            font-size: 1.8rem;
        }
    }

}

@media (max-width: 1200px) {
    .about-intro {
        .cover {
            margin: 0 0 4rem 0;
        }
    }

    /* ***** -- universal block ***** */
    .universal-block {
        .info {
            padding-left: 15px;
        }
    }

    .block-gallery {
        .swiper-pagination {
            opacity: 1;
        }
    }

    /* ***** -- data center ***** */
    .about-data-centers {
        .divider {
            margin: 6rem 0;
        }
    }

    .data-center {
        .name {
            margin: 0 0 4.8rem 0;
        }

        .gallery {
            margin: 0 -10px;
        }
        
        .gallery-item {
            .image {
                left: 10px;
                right: 10px;
            }

            &:last-child {
                .image {
                    height: calc(50% - 10px);
                }
            }
        }
    }

}

@media (max-width: 992px) {
    /* ***** -- our mission ***** */
    .statistic-nums {
        [class*="col"] {
            margin: 0 0 3rem 0;
        }
    }

    /* ***** -- universal block ***** */
    .universal-block {
        .info {
            width: 100%;
        }

        .block-gallery {
            width: 100%;
        }
    }

}

@media (max-width: 767px) {
    /* ***** -- about data centers ***** */
    .about-data-centers {
        .intro {
            .desc {
                width: 100%;
                padding: 3rem 0 0 0;
            }
        }
    }

    /* ***** -- data center ***** */
    .data-center {
        .name {
            font-size: 2.8rem;
        }

        .title {
            font-size: 2rem;
        }
        
        .gallery-item {
            width: 50%;
            margin: 0 0 20px 0;

            &:last-child {
                width: 100%;
                padding-bottom: 62%;
                margin: 0;
            }
        }
    }

    /* ***** -- certificates ***** */
    .certificate {
        .image {
            &:after {
                width: calc(100% - 1.5rem);
                top: 1.5rem;
                left: 1.5rem;
            }
    
            img {
                width: calc(100% - 1.5rem);
            }
        }

        .name {
            font-size: 2rem;
        }
    }

}

@media (max-width: 575px) {
    /* ***** -- our values ***** */
    .values-list-item {
        margin: 0 0 3.2rem 0;
    }
}
