.breadcrumb {
    flex-wrap: nowrap;
    padding: 0;
    background: none;
    border: none;
    margin: 0;

    .breadcrumb-item {
        font-size: 1.6rem;
        padding: 0;
        white-space: nowrap;
        opacity: .6;

        &:before {
            content: "\e802";
            font-family: "fontello";
            font-size: 1.2rem;
            padding: 0;
            margin: 0 1.5rem;
            transform: translateY(-1px);
        }
        
        &:last-child {
            text-overflow: ellipsis;
            overflow: hidden; 
        }

        &:first-child {
            &:before {
                display: none;
            }
        }

        a {
            color: $black;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.blog-content {
    position: relative;
    max-width: 85.8rem;
    margin: 0 auto;
}

.blog-intro {
    margin: 5.6rem 0;

    .blog-title {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 7.2rem;
        line-height: 120%;
        color: $blue;
    }

    .blog-date {
        display: block;
        margin: 5.6rem 0;
    }
}

.blog-cover-image {
    .source {
        font-size: 1.4rem;
        display: block;
        text-align: right;
    }
}

.editor-body {
    padding-right: 11.2rem;

    > * {
        margin: 0 0 5.6rem 0;

        &:last-child {
            margin: 0;
        }
    }

    a {
        text-decoration: underline;
    }
}

.blockquote {
    width: calc(100% + 11.2rem);
    padding: 4.8rem 5.6rem;
    background: #F5F6FB;

    .quote {
        font-size: 2.4rem;
        line-height: 200%;
        color: $blue;

        > * {
            margin: 0 0 4rem 0;
        }
    }

    .quote-author {
        .he-is {
            font-size: 1.8rem;
            line-height: 200%;
        }
    }
}

/* ***** -- blog service ***** */
.blog-content {
    .flip-item {
        background: #F5F6FB;
        transition: background .3s ease;

        span {
            color: $blue;
        }

        &:hover {
            background: darken(#F5F6FB, 5%);

            .title {
                color: $blue;
            }
    
            .price {
                i {
                    color: $blue;
                    opacity: 1;
                }
            }
        }
    }
}

/* ***** -- blog article ***** */
.blog-content {
    .blog-article {
        margin: 5.6rem 0;

        .image {
            width: 35%;
            padding-bottom: 39%;
        }

        .info {
            width: 65%;
            padding: 0 0 0 4rem;
        }

        .title {
            font-size: 2.4rem;
            margin: 2.4rem 0;
        }

        .read-more {
            i {
                display: none;
            }
        }
    }
}

/* ***** -- blog gallery ***** */
.blog-gallery {
    margin: 5.6rem 0;

    .swiper-lazy {
        background: #f5f6fb no-repeat center;
        background-size: cover;
    }

    .gallery-top {
        margin: 0 0 2.4rem -2.9rem;
        width: calc(100% + 5.8rem);

        .swiper-container {
            padding: 0 2.9rem;
        }

        .swiper-lazy {
            padding-bottom: 47%;
        }
    }

    .gallery-thumbs {
        .swiper-slide {
            width: 11.2rem;
            height: 11.2rem;
            border: 2px solid $white;
            cursor: pointer;
        }

        .swiper-slide-thumb-active {
            border-color: $blue;

            .swiper-lazy {
                box-shadow: inset 0 0 0 4px $white;
            }
        }

        .swiper-lazy {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

/* ***** -- tags ***** */
.tags {
    padding: 2.8rem 4rem 1.8rem 4rem;
    background: #F5F6FB;

    li {
        line-height: 130%;
        color: rgba(#000, .6);
        margin: 0 2.4rem 1rem 0;

        &:last-child {
            margin: 0 0 1rem 0;
        }
    }

    a {
        text-decoration: underline;
    }
}

/* ***** -- blog actions ***** */
.blog-actions {
    position: absolute;
    top: 0;
    left: calc(100% + 8.8rem);
    height: 100%;
    padding: 1.6rem 0 0 0;
    z-index: 10;

    ul {
        flex-direction: column;
        border: 1px solid #D0D0D0;

        li {
            border-bottom: 1px solid #D0D0D0;

            &:last-child {
                border: none;
            }
        }

        input {
            position: absolute;
            right: -99999px;
            opacity: 0;
            z-index: -10;
        }
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        width: 8rem;
        height: 8rem;
        background: $white;

        &:hover {
            color: $white;
            background: $blue;
        }
    }

    .action-copy {
        font-family: "Montserrat SemiBold", sans-serif;
        font-size: 1.2rem;
        line-height: 130%;
        text-align: center;
        padding: 1rem;
    }
}

/* ***** -- related blog posts ***** */
.related-blog-posts {
    .section-title {
        color: #000;
        margin: 0 0 8.8rem 0;
    }

    .col-xl-8 {
        padding: 7rem 1.5rem 11rem 1.5rem;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 1.5rem;
            right: 1.5rem;
            border-top: 1px solid #D0D0D0;
        }
    }

    .load-container {
        [class*="col-"] {
            margin: 0 0 8rem 0;
    
            &:nth-child(even) {
                .image {
                    a {
                        -webkit-mask: url("../images/mask.svg") no-repeat center;
                        -moz-mask: url("../images/mask.svg") no-repeat center;
                        mask: url("../images/mask.svg") no-repeat center;
                        -webkit-mask-size: contain;
                        -moz-mask-size: contain;
                        mask-size: contain;
                    }
                }
            }
        }
    }
}

@media (max-width: 1600px) {
    .blog-intro {
        margin: 4rem 0;

        .blog-title {
            font-size: 5.6rem;
        }
    
        .blog-date {
            margin: 4rem 0;
        }
    }

    .blockquote {
        padding: 4rem 4.8rem;

        .quote {
            font-size: 2rem;
        }

        .quote-author {
            .he-is {
                font-size: 1.6rem;
            }
        }
    }

    /* ***** -- blog gallery ***** */
    .blog-gallery {
        .gallery-top {
            margin: 0 0 2.4rem -2.5rem;
            width: calc(100% + 5rem);

            .swiper-container {
                padding: 0 2.5rem;
            }
        }
    }
}

@media (max-width: 1200px) {
    /* ***** -- blog actions ***** */
    .blog-actions {
        display: inline-flex;
        position: static;
        height: auto;
        padding: 5.6rem 0 0 0;

        ul {
            flex-direction: row;
            width: auto;

            li {
                border-right: 1px solid #D0D0D0;
                border-bottom: none;
            }
        }

        a {
            font-size: 1.8rem;
            width: 6.4rem;
            height: 6.4rem;
        }
    }
}

@media (max-width: 992px) {
    .blog-intro {
        margin-top: 0;

        .blog-title {
            font-size: 4.8rem;
        }
    }

    .editor-body {
        padding-right: 0;
    }

    .blockquote {
        width: 100%;
    }

    /* ***** -- blog gallery ***** */
    .blog-gallery {
        .gallery-thumbs {
            .swiper-slide {
                width: 8.8rem;
                height: 8.8rem;
            }
        }
    }

    /* ***** -- related blog posts ***** */
    .related-blog-posts {
        .section-title {
            margin: 0 0 5.6rem 0;
        }

        .col-xl-8 {
            padding: 7rem 1.5rem;
        }
    }
}

@media (max-width: 767px) {
    .blockquote {
        padding: 2.4rem 3rem;

        .quote {
            font-size: 1.8rem;
            line-height: 180%;

            > * {
                margin: 0 0 2.4rem 0;
            }
        }
    }

    /* ***** -- blog article ***** */
    .blog-content {
        .blog-article {
            .title {
                font-size: 2rem;
            }
        }
    }

    /* ***** -- tags ***** */
    .tags {
        padding: 2.4rem 2.6rem 1.4rem 2.6rem;

        li {
            font-size: 1.4rem;
            margin: 0 1.6rem 1rem 0;
        }
    }
}

@media (max-width: 575px) {
    .blog-intro {
        .blog-title {
            font-size: 2.4rem;
        }

        .blog-date {
            margin: 2.4rem 0;
        }
    }

    /* ***** -- blog article ***** */
    .blog-content {
        .blog-article {
            .image {
                width: 100%;
                padding-bottom: 100%;
            }

            .info {
                width: 100%;
                padding: 3.2rem 0 0 0;
            }
        }
    }
}

@media (max-width: 480px) {
    /* ***** -- blog gallery ***** */
    .blog-gallery {
        .gallery-top {
            width: 100%;
            margin: 0 0 .8rem 0;

            .swiper-container {
                padding: 0;
            }
        }

        .gallery-thumbs {
            .swiper-slide {
                width: 6.4rem;
                height: 6.4rem;
            }
        }
    }
}