.blog-page {
    .page-title {
        margin: 0 0 12rem 0;
    }

    .load-more {
        margin: 0 0 9.6rem 0;
    }
}

.posts-chunk {
    [class*="col-"] {
        margin: 0 0 8rem 0;

        &:nth-child(2n + 3) {
            .image {
                a {
                    -webkit-mask: url("../images/mask.svg") no-repeat center;
                    -moz-mask: url("../images/mask.svg") no-repeat center;
                    mask: url("../images/mask.svg") no-repeat center;
                    -webkit-mask-size: contain;
                    -moz-mask-size: contain;
                    mask-size: contain;
                }
            }
        }
    }
}

.blog-post {
    a {
        display: inline-block;
    }

    .image {
        position: relative;
        height: 0;
        padding-bottom: 100%;
        margin: 0 0 3.2rem 0;
        overflow: hidden;

        a {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .info {
        display: flex;
        flex-flow: column;
        text-align: center;
        line-height: 180%;
    }

    .title {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 2.4rem;
        line-height: 180%;
        color: $blue;
        margin: 2.4rem 0 3.2rem 0;
    }

    .read-more {
        a {
            padding: 0 0 3.8rem 0;
            border-bottom: 1px solid $blue; 
        }
    }
}

@media (max-width: 1600px) {
    .blog-page {
        .page-title {
            margin: 0 0 10rem 0;
        }
    }

    .blog-post {
        .title {
            font-size: 2rem;
            line-height: 160%;
            margin: 1.6rem 0 2.4rem 0;
        }

        .read-more {
            a {
                padding: 0 0 2.4rem 0;
                border-bottom: 1px solid $blue; 
            }
        }
    }

}

@media (max-width: 1200px) {
    .blog-page {
        .page-title {
            margin: 0 0 8rem 0;
        }
    }
}

@media (max-width: 767px) {
    .blog-page {
        .page-title {
            margin: 0 0 6rem 0;
        }
    }
}