/* ***** -- contact details ***** */
.contact-details {
    margin: 8rem 0;

    .contact-info {
        margin: 0 0 8rem 0;

        &:last-child {
            margin: 0;
        }
    }
}

.contact-info {
    .value {
        display: block;
        font-size: 3.2rem;
        line-height: 180%;
        color: $blue;
        margin: 0 0 .8rem 0;
    }
}

/* ***** -- contact map ***** */
.contact-map {
    color: $white;
    padding: 6.4rem 0 0 0;
    background: $darkBlue;

    .contact-info {
        margin: 0 0 6.4rem 0;
    }

    .value {
        color: inherit;
    }
}

#map {
    position: relative;
    height: 48.8rem;
    background: rgba(#fff, .2);

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* ***** -- follow us ***** */
.follow-us {
    background: #F5F6FB;

    .section-title {
        color: $blue;
        max-width: 26rem;
        margin: 0;
        line-height: 114%;
    }
}

/* ***** -- contact form ***** */
.contact-form {
    .form-image {
        height: 100%;
        object-fit: cover;
    }

    .row {
        justify-content: space-between;
    }
}

/* ***** -- subscribe to rss ***** */
.subscribe-to-rss {
    background: $darkBlue;

    .section-title {
        color: $white;
        margin: 0 0 4rem 0;
    }

    form {
        display: flex;
        align-items: flex-end;
        max-width: 86rem;
        margin: 0 auto;
    }

    .form-group {
        flex: 1;
        color: $white;
        margin: 0;
    }

    .form-control {
        color: $white;
        opacity: .4;

        &:focus {
            opacity: 1;
        }
    }

    .btn {
        background: $cyan;

        &:hover {
            color: $blue;
            background: $white;
        }
    }
}

@media (max-width: 1600px) {
    /* ***** -- contact details ***** */
    .contact-details {
        margin: 6.4rem 0;

        .contact-info {
            margin: 0 0 5.6rem 0;
        }
    }

    .contact-info {
        .value {
            font-size: 2.4rem;
            margin: 0 0 .4rem 0;
        }
    }

}

@media (max-width: 991px) {
    /* ***** -- contact details ***** */
    .contact-details {
        margin: 0 0 5.6rem 0;

        .contact-info {
            margin: 0 0 2.4rem 0;

            &:last-child {
                margin: 0 0 2.4rem 0;
            }
        }
    }

    .contact-info {
        .value {
            font-size: 2rem;
            margin: 0;
        }

        .label {
            font-size: 1.4rem;
        }
    }

    /* ***** -- contact map ***** */
    .contact-map {
        padding: 4rem 0 0 0;

        .contact-info {
            margin: 0 0 4rem 0;
        }
    }

    /* ***** -- follow us ***** */
    .follow-us {
        [class*="col-"] {
            margin: 0 0 4rem 0;

            &:last-child {
                margin: 0;
            }
        }

        .section-title {
            max-width: 40rem;
        }
    }

}

@media (max-width: 575px) {
    /* ***** -- subscribe to rss ***** */
    .subscribe-to-rss {
        form {
            flex-wrap: wrap;
        }

        .btn {
            width: 100%;
            margin: 2.4rem 0 0 0;
        }
    }

}
