*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    overflow-x: hidden;

    &.search-visible,
    &.menu-visible {
        overflow: hidden;
    }
}

body {
    position: relative;
    font-family: "Montserrat Regular", sans-serif;
    font-size: 1.8rem;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #000;
    overflow-x: hidden;
    overflow-y: auto;
}

main.content {
    position: relative;
    background: #fff;
    z-index: 5;
    transition: transform .3s ease;
}

h1, h2, h3, h4, h5, h6, p, hr {
    margin: 0;
}

img {
    width: 100%;
    max-width: 100%;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

a, a:hover {
    color: $blue;
}

button {
    background: none;
    border: none;
    outline: none !important;
}

ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

[class*=" icon-"]:before, [class^=icon-]:before {
    margin: 0;
}

/* ***** -- bootstrap ***** */
.form-group {
    position: relative;
    margin: 0 0 4.8rem 0;

    label {
        font-size: 1.4rem;
        margin: 0;
    }
    
    .form-group {
        margin: 0;
    }

    .form-control {
        font-size: 2.4rem;
        line-height: 200%;
        height: auto;
        padding: 0 0 .8rem 0;
        background: none;
        border: none;
        border-bottom: 1px solid #D0D0D0;
        border-radius: 0;
        box-shadow: none;
        transition: .3s ease;
    }

    ::-webkit-input-placeholder {
        color: #D0D0D0;
    }
    ::-moz-placeholder {
        color: #D0D0D0;
    }
    :-ms-input-placeholder {
        color: #D0D0D0;
    }
    :-moz-placeholder {
        color: #D0D0D0;
    }

    .invalid-feedback {
        font-size: 1.4rem;
        position: absolute;
        left: 0;
        bottom: -3.2rem;
    }
}

/* ***** -- hide arrows in number input ***** */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* ***** -- radio input styles ***** */
input[type="radio"] {
    display: none;

    + label {
        display: block;
        width: 100%;
        position: relative;
        color: $white;
        padding-left: 4rem;
        margin: 0;
        white-space: nowrap;
        cursor: pointer;

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 2.2rem;
            height: 2.2rem;
            border: 1px solid rgba($white, .4);
            border-radius: 50%;
            transform: translateY(-55%);
        }
    }

    &:checked {
        + label {
            &:before {
                background: $white;
            }
        }
    }
}

/* ***** -- tooltip ***** */
.tooltip {
    font-size: 1.2rem;
    top: -6px !important;
}

.tooltip-inner {
    padding: .3rem 1rem;
    color: #000;
    background-color: #F5F6FB;
}

.tooltip .arrow {
    top: calc(100% - 1px);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #F5F6FB;
}


/* ***** -- swiper slider ***** */
.swiper-container {
    .swiper-pagination-progressbar {
        height: 1px;
        background: rgba($blue, .2);
    }

    .swiper-pagination-progressbar-fill {
        background: $blue;
    }

    .swiper-pagination {
        bottom: 0;

        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            margin: 0 .8rem;
            background: url("../images/icons/icon-hexagon-pagination.svg") no-repeat center center;
            background-size: contain;
            opacity: .2;

            &-active {
                opacity: 1;
            }
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: $darkBlue;
    width: 5.8rem;
    height: 6.4rem;
    margin: 0;
    background: #F5F6FB;
    transform: translateY(-50%);
    transition: .3s ease;

    &:after {
        display: none;
    }

    i {
        position: relative;
        z-index: 2;
    }
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

@media (max-width: 1600px) {
    body {
        font-size: 1.6rem;
    }

    /* ***** -- bootstrap ***** */
    .form-group {
        .form-control {
            font-size: 1.8rem;
        }
    }

    /* ***** -- swiper slider ***** */
    .swiper-container {
        .swiper-button-prev,
        .swiper-button-next {
            width: 5rem;
            height: 5.6rem;
            font-size: 1.7rem;
        }
    }
}

@media (min-width: 1200px) {
    .col-xl-10 {
        flex: 0 0 88%;
        max-width: 88%;
    }

    .col-xl-8 {
        flex: 0 0 72%;
        max-width: 72%;
    }
    
    .offset-xl-2 {
        margin-left: 14%;
    }

    .offset-xl-1 {
        margin-left: 6%;
    }
}

@media (min-width: 1200px) and (max-width: 1600px) {
    .col-xl-8 {
        flex: 0 0 78%;
        max-width: 78%;
    }
    
    .offset-xl-2 {
        margin-left: 11%;
    }
}
