.no-padding {
    padding: 0;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.cover-center {
    background: no-repeat center center;
    background-size: cover;
}

.visible-767,
.visible-991,
.visible-1200 {
    display: none !important;
}

.pt-14 {
    padding-top: 14rem;
}

.ptb-16 {
    padding-top: 16rem;
    padding-bottom: 16rem;
}

.pb-16 {
    padding-bottom: 16rem;
}

.ptb-14 {
    padding-top: 14rem;
    padding-bottom: 14rem;
}

.ptb-11 {
    padding-top: 11rem;
    padding-bottom: 11rem;
}

/* ***** -- buttons ***** */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    line-height: 167%;
    color: $blue;
    padding: 2.4rem 6.4rem;
    background: #F5F6FB;
    border: 1px solid transparent;
    white-space: nowrap;
    transition: .2s ease;

    i {
        font-size: 1.6rem;
        margin: 0 0 0 1.6rem; 
    }

    &:hover {
        color: $cyan;
        background: $darkBlue;
    }

    &.btn-white {
        background: $white;

        &:hover {
            color: $blue;
            background: #F5F6FB;
        }
    }

    &.btn-primary {
        font-family: "Montserrat SemiBold", sans-serif;
        color: $cyan;
        background: $blue;

        &:hover {
            background: darken($blue, 10%);
        }
    }

    &.btn-outline {
        border: 1px solid $blue;
        background: transparent;

        &:hover {
            color: $blue;
            background: #F5F6FB;
        }
    }

    &.btn-block {
        width: 100%;
        text-align: center;
    }

    &.with-icon {
        font-size: 1.8rem;
        line-height: 130%;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

/* ***** -- wave texture ***** */
.wave-texture {
    position: absolute;
    width: 37%;
    padding-bottom: 20%;
    background: url("../images/wave-texture.png") no-repeat center;
    background-size: cover;

    &.top-left {
        top: 0;
        left: 0;
    }

    &.top-right {
        top: 0;
        right: 0;
    }

    &.bottom-left {
        bottom: 0;
        left: 0;
    }

    &.bottom-right {
        bottom: 0;
        right: 0;
    }
}

/* ***** -- section header ***** */
.section-header {
    color: $darkBlue;
    
    .subtitle {
        font-size: 2.4rem;
        line-height: 200%;
        max-width: 59rem;
        margin: 0 auto 9rem auto;
    }

    .controls {
        align-items: center;

        > * {
            position: relative;
            margin: 0 0 0 3.2rem;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        font-size: 1.8rem;
        width: 5.8rem;
        height: 5.8rem;
        background: rgba($white, .2);
        transform: none;

        &:hover {
            background: rgba($white, .4);
        }

        i {
            color: $cyan;
        }
    }

    &.flex {
        justify-content: space-between;
        align-items: center;
        margin: 0 0 9.6rem 0;

        .section-title {
            margin: 0;
        }
    }
}

.section-title {
    font-size: 4.8rem;
    line-height: 120%;
    letter-spacing: 0.08em;
    color: inherit;
    margin: 0 0 9.6rem 0;
}

/* ***** -- masked shape ***** */
.masked {
    -webkit-mask: url("../images/mask.svg") no-repeat center;
    -moz-mask: url("../images/mask.svg") no-repeat center;
    mask: url("../images/mask.svg") no-repeat center;
    -webkit-mask-size: contain;
    -moz-mask-size: contain;
    mask-size: contain;
}

@media (max-width: 1600px) {
    .pt-14 {
        padding-top: 10rem;
    }

    .ptb-16 {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

    .pb-16 {
        padding-bottom: 12rem;
    }

    .ptb-14 {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    .ptb-11 {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    /* ***** -- buttons ***** */
    .btn {
        font-size: 1.8rem;
        padding: 1.8rem 4.8rem;

        &.with-icon {
            padding-left: 3.2rem;
            padding-right: 3.2rem;
        }
    }

    /* ***** -- section header ***** */
    .section-header {
        .subtitle {
            font-size: 2rem;
            max-width: 54rem;
        }

        .controls {
            > * {
                margin: 0 0 0 2.4rem;
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            font-size: 1.6rem;
            width: 5.2rem;
            height: 5.2rem;
        }

        &.flex {
            margin: 0 0 8rem 0;
        }
    }

    .section-title {
        font-size: 4rem;
        margin: 0 0 8rem 0;
    }
}

@media (max-width: 1200px) {
    .hidden-1200 {
        display: none !important;
    }

    .visible-1200 {
        display: block !important;
    }

    .pt-14 {
        padding-top: 8rem;
    }

    .ptb-16 {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    .pb-16 {
        padding-bottom: 10rem;
    }

    .ptb-14 {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .ptb-11 {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    /* ***** -- buttons ***** */
    .btn {
        font-size: 1.6rem;
        padding: 1.4rem 3.2rem;
    }

    /* ***** -- section header ***** */
    .section-header {
        .subtitle {
            font-size: 1.8rem;
            margin: 0 auto 5rem auto;
        }

        &.flex {
            margin: 0 0 5.6rem 0;
        }
    }

    .section-title {
        font-size: 3.6rem;
        margin: 0 0 5.6rem 0;
    }
}

@media (max-width: 991px) {
    .hidden-991 {
        display: none !important;
    }

    .visible-991 {
        display: block !important;
    }
}

@media (max-width: 767px) {
    .hidden-767 {
        display: none !important;
    }

    .visible-767 {
        display: block !important;
    }

    /* ***** -- wave texture ***** */
    .wave-texture {
        display: none;
    }
}

@media (max-width: 575px) {
    .pt-14 {
        padding-top: 5.6rem;
    }

    .ptb-16 {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .pb-16 {
        padding-bottom: 8rem;
    }

    .ptb-14 {
        padding-top: 5.6rem;
        padding-bottom: 5.6rem;
    }

    /* ***** -- section header ***** */
    .section-header {
        &.flex {
            margin: 0 0 4.8rem 0;
        }
    }

    .section-title {
        font-size: 3.2rem;
        margin: 0 0 4.8rem 0;
    }
}
