/* ***** -- intro slider ***** */
.intro-slider {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 31%;
        background: #F5F6FB;
        z-index: -1;
    }

    .service-preview {
        flex: 0 0 88%;
        max-width: 88%;
        align-items: center;
        min-height: 100vh;
        padding: 9rem 1.5rem 8rem 1.5rem;
        margin-left: 6%;
    }

    .pagination-wrapper {
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 5rem 4rem;
        z-index: 10;
    }

    .fraction {
        color: $black;
        margin: 0 3rem 0 0;

        .divider {
            margin: 0 1rem;
        }

        .current {
            font-family: "Montserrat Bold", sans-serif;
            display: inline-block;
            width: 12px;
        }
    }

    .swiper-pagination {
        position: static;
        display: flex;
        width: auto;
    
        .swiper-pagination-bullet {
            width: 16px;
            height: 16px;
            margin: 0 2.4rem 0 0;
        }
    }
}

.to-services {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5rem;
    left: 50%;
    font-size: 2.4rem;
    color: $blue;
    transform: translateX(-50%);
    z-index: 2;

    img {
        max-width: 2.4rem;
        margin: 0 2.6rem 0 0;
    }
}

/* ***** -- service preview ***** */
.service-preview {
    justify-content: space-between;
    color: $blue;
    
    .left {
        width: 50%;
        padding: 0 12rem 0 0;
    }

    .right {
        width: 40%;
    }

    .title {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 7.2rem;
        line-height: 120%;
        letter-spacing: 0.08em;
        margin-bottom: 4rem;
    }

    .subtitle {
        max-width: 73rem;
        font-size: 2.4rem;
        line-height: 200%;
    }

    .actions {
        display: flex;
        margin: 4.8rem 0 0 0;

        * {
            margin: 0 4rem 0 0;

            &:last-child {
                margin: 0;
            }
        }
    }

    .service-categories {
        max-width: 100%;
        margin: 4rem 0 0 0;
    
        a {
            background-color: #F5F6FB;
    
            &:hover {
                color: #fff;
                background: $blue;
            }
        }
    }
}

/* ***** -- services ***** */
.scrollable-x {
    width: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;  /* Firefox */

    /* Chrome, Safari, Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

.services-heading {
    position: relative;
    padding: 4rem;
    overflow-x: auto;

    .scrollable-x {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .left,
    .right {
        display: flex;
    }

    .left {
        img {
            margin: 0 3.2rem 0 0;
            width: auto;
            height: auto;
            max-width: 8rem;
            max-height: 8rem;
            min-width: 7.1rem;
            
            &:last-child {
                margin: 0;
            }
        }
    }

    .right {
        img {
            margin: 0 0 0 3.2rem;
            max-width: 19.2rem;
        }
    }
}

/* ***** -- services grid ***** */
.services-grid {
    .service-card {
        width: 50%;
    }
}

.service-card {
    display: flex;
    flex-grow: 1;
    position: relative;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);

    &:hover {
        .service-card__bg {
            background-color: $blue;

            img {
                opacity: .5;
            }
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $darkBlue;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            transition: opacity .3s ease;
        }
    }

    &__body {
        position: relative;
        display: flex;
        flex-flow: column;
        width: 100%;
        padding: 3.2rem 4rem;
        z-index: 2;
        min-height: 32rem;

        a,
        span {
            display: block;
            color: #fff;
        }

        .title {
            font-size: 3.2rem;
            line-height: 130%;
            max-width: 24rem;
        }
    
        .subtitle {
            line-height: 130%;
            margin: 2.4rem 0 3.2rem 0;
        }

        .service-categories {
            margin-top: auto;
        }
    }
}

.service-categories {
    li {
        margin: 1.6rem 1.6rem 0 0;
    }

    a {
        position: relative;
        display: flex;
        align-items: center;
        font-family: "Montserrat Medium", sans-serif;
        line-height: 1.3;
        padding: 1.6rem 3.2rem;
        text-transform: uppercase;
        background-color: rgba(#fff, .1);
        transition: .3s ease;

        &:hover {
            color: $blue;
            background: #fff;
        }
    }
}

/* ***** -- clients ***** */
.clients {
    position: relative;

    .section-header {
        color: #fff;
    }

    .swiper-slide {
        height: auto;
        min-height: 5.6rem;
        
        .company-thumb {
            opacity: .4;
            transform: scale(.4);
        }

        &-active {
            .company-thumb {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    .swiper-pagination {
        opacity: 0;

        .swiper-pagination-bullet {
            background: url("../images/icons/icon-hexagon-pagination-white.svg") no-repeat center center;
            background-size: contain;
        }
    }
}

.company-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 43rem;
    margin: 0 auto;
    transition: .3s ease;

    img {
        max-height: 8rem;
    }
}

/* ***** -- advantages ***** */
.advantages {
    position: relative;

    .section-title {
        color: $darkBlue;
    }

    .desc {
        font-size: 2rem;
        line-height: 200%;
        margin: -2rem 0 0 0;

        > * {
            margin: 0 0 1.5rem 0;

            &:last-child {
                margin: 0;
            }
        }
    }

    .image {
        padding-left: 10rem;
    }

    .swiper-container {
        padding: 0 calc(14% + 15px);
        margin: 15rem 0 0 0;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 22%;
            background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            z-index: 5;
        }
    }

    .swiper-slide {
        width: 41rem;

        &:last-child {
            width: auto;
        }
    }

    .wave-texture.bottom-left {
        transform-origin: bottom left;
        transform: rotate(-90deg) translateY(100%);
    }
}

.advantage-block {
    max-width: 30rem;
    padding: 0 0 3.8rem 0;
    border-bottom: 1px solid $blue;

    .icon {
        max-width: 2.9rem;
        padding: 0 0 3.8rem 0;
        margin: 0 0 3.8rem 0;
        border-bottom: 1px solid #000;

        img {
            width: auto;
            max-height: 3rem;
        }
    }

    .title {
        font-family: "Montserrat SemiBold", sans-serif;
        font-size: 2.4rem;
        line-height: 140%;
        color: $blue;
    }

    .subtitle {
        margin: 3.8rem 0;
    }

    .read-more {
        color: $blue;
    }
}

/* ***** -- service calculator ***** */
.service-calculator {
    position: relative;
    background: $darkBlue;
    overflow: hidden;

    .bg-video {
        z-index: 1;
    }

    .container-fluid {
        position: relative;
        z-index: 2;
    }
}

.calculator {
    max-width: 108rem;
    color: $white;
    margin: 0 auto;

    form {
        > * {
            margin: 0 0 3.2rem 0;

            &:last-child {
                margin: 0;
            }
        }
    }

    .section-title {
        width: 100%;
        color: $white;
    }

    .left {
        width: 65%;
        padding-right: 6.4rem;
        border-right: 1px solid rgba($white, .2);
    }

    .right {
        width: 35%;
        padding-left: 6.4rem;
    }
}

.form-group-title {
    font-family: "Montserrat SemiBold", sans-serif;
    font-size: 2.4rem;
}

.form-info {
    font-size: 1.4rem;
    line-height: 140%;

    strong {
        font-family: "Montserrat SemiBold", sans-serif;
    }

    a {
        color: inherit;
        text-decoration: underline;
    }

    > * {
        margin: 0 0 .8rem 0;
    }
}

/* ***** -- field group ***** */
.fields-group-wrapper {
    .group-label {
        font-size: 1.4rem;
        line-height: 140%;
        margin: 0 0 .8rem 0;
    }
}

.fields-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
        flex: 1 1 0%;
        max-width: 100%;
        margin: 0 1px 1px 0;
    }

    &.divided {
        &:before {
            content: "+";
            font-size: 3.2rem;
            position: absolute;
            bottom: 1rem;
            left: 50%;
            opacity: .4;
            transform: translateX(-50%) rotate(45deg);
        }
        
        > div {
            flex: 0 0 calc(50% - 1.6rem);
        }
    }

    .field-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;
        line-height: 160%;
        padding: 1.6rem 2.4rem;
        background: rgba($white, .1);

        &.read-only {
            background: rgba($black, .2);
        }

        input {
            max-width: 10rem;
            color: $white;
            background: none;
            border: none;
            outline: none;

            ~ .nice-select {
                max-width: 50%;
            }
        }
    }
}

.field-controls {
    display: flex;
    align-items: center;
    
    button {
        font-size: 2.4rem;
        color: $white;
    }

    .increment {
        margin-left: 3.2rem;
    }
}

/* ***** -- service price ***** */
.price-block {
    font-family: "Montserrat SemiBold", sans-serif;
    text-align: right;

    .total-price {
        font-size: 2.2rem;
        line-height: 120%;
    }

    .price {
        font-family: "Montserrat Regular", sans-serif;
        font-size: 4rem;
        line-height: 120%;
        letter-spacing: 0.08em;
        margin: 2.4rem 0;
    }

    .btn {
        width: 100%;
        max-width: 30rem;
    }
}

/* ***** -- full width bg ***** */
.full-width-section {
    position: relative;
    background: $darkBlue;
    color: $white;
    overflow: hidden;

    .bg-video {
        z-index: 1;
    }

    .container-fluid {
        position: relative;
        z-index: 2;
    }

    .section-title {
        margin: 0;
    }

    .subtitle {
        margin: 2.2rem 0 3.2rem 0;
    }
}

/* ***** -- feedback section ***** */
.feedback-section {
    background: #F5F6FB;
}

.feedback-top {
    max-width: 91.5%;
}

.feedback {
    .quote {
        font-size: 3.2rem;
        line-height: 180%;
        color: $blue;
        margin: 10rem 0 5rem 0;
    }
}

.quote-author {
    justify-content: space-between;
    align-items: center;
    padding: 0 0 1rem 1rem;

    .thumb {
        position: relative;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;

        &:before {
            content: "";
            position: absolute;
            top: -.8rem;
            left: -.8rem;
            width: calc(100% + 1.6rem);
            height: calc(100% + 1.6rem);
            border: 1px solid $blue;
            border-radius: 50%;
        }

        img {
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .info {
        width: calc(100% - 12rem);
    }

    .name {
        font-size: 2.4rem;
        margin: 0 0 .5rem 0;
    }

    .he-is {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.feedback-thumbs {
    margin: 10rem 0 0 0;
    background: $blue url("../images/gif-texture.png") no-repeat center;
    background-size: cover;

    .swiper-container {
        padding: 0 3.3rem;
    }
    
    .swiper-slide {
        padding: 3.2rem 0;
        width: 3.2rem;
        cursor: pointer;

        &-thumb-active {
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                width: 0; 
                height: 0; 
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-top: 12px solid #F5F6FB;
                transform: translateX(-50%);
            }

            .thumb {
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba($cyan, .8);
                    border-radius: 50%;
                }
            }
        }
    }

    .thumb {
        position: relative;
        display: flex;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;

        img {
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}

/* ***** -- data centers ***** */
.data-center-item {
    a {
        display: block;
        transition: .3s ease;
    }

    .image {
        overflow: hidden;

        &:hover {
            a {
                transform: scale(1.03);
            }
        }
    }

    .name {
        font-size: 2.4rem;
        color: $black;
        margin: 3rem 0 2rem 0;

        &:hover {
            color: $blue;
        }
    }
}

/* ***** -- latest blog ***** */
.latest-blog {
    .blog-article {
        margin: 0 0 8rem 0;
    }
}

.blog-article {
    align-items: center;

    a {
        display: inline-block;
    }

    .image {
        position: relative;
        height: 0;
        width: 28%;
        padding-bottom: 31%;
        overflow: hidden;

        a {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .info {
        display: flex;
        flex-flow: column;
        width: 72%;
        line-height: 180%;
        padding: 0 0 0 8rem;
    }

    .title {
        max-width: 74.5rem;
        font-family: "Montserrat Bold", sans-serif;
        font-size: 3.2rem;
        line-height: 160%;
        color: $blue;
        margin: 3rem 0;
    }

    .read-more {
        a {
            display: inline-flex;
            align-items: center;
            padding: 0 0 3.8rem 0;
            border-bottom: 1px solid $blue;
        }

        i {
            color: $cyan;
            margin: 3px 0 0 4rem;
            transition: .3s ease;
        }

        &:hover {
            i {
                transform: translateX(1rem);
            }
        }
    }
}

/* ***** -- have question ***** */
.have-question {
    position: relative;

    .inner {
        max-width: 86rem;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        color: $white;
    }

    p {
        font-size: 2.4rem;
        line-height: 180%;
        letter-spacing: 0.04em;
        max-width: 46rem;
    }
}

/* ***** -- seo text ***** */
.azcloud-azintelecom {
    padding: 10rem 0;

    .row {
        align-items: center;
    }

    .logos {
        display: flex;
        align-items: center;

        > * {
            display: block;
            width: auto;
            height: 12rem;
            margin: 0 8rem 0 0;
    
            &:last-child {
                margin: 0;
            }

            img {
                width: auto;
                height: 100%;
                max-height: 100%;
            }
        }
    }
}

@media (max-width: 1600px) {
    /* ***** -- intro slider ***** */
    .intro-slider {
        .pagination-wrapper {
            padding: 3rem;
        }
    }

    .to-services {
        bottom: 3.2rem;
    }

    /* ***** -- service preview ***** */
    .service-preview {
        .title {
            font-size: 6rem;
        }

        .subtitle {
            font-size: 2rem;
        }

        .actions {
            * {
                margin: 0 3rem 0 0;
            }
        }
    }

    /* ***** -- services grid ***** */
    .service-card__body {
        font-size: 1.4rem;
        padding: 2.4rem 3rem;
        min-height: 26rem;
        
        .title {
            font-size: 2.4rem;
        }

        .subtitle {
            margin: 1.6rem 0 2.4rem 0;
        }
    }

    .service-categories {
        li {
            margin: 1.2rem 1.2rem 0 0;
        }

        a {
            padding: 1.2rem 2.4rem;
        }
    }

    /* ***** -- advantages ***** */
    .advantages {
        .desc {
            font-size: 1.7rem;
            margin: -2rem 0 0 0;
        }

        .image {
            padding-left: 6rem;
        }

        .swiper-container {
            padding: 0 calc(11% + 15px);
            margin: 12rem 0 0 0;
        }

        .swiper-slide {
            width: 34rem;
        }
    }

    .advantage-block {
        line-height: 180%;
        max-width: 26rem;
        padding: 0 0 2.6rem 0;

        .icon {
            max-width: 2.4rem;
            padding: 0 0 3rem 0;
            margin: 0 0 3rem 0;

            img {
                max-height: 2.4rem;
            }
        }

        .title {
            font-size: 2rem;
        }

        .subtitle {
            margin: 2.6rem 0;
        }
    }

    /* ***** -- service calculator ***** */
    .calculator {
        max-width: 100%;
    }

    /* ***** -- field group ***** */
    .fields-group {
        &.divided {
            &:before {
                bottom: .7rem;
            }
        }

        .field-item {
            font-size: 1.4rem;
            padding: 1.2rem 1.6rem;
        }
    }

    /* ***** -- feedback section ***** */
    .feedback {
        .quote {
            font-size: 2.6rem;
            margin: 8rem 0 5rem 0;
        }
    }

    .quote-author {
        .thumb {
            width: 7rem;
            height: 7rem;

            &:before {
                top: -.7rem;
                left: -.7rem;
                width: calc(100% + 1.4rem);
                height: calc(100% + 1.4rem);
            }
        }

        .info {
            width: calc(100% - 10rem);
        }

        .name {
            font-size: 2rem;
            margin: 0;
        }
    }

    .feedback-thumbs {
        margin: 8rem 0 0 0;

        [class*="col"] {
            padding: 0;
        }

        .swiper-container {
            padding: 0 4.5rem;
        }
    }

    /* ***** -- data centers ***** */
    .data-center-item {
        .name {
            font-size: 2rem;
            margin: 2rem 0 1rem 0;
        }

        .desc {
            line-height: 170%;
        }
    }

    /* ***** -- latest blog ***** */
    .blog-article {
        .info {
            padding: 0 0 0 6rem;
        }

        .title {
            font-size: 2.4rem;
        }

        .read-more {
            a {
                padding: 0 0 2.4rem 0;
            }
        }
    }

    /* ***** -- seo text ***** */
    .azcloud-azintelecom {
        padding: 8rem 0;

        .logos {
            > * {
                margin: 0 6rem 0 0;
            }
        }
    }

}

@media (max-width: 1200px) {
    /* ***** -- intro slider ***** */
    .intro-slider {
        .service-preview {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 10rem 1.5rem;
            margin-left: 0;
        }

        .pagination-wrapper {
            padding: 3rem 1.5rem;
        }
    }

    /* ***** -- service preview ***** */
    .service-preview {
        .left {
            width: 60%;
            padding: 0 5.6rem 0 0;
        }

        .right {
            width: 40%;
        }
        
        .title {
            font-size: 5.2rem;
            margin-bottom: 2rem;
        }

        .subtitle {
            font-size: 1.8rem;
            line-height: 180%;
        }

        .actions {
            margin: 3.2rem 0 0 0;
        }

        .service-categories {
            margin: 1.6rem 0 0 0;
        }
    }

    /* ***** -- services ***** */
    .services-heading {
        padding: 2.4rem 1.5rem;

        .scrollable-x {
            width: calc(100% + 3rem);
            padding: 0 1.5rem;
            margin-left: -1.5rem;
            margin-right: -1.5rem;
        }

        .left {
            img {
                margin: 0 2.4rem 0 0;
                max-width: 5.6rem;
                min-width: 5rem;
            }
        }

        .right {
            img {
                margin: 0 0 0 2.4rem;
                max-width: 17rem;
                min-width: 17rem;
            }
        }
    }

    /* ***** -- advantages ***** */
    .advantages {
        .swiper-container {
            padding: 0 1.5rem;

            &:after {
                width: 14%;
            }
        }
        
        .swiper-slide {
            width: 28rem;
        }
    }

    /* ***** -- have question ***** */
    .have-question {
        p {
            font-size: 1.8rem;
            line-height: 160%;
            max-width: 37rem;
        }
    }

}

@media (max-width: 1200px) and (orientation: portrait) {
    /* ***** -- intro slider ***** */
    .intro-slider {
        .service-preview {
            min-height: 75vh;
        }
    }
}

@media (max-width: 991px) {
    /* ***** -- clients ***** */
    .clients {
        .swiper-slide {
            margin: 0 0 6rem 0;
        }

        .swiper-pagination {
            opacity: 1;
        }
    }

    /* ***** -- advantages ***** */
    .advantages {
        .image {
            padding: 0;
        }
    }

    /* ***** -- service calculator ***** */
    .calculator {
        .left {
            width: 100%;
            padding: 0 0 3.2rem 0;
            border-right: none;
            border-bottom: 1px solid rgba($white, .2);
        }

        .right {
            width: 100%;
            padding: 3.2rem 0 0 0;
        }
    }

    /* ***** -- service price ***** */
    .price-block {
        text-align: center;

        .price {
            font-size: 3.6rem;
        }
    }

    /* ***** -- feedback section ***** */
    .feedback-top {
        max-width: 100%;
    }

    .feedback {
        .quote {
            font-size: 2.2rem;
            margin: 6rem 0 5rem 0;
        }
    }

    .feedback-thumbs {
        margin: 6rem 0 0 0;
    }

    /* ***** -- seo text ***** */
    .azcloud-azintelecom {
        padding: 6rem 0;

        .logos {
            justify-content: center;
            margin: 0 0 5rem 0;

            > * {
                margin: 0 2rem !important;
            }
        }
    }

}

@media (max-width: 767px) {
    /* ***** -- intro slider ***** */
    .intro-slider {
        &:after {
            width: 100%;
            transform: skewX(-10deg) translateX(50%);
        }

        .service-preview {
            min-height: auto;
        }
    }

    /* ***** -- service preview ***** */
    .service-preview {
        flex-direction: column;
        justify-content: center;

        .left {
            order: 1;
            width: 100%;
            padding: 3.2rem 0 0 0;
        }

        .right {
            width: 100%;
            text-align: center;

            img {
                max-width: 45rem;
            }
        }

        .actions {
            a {
                margin: 0 2rem 0 0;
            }
        }
    }

    /* ***** -- services grid ***** */
    .services-grid {
        .service-card {
            width: 100%;
        }
    }

    /* ***** -- clients ***** */
    .clients {
        .swiper-container {
            margin-left: -1.5rem;
            margin-right: -1.5rem;
        }

        .swiper-slide {
            .company-thumb {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    .company-thumb {
        padding: 0 4rem;
    }

    /* ***** -- advantages ***** */
    .advantages {
        .desc {
            margin: 0 0 4rem 0;
        }

        .swiper-container {
            margin: 8rem 0 0 0;
        }
    }

    /* ***** -- feedback section ***** */
    .feedback {
        .quote {
            font-size: 2rem;
            margin: 4rem 0 3rem 0;
        }
    }

    .quote-author {
        padding: .6rem 0 .6rem .6rem;

        .thumb {
            width: 4.8rem;
            height: 4.8rem;

            &:before {
                top: -.5rem;
                left: -.5rem;
                width: calc(100% + 1rem);
                height: calc(100% + 1rem);
            }
        }

        .info {
            width: calc(100% - 7rem);
            line-height: 160%;
        }

        .name {
            font-size: 1.8rem;
        }
    }

    .feedback-thumbs {
        margin: 4rem 0 0 0;

        .swiper-container {
            padding: 0 3rem;
        }

        .swiper-slide {
            padding: 2.5rem 0;
        }

        .swiper-thumb-active {
            &:before {
                border-left: 9px solid transparent;
                border-right: 9px solid transparent;
                border-top: 9px solid #f5f6fb;
            }
        }
    }

    /* ***** -- data centers ***** */
    .data-centers {
        .col-md-6 {
            margin: 0 0 5rem 0;

            &:last-child {
                margin: 0;
            }
        }
    }

    /* ***** -- latest blog ***** */
    .latest-blog {
        .blog-article {
            margin: 0 0 6rem 0;
        }
    }

    .blog-article {
        .info {
            padding: 0 0 0 3.2rem;
        }

        .title {
            font-size: 2rem;
        }
    }

}

@media (max-width: 575px) {
    /* ***** -- intro slider ***** */
    .intro-slider {
        .pagination-wrapper {
            bottom: 4rem;
            padding: 0 .4rem;
        }

        .fraction {
            display: none;
        }

        .swiper-pagination {
            .swiper-pagination-bullet {
                width: 14px;
                height: 14px;
                margin: 0 10px;
            }
        }
    }

    /* ***** -- service preview ***** */
    .service-preview {
        .right {
            img {
                max-width: 90%;
            }
        }

        .title {
            font-size: 3.6rem;
            letter-spacing: 0.04em;
        }
    }

    /* ***** -- services ***** */
    .services-heading {
        .right {
            padding-right: 1.5rem;
        }
    }

    /* ***** -- field group ***** */
    .fields-group {
        &.divided {
            &:before {
                display: none;
            }
            
            > div {
                flex: 0 0 auto;
                width: 100%;
                margin: 0 0 3.2rem 0;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }

    /* ***** -- latest blog ***** */
    .blog-article {
        .image {
            width: 100%;
            padding-bottom: 100%;
        }

        .info {
            width: 100%;
            text-align: center;
            padding: 3.2rem 0 0 0;
        }

        .title {
            margin: 1.6rem 0 2.4rem 0;
        }
    }

    /* ***** -- have question ***** */
    .have-question {
        p {
            width: 100%;
            max-width: 100%;
            margin: 0 0 4rem 0;
        }

        .btn {
            width: 100%;
            padding: 1.6rem 3.2rem;
        }
    }

    /* ***** -- seo text ***** */
    .azcloud-azintelecom {
        .logos {
            > * {
                max-width: 11rem;
                height: auto;

                img {
                    height: auto;
                }
            }
        }

        .text {
            text-align: center;
        }
    }
    
}
