.page {
    position: relative;
    padding-top: 17rem;
}

/* ***** -- page header ***** */
.page-header {
    a {
        color: $blue;
    }

    .subtitle {
        font-size: 2.4rem;
        line-height: 200%;
        max-width: 74.4rem;
        margin: 0 0 9.6rem 0;
    }

    &.text-center {
        .subtitle {
            max-width: 85.8rem;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.page-title {
    font-family: "Montserrat Bold", sans-serif;
    font-size: 7.2rem;
    line-height: 120%;
    letter-spacing: 0.08em;
    margin: 0 0 6rem 0;
}

.scroll-down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8.8rem;
    color: $blue;
    margin: 9rem auto;
    background: url("../images/icons/icon-hexagon-outlined.svg") no-repeat center;
    background-size: contain;
}

@media (max-width: 1600px) {
    .page {
        padding-top: 14rem;
    }

    /* ***** -- page header ***** */
    .page-header {
        .subtitle {
            font-size: 2rem;
            max-width: 67rem;
            margin: 0 0 8rem 0;
        }

        &.text-center {
            .subtitle {
                max-width: 77rem;
            }
        }
    }

    .page-title {
        font-size: 5.6rem;
        margin: 0 0 3.2rem 0;
    }

    .scroll-down {
        width: 7rem;
        height: 7.6rem;
    }
}

@media (max-width: 1200px) {
    .page {
        padding-top: 10rem;
    }

    /* ***** -- page header ***** */
    .page-header {
        .subtitle {
            font-size: 1.8rem;
            margin: 0 0 6.4rem 0;
        }
    }

    .page-title {
        font-size: 4.2rem;
    }

}

@media (max-width: 991px) {
    /* ***** -- page header ***** */
    .page-header {
        .subtitle {
            margin: 0 0 4rem 0;
        }
    }

    .page-title {
        font-size: 3.6rem;
        margin: 0 0 3rem 0;
    }
}