/* ***** -- partnership intro ***** */
.partnership-intro {
    position: relative;
    padding: 0 0 12rem 0;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: calc(100% - 4rem);
        width: calc(86% - 15px);
        background: url("../images/partnership-intro.png") no-repeat top right;
        background-size: auto 100%;
    }

    .subtitle {
        font-size: 1.8rem;
        max-width: 41.5rem;
        margin: 0 0 7.2rem 0;
    }

    .actions {
        max-width: 41.5rem;

        > * {
            margin: 0 0 4rem 0;

            &:last-child {
                margin: 0;
            }
        }
    }
}

/* ***** -- partnership advantages ***** */
.partnership-advantages {
    background: $darkBlue;

    .section-title {
        color: #fff;
    }

    .swiper-container {
        padding: 0 calc(14% + 15px);

        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 22%;
            background: linear-gradient(270deg, #080A70 0%, rgba(8, 10, 112, 0) 100%);
            z-index: 5;
        }
    }

    .swiper-slide {
        padding: 0 8rem 0 0;
        border-right: 1px solid rgba($white, .16);
        height: auto;

        &:last-child {
            padding: 0;
            border: none;
        }
    }
}

.advantage-item {
    color: $white;

    .title {
        font-size: 3.2rem;
        line-height: 180%;
        margin: 0 0 1.6rem 0;
    }

    ul {
        flex-direction: column;
    }

    li {
        display: flex;
        align-items: flex-start;
        margin: 0 0 2.4rem 0;

        &:before {
            content: "";
            display: block;
            width: 1.6rem;
            min-width: 1.6rem;
            height: 1.8rem;
            margin: .8rem 1.6rem 0 0;
            background: url("../images/icons/icon-hexagon-footer.svg") no-repeat center;
            background-size: contain;
        }

        &:last-child {
            margin: 0;
        }
    }
}

/* ***** -- partnership type ***** */
.partnership-types {
    > * {
        border-bottom: 1px solid #D0D0D0;
    }

    .section-title {
        color: $blue;
        margin: 0 0 4.8rem 0;
    }
}

.partnership-type {
    align-items: flex-start;

    .info {
        font-size: 1.6rem;
        line-height: 200%;
        width: 30%;
        padding: 0 6.4rem 0 0;

        > * {
            margin: 0 0 2.4rem;
        }
    }

    .btn {
        line-height: 1;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    
    .pricing-cards {
        width: 70%;
        justify-content: center;

        .price-card {
            width: 33.333333%;
        }
    }
}

.price-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: $blue;
    padding: 4rem;
    background: $white;
    box-shadow: -8px 24px 48px rgba(0, 11, 171, 0.14);

    .name {
        margin: 0 0 2.4rem 0;
    }

    .name,
    .fee {
        font-family: "Montserrat SemiBold", sans-serif;
        font-size: 3.2rem;
        line-height: 140%;
    }

    .fee {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 84%;
        margin: auto 0 2.8rem 0;
        background: #F5F6FB;
        
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.price-card {
    &.gold {
        background: #F5F6FB;

        .fee {
            color: $white;
            background: $blue;
        }
    }

    &.platinum {
        color: #fff;
        background: $blue url("../images/gif-texture.png") no-repeat center;
        background-size: cover;

        .fee {
            background: rgba($white, 0.1);
        }
    }
}

/* ***** -- what you get ***** */
.what-you-get {
    .text-center {
        font-size: 3.2rem;
        line-height: 180%;
        max-width: 90rem;
        margin: 0 auto 6rem auto;

        &:before {
            content: "";
            display: block;
            width: 1.6rem;
            height: 1.8rem;
            background: url("../images/icons/icon-hexagon-footer.svg") no-repeat center;
            background-size: contain;
            margin: 0 auto 5.6rem auto;
        }
    }

    .image {
        max-width: 37.7rem;
        margin: 0 auto;
    }
}

@media (max-width: 1600px) {
    /* ***** -- partnership intro ***** */
    .partnership-intro {
        &:before {
            width: calc(89% - 15px);
            height: calc(100% - 2rem);
        }

        .subtitle {
            font-size: 1.6rem;
            line-height: 180%;
            max-width: 38rem;
            margin: 0 0 4rem 0;
        }
    
        .actions {
            max-width: 38rem;

            > * {
                margin: 0 0 2.4rem 0;
            }
        }
    }

    /* ***** -- partnership advantages ***** */
    .partnership-advantages {
        .swiper-container {
            padding: 0 calc(11% + 15px);
        }

        .swiper-slide {
            padding: 0 5.6rem 0 0;
        }
    }

    .advantage-item {
        .title {
            font-size: 2.4rem;
        }

        li {
            margin: 0 0 1.6rem 0;

            &:before {
                width: 1.5rem;
                min-width: 1.5rem;
                height: 1.6rem;
                margin: .8rem 1.2rem 0 0;
            }
        }
    }

    /* ***** -- partnership type ***** */
    .partnership-type {
        .info {
            line-height: 180%;
            padding: 0 4rem 0 0;
        }
    }

    .price-card {
        padding: 4rem 2.4rem;
        box-shadow: -6px 20px 40px rgba(0, 11, 171, 0.14);

        .name,
        .fee {
            font-size: 2.4rem;
        }
    }

    /* ***** -- what you get ***** */
    .what-you-get {
        .text-center {
            font-size: 2.4rem;
            max-width: 70rem;
            margin: 0 auto 4.8rem auto;

            &:before {
                margin: 0 auto 4rem auto;
            }
        }
    }

}

@media (max-width: 1300px) {
    /* ***** -- partnership type ***** */
    .partnership-type {
        .info {
            width: 100%;
            padding: 0 0 2.4rem 0;
        }
        
        .pricing-cards {
            width: 100%;
        }
    }

}

@media (max-width: 1200px) {
    /* ***** -- partnership intro ***** */
    .partnership-intro {
        &:before {
            width: 100%;
            height: 100%;
        }
    }

    /* ***** -- partnership advantages ***** */
    .partnership-advantages {
        .swiper-container {
            padding: 0 1.5rem;

            &:after {
                width: 14%;
            }
        }

        .swiper-slide {
            padding: 0 4rem 0 0;
        }
    }

}

@media (max-width: 768px) {
    /* ***** -- partnership intro ***** */
    .partnership-intro {
        &:before {
            position: static;
            display: block;
            width: 75%;
            padding-bottom: 75%;
            margin: 0 auto;
            background-size: contain;
        }
        
        .page-header {
            text-align: center;
        }

        .subtitle,
        .actions {
            max-width: 56rem;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
}

@media (max-width: 700px) {
    /* ***** -- partnership pricing ***** */
    .partnership-type {
        .pricing-cards {
            .price-card {
                width: 50%;
            }
        }
    }
}

@media (max-width: 575px) {
    /* ***** -- partnership intro ***** */
    .partnership-intro {
        padding: 0 0 6rem 0;

        &:before {
            width: 90%;
            padding-bottom: 90%;
        }

        .actions {
            > * {
                margin: 0 0 1.6rem 0;
            }
        }
    }

    /* ***** -- partnership advantages ***** */
    .partnership-advantages {
        .swiper-slide {
            padding: 0 1.6rem 0 0;
        }
    }

    .advantage-item {
        .title {
            font-size: 2rem;
            line-height: 170%;
        }

        li {
            margin: 0 0 .8rem 0;

            &:before {
                width: 1.5rem;
                min-width: 1.5rem;
                height: 1.6rem;
                margin: .8rem 1.2rem 0 0;
            }
        }
    }

    /* ***** -- what you get ***** */
    .what-you-get {
        .text-center {
            font-size: 2rem;
        }
    }

}

@media (max-width: 480px) {
    /* ***** -- partnership pricing ***** */
    .partnership-type {
        .pricing-cards {
            .price-card {
                width: 100%;
                margin: 0 0 2.4rem 0;
            }
        }
    }

    .price-card {
        padding: 4rem;

        .name,
        .fee {
            font-size: 3.2rem;
        }
    }
}
