
.search-form.v2 {
    margin: 0 0 4.8rem 0;
    border-bottom: 1px solid #D0D0D0;

    .form-group {
        margin: 0;
    }

    .form-control {
        color: $black;
        background: #F5F6FB;
    }

    ::-webkit-input-placeholder {
        color: rgba($black, .6);
    }
    ::-moz-placeholder {
        color: rgba($black, .6);
    }
    :-ms-input-placeholder {
        color: rgba($black, .6);
    }
    :-moz-placeholder {
        color: rgba($black, .6);
    }
}

.search-count {
    line-height: 130%;
    margin: 2.4rem 0;
    opacity: .6;
}

/* ***** -- search results ***** */
.search-results {
    margin: 0 0 10rem 0;

    .load-container {
        margin: 0 0 7.2rem;
    }
}

.search-result {
    margin: 0 0 4rem 0;

    .label {
        font-size: 1.6rem;
        opacity: .6;
    }

    .value {
        font-family: "Montserrat SemiBold", sans-serif;
        font-size: 2.4rem;
        line-height: 160%;
        text-decoration: underline;
        color: $blue;
    }
}

@media (max-width: 575px) {
    .search-form.v2 {
        margin: 0 0 3.2rem 0;
    }

    .search-count {
        margin: 1.8rem 0;
    }

    /* ***** -- search results ***** */
    .search-results {
        .load-container {
            margin: 0 0 4.8rem;
        }
    }

    .search-result {
        margin: 0 0 2.4rem 0;

        .label {
            font-size: 1.4rem;
        }

        .value {
            font-size: 2rem;
        }
    }
}
