.need-help {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F5F6FB;
    padding-left: 11rem;
    padding-right: 11rem;
    margin: 6.4rem 0 10rem 0;

    p {
        font-size: 2.4rem;
        line-height: 180%;
        max-width: 46rem;
    }

    .btn {
        &:hover {
            color: $cyan;
            background: $blue;
        }
    }
}

@media (max-width: 1600px) {
    .need-help {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

@media (max-width: 1200px) {
    .need-help {
        padding-left: 6rem;
        padding-right: 6rem;

        p {
            font-size: 1.8rem;
            line-height: 160%;
            max-width: 37rem;
        }
    }
}

@media (max-width: 575px) {
    .need-help {
        flex-wrap: wrap;
        text-align: center;
        padding-left: 3.2rem;
        padding-right: 3.2rem;
        margin: 4rem 0;

        p {
            width: 100%;
            max-width: 100%;
            margin: 0 0 4rem 0;
        }

        .btn {
            width: 100%;
            padding: 1.6rem 3.2rem;
        }
    }
}
