/* ***** -- service intro ***** */
.service-intro {
    .service-preview {
        padding-bottom: 6.4rem;
    }

    .left {
        padding: 0 3.2rem 0 0;
    }

    .right {
        width: 40.5%;
    }

    .title {
        margin-top: 8rem;
    }
    
}

/* ***** -- service description ***** */
.service-description {
    padding: 5.6rem 0;
    margin: -8% 0 0 0;
    background: #F5F6FB;

    &.expanded {
        .expand {
            display: none;
        }
    }

    button {
        color: $blue;
        border-bottom: 1px dashed $blue;
    }

    .first-chunk,
    .rest-chunk {
        max-width: 64%;
    }

    .rest-chunk {
        display: none;
    }

    .editor-body {
        margin: 5.6rem 0 0 0;

        > * {
            &:last-child {
                margin: 0;
            }
        }
    }

    .roll-up {
        margin: 1.6rem 0 0 0;
    }
}

/* ***** -- service subtype info ***** */
.service-subtype-info {
    .service-categories {
        max-width: 100%;
        margin: 0 0 4rem 0;
    
        a {
            background-color: #F5F6FB;
    
            &:hover {
                color: #fff;
                background: $blue;
            }
        }
    }
}

/* ***** -- service nav ***** */
.service-nav {
    padding: 3.2rem 0;
    background: $blue url("../images/gif-texture.png") no-repeat center;
    background-size: cover;
    z-index: 40;

    li {
        margin-right: 1.6rem;
    }

    a {
        font-family: "Montserrat Medium", sans-serif;
        white-space: nowrap;
        color: #fff;
        padding: 1.6rem 3.2rem;
        background: rgba(#fff, .1);

        &:hover,
        &.active {
            color: $blue;
            background-color: #fff;
        }
    }
}

/* ***** -- vm categories ***** */
.vm-categories {
    .section-title {
        margin: 0 0 11rem 0;
    }
}

.vm-families {
    margin: 0 0 8rem 0;

    .row {
        justify-content: center;
    }

    [class*="col"] {
        &:nth-child(2) {
            transform: scale(1.18);
            z-index: 2;
        }
    }
}

.vm-family {
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-family: "Montserrat Medium", sans-serif;
    text-align: center;
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
    background: $white;
    box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.15);
    overflow: hidden;

    .texture {
        position: absolute;
        left: 50%;
        width: calc(100% + 9.6rem);
        height: 0;
        padding-bottom: 136%;
        transform: translateX(-50%);

        &:first-child {
            bottom: calc(100% - 25rem);
            background: #F5F6FB;
        }

        &:last-child {
            bottom: calc(100% - 9rem);
            background: linear-gradient(270deg, #000BAB 0%, #0078FA 100%);
        }
    }

    .name {
        position: relative;
        color: $white;
        margin-bottom: 5.4rem;
    }

    .level {
        position: relative;
        font-family: "Montserrat Bold", sans-serif;
        font-size: 3.2rem;
        color: $darkBlue;
        line-height: 150%;
    }

    .description {
        position: relative;
        line-height: 170%;
        color: $darkBlue;
        margin: 12rem 0 3rem 0;
    }
    
    .purchase {
        width: 100%;
        font-size: 2.4rem;
        line-height: 167%;
        color: $white;
        padding: 2.4rem;
        margin-top: auto;
        background: linear-gradient(270deg, #000BAB 0%, #0078FA 100%);
        transition: .3s ease;

        &:hover {
            opacity: .7;
        }
    }
}

/* ***** -- benefits ***** */
.service-benefits {
    position: relative;
    background: #F5F6FB;

    .benefits-bg {
        position: absolute;
        top: 0;
        right: 0;
        width: 31%;
        height: 100%;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .benefits-list {
        width: 75%;
    }

    &.flat {
        border-top: 1px solid rgba($black, .16);

        .benefits-list {
            width: 100%;
        }
    }
}

.benefits-list {
    justify-content: space-between;

    &__item {
        width: calc(50% - 15px);
        display: flex;
        margin: 0 0 5.6rem 0;
    }

    &__icon {
        width: 3.2rem;
        min-width: 3.2rem;
        text-align: center;
        margin-top: 1px;

        img {
            width: auto;
            max-height: 2.6rem;
        }
    }

    &__info {
        position: relative;
        width: 100%;
        padding: 0 0 0 8.8rem;

        &:before {
            content: "";
            position: absolute;
            left: 5.4%;
            top: 2rem;
            width: 2.6rem;
            height: 1px;
            background: rgba($blue, .2);
        }
    }

    &__label {
        font-family: "Montserrat Medium", sans-serif;
        font-size: 2.4rem;
        line-height: 180%;
        color: $blue;
    }

    &__desc {
        font-size: 1.6rem;
        margin-top: 1.6rem;
        max-width: 40rem;
    }
}

/* ***** -- use cases ***** */
.use-cases {
    background: $darkBlue;

    .row {
        align-items: center;
    }

    .section-header {
        color: #fff;
    }

    .section-title {
        margin: 0;
    }

    .subtitle {
        font-size: 1.6rem;
        margin: 4rem 0 4.8rem 0;
    }

    &__img {
        position: relative;
        height: 0;
        padding-bottom: 108%;
        margin: -3rem 0;
        background-color: rgba($blue, .5);

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        padding: 6.4rem 0 6.4rem 8rem;
    }

    &__examples {
        color: #fff;

        li {
            font-size: 2rem;
            line-height: 180%;
            padding: .8rem 2.4rem;
            margin: 0 2.4rem 2.4rem 0;
            border: 1px dashed rgba(#fff, .5);
            cursor: pointer;

            &:hover {
                border: 1px solid #fff;
            }
        }
    }
}

/* ***** -- main features ***** */
.main-features {
    background-color: #F5F6FB;
}

.features-slider {
    .swiper-container {
        background-color: #000;
        box-shadow: 0px 24px 40px rgba(8, 10, 112, 0.15);
    }

    .swiper-button-prev {
        left: 5.6rem;
    }

    .swiper-button-next {
        right: 5.6rem;
    }

    .swiper-pagination {
        bottom: 1rem;
        opacity: 0;
        
        .swiper-pagination-bullet {
            background: url("../images/icons/icon-hexagon-pagination-white.svg") no-repeat center center;
            background-size: contain;
        }
    }
}

.feature-slide {
    padding: 10rem 3rem;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .6;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    &__label,
    &__info {
        position: relative;
        max-width: 63.6rem;
        text-align: center;
        color: #fff;
        margin: 0 auto 3.2rem auto;
    }

    &__label {
        font-size: 3.2rem;
    }
}

/* ***** -- additional features ***** */
.additional-features {
    ul {
        justify-content: space-between;
    }

    li {
        display: flex;
        align-items: center;
        width: calc(50% - 1.5rem);
        font-size: 1.6rem;
        padding: 2.4rem 0;
        border-bottom: 1px solid rgba(#000, .16);
        margin-top: -1px;

        &:nth-child(2) {
            border-bottom: 1px solid rgba(#000, .16) !important;
        }

        &:nth-last-child(-n + 2) {
            border-bottom: none;
        }
    }
}

/* ***** -- service prices ***** */
.service-prices {
    position: relative;
    background: $darkBlue;
    overflow: hidden;

    .bg-video {
        z-index: 1;
    }

    .container-fluid {
        position: relative;
        z-index: 2;
    }

    .section-title {
        color: $white;
        margin: 0 0 7.2rem 0;
    }
}

.filters-group {
    margin: 0 0 4rem 0;

    .fields-group-wrapper {
        margin-bottom: 3.2rem;
    }

    .group-label {
        color: #fff;
    }
}

.prices-table {
    overflow-x: auto;
    
    table {
        width: 100%;
        color: #fff;
    }

    tbody {
        tr {
            &:hover {
                background-color: rgba(#fff, .15);

                .purchase {
                    color: $blue;
                    background: #fff;
                }
            }
        }
    }

    tr {
        border-bottom: 1px solid rgba(#fff, .16);
        transition: background .2s ease;
    }

    th {
        font-family: "Montserrat Medium", sans-serif;
        padding: 2.4rem 3rem;
    }

    td {
        padding: 0 2.4rem;
    }

    th, td {
        white-space: nowrap;

        &:last-child {
            text-align: right;
            padding-right: 0;
        }
    }

    .purchase {
        display: inline-block;
        font-family: "Montserrat SemiBold", sans-serif;
        padding: 3rem;
        color: inherit;
        transition: .2s ease;
    }
}

/* ***** -- service bundle ***** */
.service-bundles-list {
    .row {
        justify-content: center;
    }
}

.service-bundle {
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 100%;
    line-height: 170%;
    text-align: center;
    padding: 1.6rem 3.2rem 6.4rem 3.2rem;
    background: #F5F6FB;
    box-shadow: 0px 24px 40px rgba(8, 10, 112, 0.15);
    overflow: hidden;

    .texture {
        position: absolute;
        left: 50%;
        height: 0;
        width: calc(100% + 9.6rem);
        padding-bottom: 136%;
        transform: translateX(-50%);

        &:first-child {
            bottom: calc(100% - 9rem);
            background: linear-gradient(270deg, #000BAB 0%, #0078FA 100%);
        }

        &:last-child {
            top: calc(100% - 23rem);
            background: #ffffff;
        }
    }

    .name {
        font-family: "Montserrat Medium", sans-serif;
        position: relative;
        color: $white;
        margin-bottom: 6.4rem;
    }

    .level {
        position: relative;
        font-family: "Montserrat Bold", sans-serif;
        font-size: 3.2rem;
        color: $darkBlue;
        line-height: 150%;
    }

    .bundle-description {
        color: $darkBlue;
        margin: 3rem 0;
    }

    .bundle-usage {
        font-size: 1.6rem;
    }

    .bundle-params {
        position: relative;
        width: 100%;
        margin: 3rem 0 14rem 0;

        button {
            font-family: "Montserrat Medium", sans-serif;
            font-size: 2rem;
            color: #0078FA;
        }
    }

    .accordion-item {
        text-align: left;
        margin-bottom: 3.2rem;

        a {
            position: relative;
            font-family: "Montserrat SemiBold", sans-serif;
            display: block;
            font-size: 2rem;

            &:after {
                content: "\f107";
                font-family: "fontello";
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        a[aria-expanded="true"] {
            &:after {
                transform: rotate(180deg);
            }
        }
    }

    .collapse-content {
        padding-top: 1.6rem;
    }

    .bundle-price {
        position: relative;
        display: flex;
        align-items: center;
        text-align: left;
        margin-top: auto;
    }

    .price {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 7.2rem;
        line-height: 1;
        letter-spacing: 0.04em;
        background: linear-gradient(90deg, #000BAB 0%, #0078FA 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .currency-period {
        font-family: "Montserrat SemiBold", sans-serif;
        padding-left: .8rem;
    }

    .currency {
        font-size: 2.4rem;
        background: linear-gradient(90deg, #000BAB 0%, #0078FA 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .period {
        color: $darkBlue;
        opacity: .4;
    }
}

@media (max-width: 1600px) {
    /* ***** -- service intro ***** */
    .service-intro {
        .title {
            margin-top: 6.4rem;
        }
    }

    /* ***** -- service nav ***** */
    .service-nav {
        padding: 2.4rem 0;

        a {
            padding: 1.2rem 2.4rem;
        }
    }

    /* ***** -- vm categories ***** */
    .vm-families {
        [class*="col"] {
            &:nth-child(2) {
                transform: scale(1.2);
            }
        }
    }

    .vm-family {
        padding: 2rem 3rem 3rem;
        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);

        .texture {
            &:first-child {
                bottom: calc(100% - 20rem);
            }

            &:last-child {
                bottom: calc(100% - 8rem);
            }
        }
    
        .level {
            font-size: 2.4rem;
        }
    
        .description {
            min-height: 17rem;
            margin: 8rem 0 3rem 0;
        }
        
        .purchase {
            font-size: 1.8rem;
            padding: 1.6rem;
        }
    }

    /* ***** -- service benefits ***** */
    .benefits-list {
        &__item {
            margin: 0 0 4rem 0;
        }
    
        &__icon {
            width: 2.8rem;
            min-width: 2.8rem;
            margin-top: -1px;

            img {
                max-height: 2.4rem;
            }
        }
    
        &__info {
            padding: 0 0 0 6.4rem;
    
            &:before {
                top: 1.5rem;
                left: 2rem;
                width: 2rem;
            }
        }
    
        &__label {
            font-size: 1.8rem;
            line-height: 180%;
        }
    }

    /* ***** -- use cases ***** */
    .use-cases {
        .subtitle {
            font-size: 1.6rem;
            margin: 3.2rem 0 4rem 0;
        }

        &__content {
            padding: 5.6rem 0 5.6rem .8rem;
        }

        &__examples {
            li {
                font-size: 1.6rem;
                margin: 0 1.6rem 1.6rem 0;
            }
        }
    }

    /* ***** -- service prices ***** */
    .prices-table {
        th {
            padding: 1.6rem;
        }

        td {
            padding: 0 1.6rem;
        }

        .purchase {
            padding: 1.6rem 2.4rem;
        }
    }

    /* ***** -- service bundle ***** */
    .service-bundle {
        padding: 2rem 3rem 4rem 3rem;
        box-shadow: 0px 16px 32px rgba(8, 10, 112, 0.15);

        .texture {
            &:first-child {
                bottom: calc(100% - 8rem);
            }

            &:last-child {
                top: calc(100% - 18rem);
            }
        }

        .level {
            font-size: 2.4rem;
        }

        .bundle-description {
            margin: 2.4rem 0;
        }

        .bundle-params {
            margin: 2.4rem 0 10rem 0;

            button {
                font-size: 1.8rem;
            }
        }

        .accordion-item {
            margin-bottom: 2.4rem;

            a {
                font-size: 1.8rem;
            }
        }

        .collapse-content {
            padding-top: .8rem;
        }

        .price {
            font-size: 6.4rem;
        }

        .currency {
            font-size: 1.8rem;
        }

        .period {
            font-size: 1.4rem;
        }
    }

}

@media (max-width: 1360px) {
    /* ***** -- service description ***** */
    .service-description {
        margin: 0;

        .first-chunk,
        .rest-chunk {
            max-width: 100%;
        }
    }

}

@media (max-width: 1200px) {
    /* ***** -- service intro ***** */
    .service-intro {
        .service-preview {
            align-items: center;
        }

        .left {
            width: 59.5%;
            padding: 0 5.6rem 0 0;
        }

        .title {
            margin-top: 0;
        }
    }

    /* ***** -- service benefits ***** */
    .service-benefits {
        .benefits-bg {
            width: 40%;
        }

        &.flat {
            .benefits-list__item {
                width: calc(50% - 15px);
            }
        }
    }

    .benefits-list {
        width: 60%;

        &__item {
            width: 100%;

            &:last-child {
                margin: 0;
            }
        }

        &__desc {
            font-size: 1.4rem;
            line-height: 180%;
        }
    }

    /* ***** -- service prices ***** */
    .service-prices {
        .section-title {
            margin: 0 0 4.8rem 0;
        }
    }

    .filters-group {
        margin: 0;
    }

    .prices-table {
        th, td {
            font-size: 1.4rem;
        }
    }

}

@media (max-width: 991px) {
    /* ***** -- vm categories ***** */
    .vm-categories {
        .section-title {
            margin: 0 0 5.6rem 0;
        }
    }

    .vm-families {
        [class*="col"] {
            margin: 0 0 4.8rem 0;

            &:nth-child(2) {
                transform: none;
            }

            &:last-child {
                margin: 0;
            }
        }
    }

    /* ***** -- service benefits ***** */
    .service-benefits {
        &.flat {
            .benefits-list__item {
                width: 100%;
            }

            .benefits-list__desc {
                max-width: 100%;
            }
        }
    }

    /* ***** -- main features ***** */
    .features-slider {
        .swiper-container {
            box-shadow: 0px 16px 32px rgba(8, 10, 112, 0.15);
        }

        .swiper-pagination {
            opacity: 1;
        }
    }

    .feature-slide {
        padding: 5.6rem 3rem;

        &__label,
        &__info {
            margin: 0 auto 2.4rem auto;
        }

        &__label {
            font-size: 2.4rem;
        }
    }

    /* ***** -- additional features ***** */
    .additional-features {
        li {
            width: 100%;
            padding: 1.6rem 0;
        }
    }

    /* ***** -- service bundles ***** */
    .service-bundles-list {
        [class*="col-"] {
            margin: 0 0 4.8rem 0;
        }
    }

}

@media (max-width: 767px) {
    /* ***** -- service intro ***** */
    .service-intro {
        .left {
            width: 100%;
            padding: 3.2rem 0 0 0;
        }

        .right {
            width: 100%;
        }
    }

    /* ***** -- service benefits ***** */
    .service-benefits {
        .benefits-list {
            width: 100%;
        }
    }

    /* ***** -- use cases ***** */
    .use-cases {
        &__img {
            padding-bottom: 90%;
            margin: 4rem auto;
        }

        &__content {
            padding: 0 0 4rem 0;
        }
    }

}

@media (max-width: 575px) {
    /* ***** -- service intro ***** */
    .service-intro {
        .service-preview {
            padding-bottom: 4rem;
        }
    }

    /* ***** -- service description ***** */
    .service-description {
        padding: 4rem 0;
    }

    /* ***** -- vm categories ***** */
    .vm-categories {
        .section-title {
            margin: 0 0 4.8rem 0;
        }
    }

    /* ***** -- service benefits ***** */
    .benefits-list {
        width: 100%;

        &__item {
            margin: 0 0 3.2rem 0;
        }
    }

}
